﻿.image-container:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f7f7f7;
    opacity: 1;
}

.wizard-card {
    min-height: 500px;
    box-shadow: 0 0px 30px 0px rgba(31, 231, 226, 0.61);
    border-radius: 30px;
}


.btn.btn-success {
    background-color: #28e5e1;
    color: #FFFFFF;
    border-radius: 50px;
    box-shadow: 0px 0px 10px #28e5e1;
}


div#divLoading {
    margin: 30px;
}


footer {
    padding: 15px 0;
    text-align: center;
    background: #fff !important;
    padding: 60px;
    position: inherit !important;
    margin-bottom: 0px;
}

h5, .h5 {
    font-size: 1.5em;
    line-height: 1.4em;
    margin-bottom: 35px;
    color: #11235b;
}

wizard-card[data-color="green"] .form-group .form-control {
    padding: 10px 20px;
}