﻿@model Presentation.Models._2BTrustModel.PessoasModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>2bTrust | Investimentos - [Cadastro Inicial]</title>
    <link href="../Assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../Assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../Assets/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="../Assets/css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <link href="../Assets/css/animate.css" rel="stylesheet">
    <link href="../Assets/css/style.css" rel="stylesheet">

    <link href="../Assets/css/plugins/iCheck/custom.css" rel="stylesheet">

    <link href="../Assets/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">

    <link href="../Assets/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="../Assets/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />


    <link href="../Assets/css/plugins/select2/select2.min.css" rel="stylesheet">

    <!-- FooTable -->
    <link href="../Assets/css/plugins/dataTables/datatables.min.css" rel="stylesheet">




</head>


<body id="page-top" class="landing-page no-skin-config">
    <div class="navbar-wrapper" style="margin-bottom:50px">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background: #eeeeee; padding: 10px; box-shadow: 1px 4px 4px 1px #d8d8d8;">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img id="imgLogo" src="~/assets/img/logos/logo@2x.png" style="width:130px" />

                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a style="color: #828282;" class="page-scroll" href="http://2btrust.com" target="_blank">Site</a></li>
                        <li><a style="color: #828282;" class="page-scroll" href="../Auth">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <section id="features" class="container services">

        <div id="wrapper" style="margin-top:50px">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h2>Formulário de Cadastro</h2>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li>
                                            <a href="#">Config option 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Config option 2</a>
                                        </li>
                                    </ul>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">

                                <p>
                                    Para finalizar seu cadastro, preencha todos os campos obrigatórios(*).
                                </p>
                                <form id="form" action="#" class="wizard-big">

                                    @{Html.RenderPartial("_loading");}
                                    @Html.HiddenFor(c => c.IdStatus)
                                    @Html.HiddenFor(c => c._Usuario.IdUsuarioInclusao)
                                    @Html.HiddenFor(c => c._Usuario.Admin)
                                    @Html.HiddenFor(c => c._PessoaJuridica.IdUsuarioInclusao)
                                    @Html.HiddenFor(c => c._PessoaFisica.IdUsuarioInclusao)
                                    @Html.HiddenFor(c => c._Endereco.IdUsuarioInclusao)
                                    @Html.HiddenFor(c => c._Usuario._Login.IdUsuarioInclusao)
                                    @Html.AntiForgeryToken()
                                    <h1>Dados Pessoais</h1>
                                    <fieldset>
                                        <h2>Informações de sua conta</h2><hr />

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="i-checks">
                                                        <label>
                                                            @Html.CheckBoxFor(m => m.FlagResidenteAmericado)
                                                            <i></i> Residente Americano?
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label>Nome completo *</label>
                                                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control required", @placeholder = "Digite seu nome completo" })

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="input-group date">

                                                    <label>Data de Nascimento *</label>
                                                    @Html.TextBoxFor(m => m.DtNascimento, new { @class = "form-control date required", @placeholder = "" })

                                                </div>

                                            </div>
                                            <div class="col-lg-9">
                                                <div class="form-group">
                                                    <label>E-mail de contato *</label>
                                                    @Html.TextBoxFor(m => m._Usuario.Email, new { @class = "form-control required email", @placeholder = "Digite um e-mail de contato", @type = "Email", @OnChange = "validaEmail()" })
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Digite seu TAX ID *</label>
                                                    @Html.TextBoxFor(m => m._PessoaFisica.TaxId, new { @maxlength = 10, @class = "form-control required TaxId", @placeholder = "Digite seu TaxId" })
                                                </div>
                                            </div>
                                            <div class="col-lg-9">
                                                <div class="form-group">
                                                    <label>Digite seu Número Social?</label>
                                                    @Html.TextBoxFor(m => m._PessoaFisica.SocialNumber, new { @class = "form-control", @placeholder = "Digite seu Social Number" })
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Digite seu CPF *</label>
                                                    @Html.TextBoxFor(m => m._PessoaFisica.CPF, new { @class = "form-control required cpf", @placeholder = "Digite seu CPF" })
                                                </div>
                                            </div>
                                            <div class="col-lg-9">
                                                <div class="form-group">
                                                    <label>Como você gostaria de ser chamado?</label>
                                                    @Html.TextBoxFor(m => m._PessoaFisica.Apelido, new { @class = "form-control", @placeholder = "Digite um apelido" })
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Crie um login *</label>
                                                    @Html.TextBoxFor(m => m._Usuario._Login.Login, new { @class = "form-control required", @placeholder = "Digite um login de acesso", @OnChange = "validaLogin()" })
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Crie uma senha *</label>
                                                    @Html.PasswordFor(m => m._Usuario._Login.Senha, new { @class = "form-control required", @placeholder = "Digite sua senha" })
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Confirme sua senha *</label>
                                                    @Html.PasswordFor(m => m._Usuario._Login.ReSenha, new { @class = "form-control required", @placeholder = "Confirme sua senha" })
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="i-checks"><label> <input id="chkEscolhaJuridica" type="checkbox" value=""> <i></i> Tenho interesse em cadastrar minhas informações de Pessoa Jurídica! </label></div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div id="info-juridica" style="display:none">
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label>Digite seu CNPJ *</label>
                                                        @Html.TextBoxFor(m => m._PessoaJuridica.CNPJ, new { @class = "form-control required", @placeholder = "Digite seu CNPJ" })
                                                    </div>
                                                </div>
                                                <div class="col-lg-9">
                                                    <div class="form-group">
                                                        <label>Digite o nome Fantasia *</label>
                                                        @Html.TextBoxFor(m => m._PessoaJuridica.Fantasia, new { @class = "form-control required", @placeholder = "Digite o nome Fantasia" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </fieldset>

                                    <h1>Endereço</h1>
                                    <fieldset>
                                        <h2>Informações de seu endereço</h2><hr />

                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>ZIP Code *</label>
                                                    @Html.TextBoxFor(m => m._Endereco.Cep, new { @maxlength = 7, @class = "form-control required", @placeholder = "Digite seu Zip Code" })
                                                </div>
                                            </div>
                                            <div class="col-lg-9">
                                                <div class="form-group">
                                                    <label>Logradouro *</label>
                                                    @Html.TextBoxFor(m => m._Endereco.Logradouro, new { @class = "form-control required", @placeholder = "Digite seu endereço" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Número *</label><br />
                                                    @Html.TextBoxFor(m => m._Endereco.Numero, new { @class = "form-control required", @placeholder = "Digite o número", @MaxLength = 8 })
                                                </div>
                                            </div>

                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label>Bairro *</label>
                                                    @Html.TextBoxFor(m => m._Endereco.Bairro, new { @class = "form-control required", @placeholder = "Digite seu endereço" })
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <label>Estado *</label><br />
                                                    @* @Html.DropDownListFor(m => m._Endereco.IdEstado, new SelectList(ViewBag.Estados, "Id", "Nome", 0), "", new { @class = "form-control", @style="width:100%;" })*@
                                                    @Html.TextBoxFor(m => m._Endereco.Estado, new { @class = "form-control required", @placeholder = "Digite sua UF", @MaxLength = 2 })
                                                </div>
                                            </div>

                                        </div><div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label>Complemento</label>
                                                    @* @Html.DropDownListFor(m => m._Endereco.IdEstado, new SelectList(ViewBag.Estados, "Id", "Nome", 0), "", new { @class = "form-control", @style="width:100%;" })*@
                                                    @Html.TextBoxFor(m => m._Endereco.Complemento, new { @class = "form-control", @placeholder = "Digite o complemento do endereço" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label>Cidade *</label>
                                                    @* @Html.DropDownListFor(m => m._Endereco.IdEstado, new SelectList(ViewBag.Estados, "Id", "Nome", 0), "", new { @class = "form-control", @style="width:100%;" })*@
                                                    @Html.TextBoxFor(m => m._Endereco.Cidade, new { @class = "form-control required", @placeholder = "Digite sua cidade" })
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <h1>Documentação</h1>
                                    <fieldset>
                                        <h2>Informações de seus documentos</h2><hr />

                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Documento *</label>
                                                    @Html.DropDownListFor(m => m.objDocumento.IdDocumento, new SelectList(ViewBag.Documentos, "Id", "Nome", 0), "", new { @class = "form-control", @style = "width:100%;" })
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    <label>Número *</label>
                                                    @Html.TextBoxFor(m => m.objDocumento.Conteudo, new { @class = "form-control", @placeholder = "Digite os números de seu documento" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <label>Estado *</label>
                                                    @Html.DropDownListFor(m => m.objDocumento.IdEstado, new SelectList(ViewBag.Estados, "Id", "Sigla", 0), "", new { @class = "form-control", @style = "width:100%;" })
                                                </div>
                                            </div>
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label>Orgão Emissor *</label>
                                                    @Html.DropDownListFor(m => m.objDocumento.IdOrgaoEmissor, new SelectList(ViewBag.OrgaoEmissor, "Id", "Nome", 0), "", new { @class = "form-control", @style = "width:100%;" })
                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                <div class="form-group" style=" padding: 20px;">

                                                    <button type="button" class="btn btn-outline btn-primary" id="btnAdicionarDocs">Adicionar</button>

                                                </div>
                                            </div>

                                        </div>


                                        <div class="wrapper wrapper-content animated fadeInRight">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="ibox float-e-margins">
                                                        <div class="ibox-title">
                                                            <h5>Listagem com meus documentos</h5>
                                                            <div class="ibox-tools">
                                                                <a class="collapse-link">
                                                                    <i class="fa fa-chevron-up"></i>
                                                                </a>
                                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                                    <i class="fa fa-wrench"></i>
                                                                </a>
                                                                <ul class="dropdown-menu dropdown-user">
                                                                    <li>
                                                                        <a href="#">Config option 1</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Config option 2</a>
                                                                    </li>
                                                                </ul>
                                                                <a class="close-link">
                                                                    <i class="fa fa-times"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="ibox-content">

                                                            <div class="table-responsive">
                                                                <table class="table table-striped table-bordered table-hover" id="table-documentos">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Documento</th>
                                                                            <th>Número</th>
                                                                            <th>Estado</th>
                                                                            <th>Orgão Emissor</th>
                                                                            <th>Deletar</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody></tbody>

                                                                </table>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>





                                    </fieldset>

                                    <h1>Termos e Condições</h1>
                                    <fieldset style="height:130%!important">
                                        <h2>Termos e Condições</h2>
                                        <hr />
                                        <div class="row">
                                            <div class="col-lg-8 col-lg-offset-2" style="background: #FFF;    text-align: justify;    padding: 30px;     height: 80%;">
                                                <span style="">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus gravida at odio in molestie. Pellentesque faucibus nibh diam, nec lacinia eros varius nec. Phasellus porttitor a ante quis ullamcorper. Phasellus vitae nisi diam. Sed tincidunt vitae felis vel dictum. Duis condimentum dolor ac lectus elementum, ac pharetra turpis efficitur. Curabitur nec pharetra arcu, tristique mattis urna. Suspendisse ut vehicula odio. Morbi ut consequat nisl, in ornare mi. Morbi sed ornare eros, vitae sagittis nunc. Aenean arcu dui, ullamcorper vitae aliquet et, sodales ac justo. Donec nisl massa, rutrum ac mauris finibus, aliquam consequat orci. Phasellus turpis purus, condimentum et pretium sed, ultricies id augue. Mauris maximus tortor porttitor sem tempor posuere. Maecenas ut augue finibus, porta quam sodales, finibus arcu. In eu tristique arcu.

                                                    Nunc laoreet, metus sed accumsan eleifend, lorem erat maximus leo, eu egestas risus libero at lorem. Ut ultricies mi volutpat magna finibus, vitae condimentum orci suscipit. Aenean vulputate auctor accumsan. Suspendisse sit amet luctus lectus. Fusce dui erat, eleifend eget ullamcorper sed, tempor eu mauris. Praesent pharetra magna nulla, fringilla efficitur neque rutrum eu. Fusce et varius libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse nec velit viverra, finibus diam id, ultrices dolor.

                                                    Aenean quis interdum risus. Curabitur ornare blandit eleifend. Nulla in accumsan nisi, vel sollicitudin odio. Donec in feugiat mauris, eu consectetur nisi. Morbi sed mauris libero. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis ullamcorper lectus at diam tincidunt laoreet. Sed porttitor tellus fermentum, ultrices nisl eget, porta orci. Praesent hendrerit suscipit purus.

                                                    Donec imperdiet viverra ultrices. Ut at placerat neque, quis ultrices velit. Morbi eu enim rutrum, malesuada ligula suscipit, placerat nisi. Cras sagittis elementum maximus. Phasellus eu fringilla risus, vitae blandit nulla. Vestibulum velit nulla, ultricies in auctor in, condimentum eu dolor. Nulla facilisis at felis ac placerat. Morbi ut finibus eros. Nullam in lacus arcu.

                                                    Praesent finibus purus et pellentesque convallis. Nullam vel dictum ante. Nam mollis eros non iaculis vulputate.
                                                </span>
                                            </div>
                                        </div><hr />
                                        <div class="row" style="border-top: 1px solid #cecece; padding: 20px;">
                                            <div class="col-lg-12">
                                                <div class="i-checks"><label> <input id="chkContrato" type="checkbox" value=""> <i></i> Li e estou de acordo! </label></div>
                                            </div>
                                        </div>

                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <footer class="black-bg">
        <div class="footer-widget-area padding-five-tb xs-padding-30px-tb">
            <div class="container">
                <div class="row equalize xs-equalize-auto">
                    <div class="col-md-3 col-sm-6 col-xs-12 widget border-right border-color-medium-dark-gray sm-no-border-right sm-margin-30px-bottom xs-text-center" style="height: 214px;">
                        <!-- start logo -->
                        <a href="/" class=" margin-20px-bottom display-inline-block">
                            <img src="~/assets/img/logos/logo-white.png" />
                        </a>
                        <!-- end logo -->
                        <p class="text-small width-95 xs-width-100"></p>
                        <!-- start social media -->
                        <!-- end social media -->
                    </div>
                    <!-- start additional links -->
                    <!--div class="col-md-3 col-sm-6 col-xs-12 widget border-right border-color-medium-dark-gray padding-45px-left sm-padding-15px-left sm-no-border-right sm-margin-30px-bottom xs-text-center">

                        <ul class="list-unstyled">
                            <li><a class="text-small" href="index.html">Home Classic Corporate</a></li>
                            <li><a class="text-small" href="home-creative-business.html">Home Creative Business</a></li>
                            <li><a class="text-small" href="home-creative-designer.html">Home Creative Designer</a></li>
                            <li><a class="text-small" href="home-portfolio-minimal.html">Home Portfolio Minimal</a></li>
                            <li><a class="text-small" href="home-portfolio-parallax.html">Home Portfolio  parallax</a></li>
                            <li><a class="text-small" href="home-portfolio-personal.html">Home Portfolio Personal</a></li>
                        </ul>
                    </div-->
                    <!-- end additional links -->
                    <!-- start contact information -->
                    <div class="col-md-3 col-sm-6 col-xs-12 widget  border-color-medium-dark-gray padding-45px-left sm-padding-15px-left sm-clear-both sm-no-border-right  xs-margin-30px-bottom xs-text-center" style="height: 214px;">
                        <div class="widget-title alt-font text-medium text-white text-uppercase margin-10px-bottom font-weight-600">Informações de Contato</div>
                        <p class="text-medium display-block margin-15px-bottom width-80 xs-center-col">2bTrust<br> São Paulo</p>
                        <div class="text-medium">Email: <a href="mailto:contato@2btrust.com.br">contato@2btrust.com.br</a></div>
                        <div class="text-medium">Celular: +55 11 0 0000 0000</div>
                        <!--a href="contact-us-modern.html" class="text-small text-uppercase text-decoration-underline">View Direction</a-->
                    </div>
                    <!-- end contact information -->
                    <!-- start instagram -->
                    <!--div class="col-md-3 col-sm-6 col-xs-12 widget padding-45px-left sm-padding-15px-left xs-text-center">
                        <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-20px-bottom font-weight-600">Instagram portfolio</div>
                        <div class="instagram-follow-api">
                            <ul id="instaFeed-footer"></ul>
                        </div>
                    </div-->
                    <!-- end instagram -->
                </div>
            </div>
        </div>
        <div class="bg-dark-footer padding-50px-tb text-center xs-padding-30px-tb">
            <div class="container">
                <div class="row">
                    <!-- start copyright -->
                    <div class="col-md-6 col-sm-6 col-xs-12 text-left text-small xs-text-center">© 2020 - 2bTrust Desenvolvido por <a href="#">Rocket Studio</a></div>
                    <div class="col-md-6 col-sm-6 col-xs-12 text-right text-small xs-text-center">

                    </div>
                    <!-- end copyright -->
                </div>
            </div>
        </div>
    </footer>

    <script src="~/assets/js/site.js"></script>
    <!-- Mainly scripts -->
    <script src="../Assets/js/jquery-3.1.1.min.js"></script>
    <script src="../Assets/js/bootstrap.min.js"></script>
    <script src="../Assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="../Assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="../Assets/js/inspinia.js"></script>
    <script src="../Assets/js/plugins/pace/pace.min.js"></script>
    <!-- Steps -->
    <script src="../Assets/js/plugins/steps/jquery.steps.min.js"></script>
    <!-- Jquery Validate -->
    <script src="../Assets/js/plugins/validate/jquery.validate.min.js"></script>

    <!-- iCheck -->
    <script src="../Assets/js/plugins/iCheck/icheck.min.js"></script>

    <!-- Data picker -->
    <script src="../Assets/js/plugins/datapicker/bootstrap-datepicker.js"></script>

    <!-- MASK -->
    <script src="../Assets/js/plugins/jasny/jasny-bootstrap.min.js"></script>

    <!-- SWEET ALERT -->
    <script src="../Assets/js/plugins/sweetalert/sweetalert.min.js"></script>

    <!-- Select2 -->
    <script src="../Assets/js/plugins/select2/select2.full.min.js"></script>

    <!-- FooTable -->
    <script src="../Assets/js/plugins/dataTables/datatables.min.js"></script>

    <script>
        var idDocumentoINS = 0;
        var fAceitoContrato = false;

        function validaEmail() {
            showLoading("Aguarde...")
            var sEmail = $("[Name='_Usuario.Email']").val();
            $.ajax({
                url: '../CadastreAqui/ValidaEmailInicial',
                type: 'POST',
                data: { sEmail: sEmail },
                beforeSend: function () {

                },
                onsuccess: function () { },
                success: function (result) {
                    if (result.statusRetorno != 'success') {
                        hideLoading();
                        swal("Atenção", result.statusRetorno, "error");

                        $("[Name='_Usuario.Email']").val("");

                    }
                    hideLoading();
                }
            });
        };

        function validaLogin() {
            showLoading("Aguarde...")
            var sUsuario = $("[Name='_Usuario._Login.Login']").val();
            $.ajax({
                url: '../CadastreAqui/ValidaUsuarioInicial',
                type: 'POST',
                data: { sUsuario: sUsuario },
                beforeSend: function () {

                },
                onsuccess: function () { },
                success: function (result) {
                    if (result.statusRetorno != 'success') {
                        hideLoading();
                        swal("Atenção", result.statusRetorno, "error");

                        $("[Name='_Usuario._Login.Login']").val("");

                    }
                    hideLoading();
                }
            });
        };
        $(document).ready(function () {

            $('body').scrollspy({
                target: '.navbar-fixed-top',
                offset: 80
            });

         



            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {

                    if (newIndex == 1 && $("[Name='_Usuario._Login.Senha']").val() != $("[Name='_Usuario._Login.ReSenha']").val()) {
                        swal("Atenção", "A senha e confirmação de senha devem ser iguais", "error");
                        return false;
                    }

                    if (newIndex == 3 && idDocumentoINS == 0) {
                        swal("Atenção", "É necessário cadastrar pelo menos um documento", "error");
                        return false;

                    }


                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }


                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {

                    if (fAceitoContrato == false) {
                        swal("Atenção", "É necessário aceitar o Termo e Condições de uso!", "error");
                        return false;
                    }

                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false


                    var form = $(this);
                    showLoading("Salvando Informações");
                    $.ajax({
                        url: '../CadastreAqui/Index',
                        type: 'POST',
                        data: form.serialize(),
                        beforeSend: function () {

                        },
                        onsuccess: function () { },
                        success: function (result) {
                            if (result == true) {
                                hideLoading();
                                swal("Perfeito", "Cadastro realizado com sucesso! Acesse seu email para liberar sua conta", "success");

                                setTimeout(function () {
                                    window.location = "../Auth";
                                }, 2000);

                            }
                            else {
                                hideLoading();
                                swal("Atenção", "Ocorreu um erro ao efetuar seu cadastro! Tente novamente", "error");
                            }
                        }
                    });



                    return form.valid();
                },
                onFinished: function (event, currentIndex) {

                    var form = $(this);

                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                },
                messages: { required: "Campo Obrigatório" },

            });
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            //masks
            $("[Name='_PessoaFisica.CPF']").attr("data-mask", "999.999.999-99")
            // $("[Name='_Endereco.Cep']").attr("data-mask", "99999[-9999]")
            $('#DtNascimento').attr("data-mask", "99/99/9999")
            $("[Name='_Endereco.sEstado']").attr("data-mask", "aa")
            $("[Name='_PessoaJuridica.CNPJ']").attr("data-mask", "99.999.999/9999-99")


             $("[Name='_Endereco.Cep']").on("change", function () {
             

                 showLoading("One Moment Please",'Loading...');
                 $.ajax({
                     timeout: 1500,
                     dataType: "json",
                     url: 'http://api.zippopotam.us/us/' + $(this).val(),
                     success: function (dados) {
                      
                           $("[Name='_Endereco.Estado']").val(dados.places[0]["state abbreviation"])
                           $("[Name='_Endereco.Estado']").attr("readonly", true);
                           $("[Name='_Endereco.Cidade']").val(dados.places[0]["place name"])
                           $("[Name='_Endereco.Cidade']").attr("readonly", true);
                         
                           hideLoading();
                     }
                     ,
                     error: function (jqXHR, exception) {
                         hideLoading();
                         swal("Atenção", "Nenhum endereço encontrado!", "error");
                         $("[Name='_Endereco.Estado']").val('')
                         $("[Name='_Endereco.Estado']").attr("readonly", false);
                         $("[Name='_Endereco.Cidade']").val('')
                         $("[Name='_Endereco.Cidade']").attr("readonly", false);
                     }
             
                 });
             
             
             });




            $('#DtNascimento').datepicker({
                startView: 3,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: "mm/dd/yyyy",
                language: "en-US",
                onSelect: function () {
                    $(this).change();
                }
            });
            $('#DtNascimento').on("change", function () {

                if (!validaDataEN($(this).val())) {
                    $('.date').val("");
                    swal("Atenção", "Data Inválida!", "error");
                }

            })
             
            
            function validaDataEN(dt) {
                alert(dt)
                var reGoodDate = /^((0?[1-9]|1[012])[- /.](0?[1-9]|[12][0-9]|3[01])[- /.](19|20)?[0-9]{2})*$/;
                return reGoodDate.test(dt);
            }


 
            $('#chkEscolhaJuridica').on('ifUnchecked', function () { $("#info-juridica").fadeOut(500); })
            $('#chkEscolhaJuridica').on('ifChecked', function () { $("#info-juridica").fadeIn(500); })

            $('#chkContrato').on('ifUnchecked', function () { fAceitoContrato = false; })
            $('#chkContrato').on('ifChecked', function () { fAceitoContrato = true; })




            $("[Name='_Endereco.IdEstado']").select2({
                placeholder: " ",
                allowClear: true
            });

            $("[Name='objDocumento.IdEstado']").select2({
                placeholder: " ",
                allowClear: true
            });

            $("[Name='objDocumento.IdOrgaoEmissor']").select2({
                placeholder: " ",
                allowClear: true
            });


            $("[Name='objDocumento.IdDocumento']").select2({
                placeholder: " ",
                allowClear: true
            });


            $("#btnAdicionarDocs").on("click", function () {

                var dataDocumento = $("[Name='objDocumento.IdDocumento']").select2('data')
                var idDocumento = dataDocumento[0].id;
                var sDocumento = dataDocumento[0].text;

                var sNumeroDoc = $("[Name='objDocumento.Conteudo']").val();

                var dataEstado = $("[Name='objDocumento.IdEstado']").select2('data')
                var idEstado = dataEstado[0].id;
                var sEstado = dataEstado[0].text;


                var dataOrgao = $("[Name='objDocumento.IdOrgaoEmissor']").select2('data')
                var idOrgao = dataOrgao[0].id;
                var sOrgao = dataOrgao[0].text;


                if (idDocumento == 0 || idDocumento == '') {
                    swal("Atenção", "É necessário escolher um tipo de documentação!", "error")
                    return false;
                } else if (sNumeroDoc == '') {
                    swal("Atenção", "É necessário digitar os números do documento!", "error")
                    return false;
                } else if (idEstado == 0 || idEstado == '') {
                    swal("Atenção", "É necessário escolher o UF de emissão!", "error")
                    return false;
                } else if (idOrgao == 0 || idOrgao == '') {
                    swal("Atenção", "É necessário escolher o Orgão Emissor!", "error")
                    return false;
                }
                addNewDocumento(idDocumento, sDocumento, sNumeroDoc, idEstado, sEstado, idOrgao, sOrgao);

            });


            $("[Name='objDocumento.IdEstado']").on('select2:select', function (e) {

                var idEstado = $(this).val();


                $.ajax({
                    url: '@Url.Action("GetOrgaosEmissoresByIdEstado", "CadastreAqui")',
                    contentType: 'application/json',
                    data: { idEstado: idEstado },
                    success: function (data) {
                        console.log(data)
                        $("[Name='objDocumento.IdOrgaoEmissor']").html('');
                        $.each(data, function (a) {
                            console.log(data[a])
                            $("[Name='objDocumento.IdOrgaoEmissor']").append( // Append an object to the inside of the select box
                                $("<option></option>") // Yes you can do this.
                                    .text(data[a].Nome)
                                    .val(data[a].Id)
                            );
                          

                        });

                    }
                });

            });


            jQuery.validator.addMethod("cpf", function (value, element) {
                value = jQuery.trim(value);

                value = value.replace('.', '');
                value = value.replace('.', '');
                cpf = value.replace('-', '');
                while (cpf.length < 11) cpf = "0" + cpf;
                var expReg = /^0+$|^1+$|^2+$|^3+$|^4+$|^5+$|^6+$|^7+$|^8+$|^9+$/;
                var a = [];
                var b = new Number;
                var c = 11;
                for (i = 0; i < 11; i++) {
                    a[i] = cpf.charAt(i);
                    if (i < 9) b += (a[i] * --c);
                }
                if ((x = b % 11) < 2) { a[9] = 0 } else { a[9] = 11 - x }
                b = 0;
                c = 11;
                for (y = 0; y < 10; y++) b += (a[y] * c--);
                if ((x = b % 11) < 2) { a[10] = 0; } else { a[10] = 11 - x; }

                var retorno = true;
                if ((cpf.charAt(9) != a[9]) || (cpf.charAt(10) != a[10]) || cpf.match(expReg)) retorno = false;

                return this.optional(element) || retorno;

            }, "Informe um CPF válido");



            function addNewDocumento(idDocumento, sDocumento, sNumero, idUf, sUf, idOrgao, sOrgao) {
                idDocumentoINS--;
                var idDocumentoNovo = idDocumentoINS;

                $.ajax({
                    url: '@Url.Action("SetDocumentosCadastro", "CadastreAqui")',
                    contentType: 'application/json',
                    data: { idPessoaDocumento: idDocumentoNovo, idDocumento: idDocumento, sDocumento: sDocumento, sNumero: sNumero, idUF: idUf, sUF: sUf, idOrgao: idOrgao, sOrgao: sOrgao },
                    success: function (data) {

                        var fInsert = data;
                        if (fInsert < 0) {

                            addRowTable(idDocumentoNovo, sDocumento, sNumero, sUf, sOrgao)
                        }
                        else {
                            swal("Ops!", "Ocorreu um erro.", "error")
                        }

                    }

                });
            }

            function addRowTable(idDocumentoInsert, sDocumento, sNumero, sUf, sOrgao) {
                $("#table-documentos > tbody").
                    append("<tr id='tr-" + idDocumentoInsert + "'><td>" + sDocumento + "</td><td>" + sNumero + "</td><td>" + sUf + "</td><td>" + sOrgao + "</td><td><a  onclick='dellDocumento(" + idDocumentoInsert + ")'   iddocumento='" + idDocumentoInsert + "'   href='javascript:;' class='btn btn-danger btn-xs dellTelefone' style='color:white'> Deletar <i class='fa  fa-trash-o'></i></td></tr>");
            }


        });



        function dellDocumento(idPessoaDocumento) {

            $.ajax({
                url: '@Url.Action("deleteDocumentoCadastro", "CadastreAqui")',
                contentType: 'application/json',
                data: { idPessoaDocumento: idPessoaDocumento },
                success: function (data) {

                    if (data == false) {
                        swal("Ops!", "Ocorreu um erro.", "error");
                    }
                    else {
                        swal("Sucesso!", "Documento apagado com Sucesso.", "success");
                        $("#tr-" + idPessoaDocumento).remove();
                        idDocumentoINS++;
                    }

                }

            });
        }


        //var cbpAnimatedHeader = (function () {
        //    var docElem = document.documentElement,
        //            header = document.querySelector('.navbar-default'),
        //            didScroll = false,
        //            changeHeaderOn = 10;
        //    function init() {
        //        window.addEventListener('scroll', function (event) {
        //            if (!didScroll) {
        //                didScroll = true;
        //                setTimeout(scrollPage, 250);
        //            }
        //        }, false);
        //    }
        //    function scrollPage() {
        //        var sy = scrollY();
        //        if (sy >= changeHeaderOn) {
        //            $(header).addClass('navbar-scroll')
        //            $("#imgLogo").attr('src', '../assets/img/logos/logo@2x.png')
        //        }
        //        else {
        //            $(header).removeClass('navbar-scroll')
        //            $("#imgLogo").attr('src', '../assets/img/logos/logo.png')
        //        }
        //        didScroll = false;
        //    }
        //    function scrollY() {
        //        return window.pageYOffset || docElem.scrollTop;
        //    }
        //    init();

        //})();

        // Activate WOW.js plugin for animation on scrol
        new WOW().init();

    </script>

</body>