﻿@model Presentation.Models._2BTrustModel.PessoasModel
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>2bTrust | Investimentos - [Cadastro Inicial]</title>
    <link rel="shortcut icon" type="image/png" href=@Url.Content("~/assets/img/favicon.ico") />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="~/assets/materialBootstrapWizard/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/materialBootstrapWizard/assets/css/material-bootstrap-wizard.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/assets/materialBootstrapWizard/assets/css/demo.css" rel="stylesheet" />

    <link href="../Assets/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />


    <link href="../Assets/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="../Assets/interTel/css/intlTelInput.css" rel="stylesheet" />
    <link href="../Assets/interTel/css/demo.css" rel="stylesheet" />
    <style>
        #iframe {
            zoom: 0.15;
            -moz-transform: scale(0.75);
            -moz-transform-origin: 0 0;
            -o-transform: scale(0.75);
            -o-transform-origin: 0 0;
            -webkit-transform: scale(0.75);
            -webkit-transform-origin: 0 0;
        }
    </style>
</head>

<body style="background-image: url('https://2btrust.com/assets/images/rev-slider/index1-bg.jpg');  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">

    <div class="">
        <!--   Creative Tim Branding   -->
        @*<a href="../Auth">
                <div class="logo-container">
                    <div class=" ">
                        <img id="imgLogo" src="http://54.69.175.194:7779/Content/images/logo-white@2x.png" style="width:130px" />
                    </div>
                </div>
            </a>*@

        @{Html.RenderPartial("_loading");}
        <!--   Big container   -->



        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="green" id="wizardProfile">
                            <form id="formCadastreAqui" autocomplete="off" action="#" class="wizard-big">

                                @Html.HiddenFor(c => c.IdStatus)
                                @Html.HiddenFor(c => c._Usuario.IdUsuarioInclusao)
                                @Html.HiddenFor(c => c._Usuario.Admin)
                                @Html.HiddenFor(c => c._PessoaJuridica.IdUsuarioInclusao)
                                @Html.HiddenFor(c => c._PessoaFisica.IdUsuarioInclusao)
                                @Html.HiddenFor(c => c._Endereco.IdUsuarioInclusao)
                                @Html.HiddenFor(c => c._Usuario._Login.IdUsuarioInclusao)

                                <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                                <div class="wizard-header">

                                    @*<img id="imgLogo" src="https://app.2btrust.com/assets/img/logos/2B-still.png" style="width:130px" />*@

                                    <h3 class="wizard-title">
                                        Welcome!
                                    </h3>
                                </div>
                                <div class="wizard-navigation">
                                    <ul>
                                        <li><a href="#dados" data-toggle="tab">Personal Information</a></li>
                                        <li><a href="#endereco" data-toggle="tab">Address</a></li>
                                        <li><a href="#docs" data-toggle="tab">Documents</a></li>
                                        <li><a href="#cond" data-toggle="tab">Agreements</a></li>
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane" id="dados">

                                        <div class="row">

                                            <div class="col-sm-12">
                                                <div class="checkbox">
                                                    <label style="color:#251a1a">
                                                        @Html.CheckBoxFor(m => m.FlagResidenteAmericado)
                                                        Non-US Resident
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="picture-container">
                                                    <div class="picture">
                                                        <img src="~/assets/materialBootstrapWizard/assets/img/default-avatar.png" class="picture-src" id="wizardPicturePreview" title="" />
                                                        <input type="file" id="wizard-picture">
                                                    </div>
                                                    <h6>Choose Picture</h6>
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="col-sm-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">face</i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Name <small>*</small></label>
                                                            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control required" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">event</i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">
                                                                Date of Birth
                                                                <small>*</small>
                                                            </label>
                                                            @Html.TextBoxFor(m => m.DtNascimento, "{0:MM/dd/yyyy}", new { @class = "form-control required" })

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6" id="dvITIN">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">fingerprint</i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">ITIN <small></small></label>
                                                            @Html.TextBoxFor(m => m._PessoaFisica.ITIN, new { @class = "form-control nonvalidade" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6" id="dvCPF" style="display:none">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">
                                                                fingerprint
                                                            </i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">ID <small>*</small></label>
                                                            @Html.TextBoxFor(m => m._PessoaFisica.CPF, new { @class = "form-control required " })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">mail</i>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Email <small>*</small></label>
                                                        @Html.TextBoxFor(m => m._Usuario.Email, new { @class = "form-control required email", @type = "Email", @OnChange = "validaEmail()" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3" id="dvTAX">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">fingerprint</i>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">EIN<small></small></label>
                                                        @Html.TextBoxFor(m => m._PessoaFisica.TaxId, new { @maxlength = 10, @class = "form-control nonvalidade   TaxId" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-1" id="dvTAXor" style=" padding: 30px;">
                                                <div class="input-group">

                                                    <div class="form-group label-floating">
                                                        <label class="control-label" style="    font-size: 14px!important;">or </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4" id="dvSOCIAL">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">fingerprint</i>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Social Security Number (SSN) <small></small></label>
                                                        @Html.TextBoxFor(m => m._PessoaFisica.SocialNumber, new { @class = "form-control nonvalidade", @OnChange = "validaSocialNumber()" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">group</i>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Username <small>*</small></label>
                                                        @Html.TextBoxFor(m => m._Usuario._Login.Login, new { @class = "form-control required", @OnChange = "validaLogin()" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-shield"></i>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Password <small>*</small></label>
                                                        @Html.PasswordFor(m => m._Usuario._Login.Senha, new { @class = "form-control required" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-shield"></i>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Confirm Password <small></small></label>
                                                        @Html.PasswordFor(m => m._Usuario._Login.ReSenha, new { @class = "form-control required" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        @*<div class="row">
                                                <div class="col-sm-12">
                                                    <div class="checkbox">
                                                        <label style="color:#251a1a">
                                                            <input type="checkbox" id="flagChkTermosPrivacidade" />
                                                            I have reviewed and agree to the <i><a href="../CadastreAqui/TermsServices" target="_blank">Terms of Use</a> </i> and <i><a target="_blank" href="../CadastreAqui/PrivacyPolicy">Privacy Policy</a> .</i>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>*@

                                    </div>

                                    <div class="tab-pane" id="endereco">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">call</i>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Mobile number <small>*</small></label>
                                                        @Html.TextBox("fone01","", new { @class = "phoneinter required" })
                                                        @Html.HiddenFor(c=>c.TelefoneCelular)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">call</i>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Commercial number <small></small></label>
                                                        @Html.TextBox("fone02", "", new { @class = "phoneinter2" })
                                                        @Html.HiddenFor(c => c.TelefoneComercial)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">account_box</i>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Employment Status <small>*</small></label>
                                                        <select name="_PessoaFisica.EmploymentStatus" id="_PessoaFisica_EmploymentStatus" class="form-control required">
                                                            <option disabled="" selected=""></option>
                                                            <option value="1"> Employed</option>
                                                            <option value="2"> Retired</option>
                                                            <option value="3"> Self Employed </option>
                                                            <option value="4"> At-Home Trader (No Other Occupation) </option>
                                                            <option value="5"> Student/Intern </option>
                                                            <option value="6"> Homemaker </option>
                                                            <option value="7"> Unemployed </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">aspect_ratio</i>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Employer <small></small></label>
                                                        @Html.TextBoxFor(m => m._PessoaFisica.Employer, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">aspect_ratio</i>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Nature Of Business <small></small></label>
                                                        @Html.TextBoxFor(m => m._PessoaFisica.NatureOfBusiness, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">aspect_ratio</i>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Ocupation <small></small></label>
                                                        @Html.TextBoxFor(m => m._PessoaFisica.Ocupation, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div><hr />
                                              <div class="row" id="dvEnderecoOther" style="display:none">

                                                  <div class="col-sm-3">
                                                      <div class="input-group">
                                                          <span class="input-group-addon">
                                                              <i class="fa fa-location-arrow"></i>
                                                          </span>
                                                          <div class="form-group label-floating">
                                                              <label class="control-label">Code <small>*</small></label>
                                                              @Html.TextBoxFor(m => m._Endereco.Cep, new { @maxlength = 9, @class = "form-control required cepCodeChange somenteNumero" })

                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-sm-6">
                                                      <div class="input-group">
                                                          <span class="input-group-addon">
                                                          </span>
                                                          <div class="form-group label-floating">
                                                              <label class="control-label">Street <small>*</small></label>
                                                              @Html.TextBoxFor(m => m._Endereco.Logradouro, new { @class = "form-control required", @id = "_Endereco_Logradouro" })

                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-sm-3">
                                                      <div class="input-group">
                                                          <span class="input-group-addon">
                                                          </span>
                                                          <div class="form-group label-floating">
                                                              <label class="control-label">Number <small>*</small></label>
                                                              @Html.TextBoxFor(m => m._Endereco.Numero, new { @class = "form-control required", @MaxLength = 8 })

                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-sm-4">
                                                      <div class="input-group">
                                                          <span class="input-group-addon">
                                                          </span>
                                                          <div class="form-group label-floating">
                                                              <label class="control-label">
                                                                  District
                                                                  <small>*</small>
                                                              </label>
                                                              @Html.TextBoxFor(m => m._Endereco.Bairro, new { @class = "form-control required", @id = "_Endereco_Bairro" })
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-sm-4">
                                                      <div class="input-group">
                                                          <span class="input-group-addon">
                                                          </span>
                                                          <div class="form-group label-floating">
                                                              <label class="control-label">Complement <small> </small></label>
                                                              @Html.TextBoxFor(m => m._Endereco.Complemento, new { @class = "form-control" })
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-sm-4">
                                                      <div class="input-group">
                                                          <span class="input-group-addon">
                                                          </span>
                                                          <div class="form-group label-floating">
                                                              <label class="control-label">State <small>*</small></label>
                                                              @Html.TextBoxFor(m => m._Endereco.Estado, new { @class = "form-control required", @MaxLength = 2, @id = "_Endereco_Estado" })
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-sm-6">
                                                      <div class="input-group">
                                                          <span class="input-group-addon">
                                                          </span>
                                                          <div class="form-group label-floating">
                                                              <label class="control-label">City <small>*</small></label>
                                                              @Html.TextBoxFor(m => m._Endereco.Cidade, new { @class = "form-control required", @MaxLength = 92, @id = "_Endereco_Cidade" })
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-sm-6">
                                                      <div class="input-group">
                                                          <span class="input-group-addon">
                                                          </span>
                                                          <div class="form-group label-floating">
                                                              <label class="control-label">Country <small> </small></label>
                                                              @Html.TextBoxFor(m => m._Endereco.Pais, new { @class = "form-control" })
                                                          </div>
                                                      </div>
                                                  </div>


                                              </div>

                                        <div class="row" id="dvEnderecoEUA" style="display:block">

                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-location-arrow"></i>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Zip code <small>*</small></label>
                                                        @Html.TextBoxFor(m => m._Endereco.CepUSA, new { @maxlength = 7, @class = "form-control required zipCodeChange somenteNumero" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Address line 1 <small>*</small></label>
                                                        @Html.TextBoxFor(m => m._Endereco.LogradouroUSA, new { @class = "form-control required" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Address line 2 <small> </small></label>
                                                        @Html.TextBoxFor(m => m._Endereco.ComplementoUSA, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="col-sm-3">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Número <small>*</small></label>
                                                            @Html.TextBoxFor(m => m._Endereco.Numero, new { @class = "form-control required", @MaxLength = 8 })

                                                        </div>
                                                    </div>
                                                </div>*@
                                            @*<div class="col-sm-3">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Bairro <small>*</small></label>
                                                            @Html.TextBoxFor(m => m._Endereco.Bairro, new { @class = "form-control required" })
                                                        </div>
                                                    </div>
                                                </div>*@
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">State <small>*</small></label>
                                                        @Html.TextBoxFor(m => m._Endereco.Estado, new { @class = "form-control required", @MaxLength = 2 })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">City <small>*</small></label>
                                                        @Html.TextBoxFor(m => m._Endereco.Cidade, new { @class = "form-control required", @MaxLength = 92 })
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="col-sm-6">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Complemento <small> </small></label>
                                                            @Html.TextBoxFor(m => m._Endereco.Complemento, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>*@
                                        </div>

                                    </div>

                                    <div class="tab-pane" id="docs">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @*<h4 class="info-text"> Great, we're almost there! </h4>*@
                                            </div>
                                            <div class="row">

                                                <div class="col-sm-3">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-file"></i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Document type <small>*</small></label>
                                                            @Html.DropDownListFor(m => m.objDocumento.IdDocumento, new SelectList(ViewBag.Documentos, "Id", "Nome", 0), "", new { @class = "form-control", @style = "width:100%;" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-file"></i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Number <small>*</small></label>
                                                            @Html.TextBoxFor(m => m.objDocumento.Conteudo, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3" id="descDocumento" style="display:none">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-file"></i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Description <small>*</small></label>
                                                            @Html.TextBoxFor(m => m.objDocumento.Description, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<div class="col-sm-3">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                            </span>
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">Estado <small>*</small></label>
                                                                @Html.DropDownListFor(m => m.objDocumento.IdEstado, new SelectList(ViewBag.Estados, "Id", "Sigla", 0), "", new { @class = "form-control", @style = "width:100%;" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                            </span>
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">Orgão Emissor <small>*</small></label>
                                                                @Html.DropDownListFor(m => m.objDocumento.IdOrgaoEmissor, new SelectList(ViewBag.OrgaoEmissor, "Id", "Nome", 0), "", new { @class = "form-control", @style = "width:100%;" })
                                                            </div>
                                                        </div>
                                                    </div>*@
                                                <div class="col-sm-3">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <button type="button" style="margin-top: -10px;" class=" btn btn-next btn-fill btn-default btn-wd" id="btnAdicionarDocs">Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12" style="padding: 40px; padding-bottom:0px">
                                                    <div class="ibox-content">

                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-bordered table-hover" id="table-documentos">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Document type</th>
                                                                        <th>Description</th>
                                                                        <th>Number</th>
                                                                        <th>Delete</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>

                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            @*<div id="w8PDF" style="">
                                                    <div class="row" style="padding:12px">
                                                        <div class="col-sm-12">
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" style="    box-shadow: 1px -3px 5px 2px #c5bfbf;">
                                                                    <h4 class="panel-title">
                                                                        <a data-toggle="collapse" data-parent="#accordion" onclick="fnReloadFrame('pdfFrame8')" href="#collapseOne">
                                                                            <span class="glyphicon glyphicon-plus">
                                                                            </span> Certificate of Foreign Status of Beneficial Owner for United
                                                                            States Tax Withholding and Reporting
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapseOne" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <iframe id="pdfFrame8" src="../../Documentos/fw8ben.pdf?zoom=250" style="width:100%; height:500px;" frameborder="0"></iframe>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12" style="    padding: 20px;">
                                                            <div class="checkbox">
                                                                <label style="color:#251a1a">
                                                                    @Html.CheckBoxFor(m => m.fConfirmoDados, new { @class = "", @id = "fConfirmoDadosW8" })
                                                                    I certify that the information provided is true and correct and understant it will be used in the W-8. I have reviewed and acknowledge the W-8.
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@

                                            @*<div id="w9PDF" style="display:none">
                                                    <div class="row" style="padding:12px">
                                                        <div class="col-sm-12">
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" style="    box-shadow: 1px -3px 5px 2px #c5bfbf;">
                                                                    <h4 class="panel-title">
                                                                        <a data-toggle="collapse" data-parent="#accordion" onclick="fnReloadFrame('pdfFrame8')" href="#collapseSEC">
                                                                            <span class="glyphicon glyphicon-plus">
                                                                            </span> Request for Taxpayer Identification Number and Certification

                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapseSEC" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <iframe id="pdfFrame9" src="../../Documentos/W-9.pdf#view=FitH" style="width:100%; height:500px;" frameborder="0"></iframe>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12" style="    padding: 20px;">
                                                            <div class="checkbox">
                                                                <label style="color:#251a1a">
                                                                    @Html.CheckBoxFor(m => m.fConfirmoDados, new { @class = "", @id = "fConfirmoDadosW9" })
                                                                    I certify that the information provided is true and correct and understant it will be used in the W-9. I have reviewed and acknowledge the W-9.
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@

                                        </div>
                                        <hr />
                                        <div class="row">



                                            <div class="row" style="margin-top:0px">
                                                <div class="col-sm-12">
                                                    <h4 class="info-text"> What value would you like to invest initially? </h4>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">money</i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Init value <small>*</small></label>
                                                            <select name="ValorInicial" id="ValorInicial" class="form-control required">
                                                                <option disabled="" selected=""></option>
                                                                <option value="5000"> $5,000.00 </option>
                                                                <option value="10000"> $10,000.00 </option>
                                                                <option value="30000"> $30,000.00 </option>
                                                                <option value="100000"> $100,000.00 </option>
                                                                <option value="250000"> $250,000.00 </option>
                                                                <option value="300000"> $300,000.00 </option>
                                                                <option value="500000"> $500,000.00 </option>
                                                                <option value="1000000"> $1,500,000.00 </option>
                                                                <option value="0"> Others </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3" id="descValorInicial" style="display:none">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-file"></i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Description <small>*</small></label>
                                                            @Html.TextBox("ValorInicialOther", "", new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="tab-pane" id="cond">
                                        <div class="row">
                                            <div class="col-sm-12" style="margin-top:70px">
                                                @*<h4 class="info-text"> Please confirm receipt and indicate agreement with the following documents. </h4>*@
                                                <h4 class="info-text"> By clicking Finish, I hereby acknowledge that I have read and understand the Terms and Conditions and the Privacy Policy. I further acknowledge that the information I have provided herein will be used for purposes of qualification and acceptance in use of the systems provided by 2bTrust, LLC. </h4>
                                            </div>
                                            @*<div class="col-sm-12" style="padding: 20px;">
                                                    <div class="checkbox">
                                                        <label style="color:#251a1a">
                                                            @Html.CheckBoxFor(m => m.fCondicao1)
                                                            I have reviewed the PPM and disclosures per my selected investment Plan and understand the risks associated with such offerings.
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12" style="padding: 20px;">
                                                    <div class="checkbox">
                                                        <label style="color:#251a1a">
                                                            @Html.CheckBoxFor(m => m.fCondicao2)
                                                            I understand the number of units I will have.
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12" style="padding: 20px;">
                                                    <div class="checkbox">
                                                        <label style="color:#251a1a">
                                                            @Html.CheckBoxFor(m => m.fCondicao3)
                                                            I represent that my investment(s) in this offering(s) does not constitute more than the greater of 10% of my gross annual income or net worth, either individually or in the aggregate.
                                                        </label>
                                                    </div>
                                                </div>


                                                <div class="col-sm-12" style="padding: 20px;">
                                                    <div class="checkbox">
                                                        <label style="color:#251a1a">
                                                            @Html.CheckBoxFor(m => m.fCondicao4)
                                                            I acknowledge that I have not been provided tax advice by 2Btrust Advisors, LLC or any of its managed Employee or affiliates, and that I have been encouraged to consult with my personal investment and tax advisors.
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12" style="padding: 20px;">
                                                    <div class="checkbox">
                                                        <label style="color:#251a1a">
                                                            @Html.CheckBoxFor(m => m.fCondicao5)
                                                            I have reviewed and acknowledge Private Placement Memorandum.
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12" style="padding: 20px;">
                                                    <div class="checkbox">
                                                        <label style="color:#251a1a">
                                                            @Html.CheckBoxFor(m => m.fCondicao6)
                                                            I have reviewed and agree to the Private Placement Memorandum.
                                                        </label>
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next' />
                                        <input type='button' class='btn btn-finish btn-fill btn-success btn-wd' name='finish' value='Finish' />
                                    </div>
                                    <div class="pull-left">
                                        <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div> <!-- wizard container -->
                </div>
            </div><!-- end row -->
        </div> <!--  big container -->
        <footer class="" style=" background:#e3e6e8; margin-top: 80px;
        bottom: 0;
        bottom: 0;
        left: 0;
        width: 100%;">
            <div class="footer-widget-area padding-five-tb xs-padding-30px-tb">
                <div class="container">
                    <div class="row equalize xs-equalize-auto">


                        <div class="col-md-12" style="    text-align: center;   color: #55595e;">

                            <p class="text-small width-95 xs-width-100">
                                (C) 2020 2bTrust, LLC. All Rights Reserved. Our privacy policy can be found <a   href="https://2btrust.com/index.php/privacy-policy/" target="_blank">here</a>.

                            </p>
                        </div>
                        <div class="col-md-12" style=";">
                            <!-- start logo -->
                            <a href="/" class="display-inline-block">
                                <img src="../assets/img/logos/2BFooter.png" style="width:80px" />
                            </a>
                            <!-- end logo -->
                            <p class="text-small width-95 xs-width-100"></p>
                            <!-- start social media -->
                            <!-- end social media -->
                        </div>


                    </div>
                </div>
            </div>
            <div class="bg-dark-footer padding-50px-tb text-center">
                <div class="container">
                    <div class="row">
                        <!-- start copyright -->
                        <div class="col-md-12 text-small xs-text-center" style="color: #55595e;">© 2020 - 2bTrust</div>

                    </div>
                    <!-- end copyright -->
                </div>
            </div>

        </footer>
        @*<footer class="section-black" style="margin-top: 80px;
            bottom: 0;
            bottom: 0;
            left: 0;
            width: 100%;">
                    <div class="footer-widget-area padding-five-tb">
                        <div class="container">
                            <div class="row equalize xs-equalize-auto">


                                <div class="col-md-12" style="    text-align: center;   color: #b4b3d2;">

                                    <p class="text-small width-95 xs-width-100">
                                        (C) 2020 2bTrust, LLC. All Rights Reserved. Our privacy policy can be found <a  href="https://2btrust.com/index.php/privacy-policy/" target="_blank">here</a>.

                                    </p>
                                </div>
                                <div class="col-md-12" style=";">
                                    <!-- start logo -->
                                    <a href="/" class="display-inline-block">
                                        <img src="~/assets/img/logos/logo-white.png" style="width:80px" />
                                    </a>
                                    <!-- end logo -->
                                    <p class="text-small width-95 xs-width-100"></p>
                                    <!-- start social media -->
                                    <!-- end social media -->
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="bg-dark-footer padding-50px-tb text-center xs-padding-30px-tb">
                        <div class="container">
                            <div class="row">
                                <!-- start copyright -->
                                <div class="col-md-12 text-small xs-text-center" style="color: aliceblue;">© 2020 - 2bTrust</div>

                            </div>
                            <!-- end copyright -->
                        </div>
                    </div>

                </footer>*@
    </div>
</body>
<!--   Core JS Files   -->
<script src="~/assets/materialBootstrapWizard/assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="~/assets/materialBootstrapWizard/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/assets/materialBootstrapWizard/assets/js/jquery.bootstrap.js" type="text/javascript"></script>
<!--  Plugin for the Wizard -->
<script src="~/assets/materialBootstrapWizard/assets/js/material-bootstrap-wizard.js"></script>
<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="~/assets/materialBootstrapWizard/assets/js/jquery.validate.min.js"></script>

<!-- MASK -->
<script src="../Assets/js/plugins/jasny/jasny-bootstrap.min.js"></script>

<!-- Data picker -->
<script src="../Assets/js/plugins/datapicker/bootstrap-datepicker.js"></script>

<!-- Jquery Validate -->
<script src="../Assets/js/plugins/validate/jquery.validate.min.js"></script>


<!-- SWEET ALERT -->
<script src="../Assets/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="~/assets/js/site.js"></script>

<script src="~/assets/interTel/js/intlTelInput-jquery.js"></script>
<script src="~/assets/interTel/js/intlTelInput.js"></script>
<script src="~/assets/interTel/js/utils.js"></script>


<script>
    var input = document.querySelector(".phoneinter");
    window.intlTelInput(input, {
         // allowDropdown: false,
      // autoHideDialCode: false,
      autoPlaceholder: "on",
      // dropdownContainer: document.body,
      // excludeCountries: ["us"],
        formatOnDisplay: true,
      // geoIpLookup: function(callback) {
      //   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
      //     var countryCode = (resp && resp.country) ? resp.country : "";
      //     callback(countryCode);
      //   });
      // },
       hiddenInput: "full_number_1",
       // initialCountry: "auto",
      // localizedCountries: { 'de': 'Deutschland' },
       nationalMode: true,
      // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
        placeholderNumberType: "MOBILE",
      // preferredCountries: ['cn', 'jp'],
      //  separateDialCode: true,
        utilsScript: "../assets/interTel/js/utils.js",
    }); 
    var iti = intlTelInput(input);


    var input2 = document.querySelector(".phoneinter2");
    window.intlTelInput(input2, {
        // allowDropdown: false,
        // autoHideDialCode: false,
         autoPlaceholder: "on",
        // dropdownContainer: document.body,
        // excludeCountries: ["us"],
        formatOnDisplay: true,
        // geoIpLookup: function(callback) {
        //   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
        //     var countryCode = (resp && resp.country) ? resp.country : "";
        //     callback(countryCode);
        //   });
        // },
        hiddenInput: "full_number_2",
        // initialCountry: "auto",
        // localizedCountries: { 'de': 'Deutschland' },
        nationalMode: true,
        // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
        placeholderNumberType: "MOBILE",
        // preferredCountries: ['cn', 'jp'],
       // separateDialCode: true,
        utilsScript: "../assets/interTel/js/utils.js",
    });
    var iti2 = intlTelInput(input2);






    var idDocumentoINS = 0;
    var fAceitoContrato = false;

    function fnReloadFrame(id) {
        $("#" + id).attr("src", $("#" + id).attr("src"))
    }
    function validaCPF() {
        showLoading("Wait...")
        var sCPF = $("[Name='_PessoaFisica.CPF']").val();
        $.ajax({
            url: '../CadastreAqui/ValidaCPFInicial',
            type: 'POST',
            data: { sCPF: sCPF },
            beforeSend: function () {

            },
            onsuccess: function () { },
            success: function (result) {
                if (result.statusRetorno != 'success') {
                    hideLoading();
                    swal("Attention", result.statusRetorno, "error");

                    $("[Name='_PessoaFisica.CPF']").val("");

                }
                hideLoading();
            }
        });
    };

    function validaSocialNumber() {
        showLoading("Wait...")
        var sSocial = $("[Name='_PessoaFisica.SocialNumber']").val();
        $.ajax({
            url: '../CadastreAqui/ValidaSocialNumberInicial',
            type: 'POST',
            data: { sSocial: sSocial },
            beforeSend: function () {

            },
            onsuccess: function () { },
            success: function (result) {
                if (result.statusRetorno != 'success') {
                    hideLoading();
                    swal("Attention", result.statusRetorno, "error");

                    $("[Name='_PessoaFisica.SocialNumber']").val("");

                }
                hideLoading();
            }
        });
    };

    function validaTaxId() {
        showLoading("Wait...")
        var sTax = $("[Name='_PessoaFisica.TaxId']").val();
        $.ajax({
            url: '../CadastreAqui/ValidaTAXInicial',
            type: 'POST',
            data: { sTax: sTax },
            beforeSend: function () {

            },
            onsuccess: function () { },
            success: function (result) {
                if (result.statusRetorno != 'success') {
                    hideLoading();
                    swal("Attention", result.statusRetorno, "error");

                    $("[Name='_PessoaFisica.TaxId']").val("");

                }
                hideLoading();
            }
        });
    };

    function validaEmail() {
        var sEmail = $("[Name='_Usuario.Email']").val();
        $.ajax({
            url: '../CadastreAqui/ValidaEmailInicial',
            type: 'POST',
            data: { sEmail: sEmail },
            beforeSend: function () {

            },
            onsuccess: function () { },
            success: function (result) {
                if (result.statusRetorno != 'success') {
                    fvalidaEmail = false;

                } else {
                    fvalidaEmail = true;
                }

            }
        });
    };

    function validaLogin() {
        var sUsuario = $("[Name='_Usuario._Login.Login']").val();
        $.ajax({
            url: '../CadastreAqui/ValidaUsuarioInicial',
            type: 'POST',
            data: { sUsuario: sUsuario },
            beforeSend: function () {

            },
            onsuccess: function () { },
            success: function (result) {
                if (result.statusRetorno != 'success') {
                    fvalidaLogin = false;

                }
                else {

                    fvalidaLogin = true;
                }
            }
        });
    };



    $("#btnAdicionarDocs").on("click", function (event) {



        var dataDocumento = $("[Name='objDocumento.IdDocumento']").val()
        var idDocumento = $("[Name='objDocumento.IdDocumento']").val()
        var sDocumento = $("[Name='objDocumento.IdDocumento'] option:selected").text();

        var sNumeroDoc = $("[Name='objDocumento.Conteudo']").val();
        var Description = $("[Name='objDocumento.Description']").val();

        //var dataEstado = $("[Name='objDocumento.IdEstado']").val()
        //var idEstado = $("[Name='objDocumento.IdEstado']").val();
        //var sEstado = $("[Name='objDocumento.IdEstado'] option:selected").text();


        //var dataOrgao = $("[Name='objDocumento.IdOrgaoEmissor']").val()
        //var idOrgao = $("[Name='objDocumento.IdOrgaoEmissor']").val();
        //var sOrgao = $("[Name='objDocumento.IdOrgaoEmissor'] option:selected").text();
        var idEstado = 1;
        var sEstado = "EUA"
        var idOrgao = 1;
        var sOrgao = "EUA";

        if (idDocumento == 0 || idDocumento == '') {
            swal("Attention", "You must choose a type of documentation!", "error")

        } else if (sNumeroDoc == '') {
            swal("Attention", "You must enter the document numbers!", "error")

        }
        else {

            if (idDocumento != 2) {
                Description = sDocumento;
            }
            else {
                if (Description == '') {

                    swal("Attention", "You must enter the document description!", "error");
                    return false;
                }
            }

            addNewDocumento(idDocumento, sDocumento, sNumeroDoc, Description, idEstado, sEstado, idOrgao, sOrgao);
            return false;
        }
    });

    function addNewDocumento(idDocumento, sDocumento, sNumero, Description, idUf, sUf, idOrgao, sOrgao) {
            idDocumentoINS--;
            var idDocumentoNovo = idDocumentoINS;

            $.ajax({
                /**/
                url: '@Url.Action("SetDocumentosCadastro", "CadastreAqui")',
                /**/
                contentType: 'application/json',
                data: { idPessoaDocumento: idDocumentoNovo, idDocumento: idDocumento, sDocumento: sDocumento, sNumero: sNumero, idUF: idUf, sUF: sUf, idOrgao: idOrgao, sOrgao: sOrgao },
                success: function (data) {

                var fInsert = data;
                if (fInsert < 0) {

                addRowTable(idDocumentoNovo, sDocumento, sNumero, Description, sUf, sOrgao)

                $('#objDocumento_IdDocumento').val(0);

                $('#objDocumento_Description').val('');
                $('#objDocumento_Conteudo').val('');
                $("#descDocumento").css("display", "none");
                return false;
                }
                else {
                swal("Ops!", "Ocorreu um erro.", "error")
                }

                }

                });

                }

                function addRowTable(idDocumentoInsert, sDocumento, sNumero, Description, sUf, sOrgao) {
                $("#table-documentos > tbody").
                append("<tr id='tr-" + idDocumentoInsert + "'><td>" + sDocumento + "</td><td>" + Description + "</td><td>" + sNumero + "</td> <td><a onclick='dellDocumento(" + idDocumentoInsert + ")' iddocumento='" + idDocumentoInsert + "' href='javascript:;' class='btn btn-danger btn-xs dellTelefone' style='color:white'> Delete <i class='fa  fa-trash-o'></i></td></tr>");
                }

                function dellDocumento(idPessoaDocumento) {

                $.ajax({
                /**/
                url: '@Url.Action("deleteDocumentoCadastro", "CadastreAqui")',
                /**/
                contentType: 'application/json',
                data: { idPessoaDocumento: idPessoaDocumento },
                success: function (data) {

                if (data == false) {
                swal("Ops!", "Ocorreu um erro.", "error");
                }
                else {
                swal("Sucsses!", "Successfully deleted document.", "success");
                $("#tr-" + idPessoaDocumento).remove();
                idDocumentoINS++;
                }

                }

                });
                }

                $(":text").val("");
                $(":password").val("");
                $(document).ready(function () {

                $(":text").val("");
                $(":password").val("");
                //masks
                //$("[Name='TelefoneCelular']").attr("data-mask", "(99)9999-9999?9")
                //$("[Name='TelefoneComercial']").attr("data-mask", "(99)9999-9999")
                //$("[Name='_PessoaFisica.CPF']").attr("data-mask", "999.999.999-99")
                $("[Name='_PessoaFisica.SocialNumber']").attr("data-mask", "999-99-9999")
                // $("[Name='_Endereco.Cep']").attr("data-mask", "99999[-9999]")
                $('#DtNascimento').attr("data-mask", "99/99/9999")
                $("[Name='_Endereco.sEstado']").attr("data-mask", "aa")

                $('#DtNascimento').datepicker({
                startView: 3,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: "mm/dd/yyyy",
                language: "en-US",
                onSelect: function () {
                $(this).change();
                }
                });


                $('#DtNascimento').on("change", function () {

                if (!validaDataEN($(this).val())) {
                $('.date').val("");
                swal("Atenção", "Data Inválida!", "error");
                }

                })

                $('#ValorInicial').on("change", function () {

                var valselected = $(this).val();

                if (valselected == 0) {
                $("#descValorInicial").css("display", "block");
                }
                else {

                $("#descValorInicial").css("display", "none");
                }

                })

                $('#objDocumento_IdDocumento').on("change", function () {

                var idDoc = $(this).val();
                if (idDoc == 2) {
                $("#descDocumento").css("display", "block");
                }
                else {
                $("#descDocumento").css("display", "none");
                }

                })
                $('#FlagResidenteAmericado').on("change", function () {

                if ($("#FlagResidenteAmericado").prop("checked") == false) {


                $("[Name='_PessoaFisica.CPF']").removeClass("required")
                $("[Name='_PessoaFisica.TaxId']").addClass("required")
                $("[Name='_PessoaFisica.SocialNumber']").addClass("required")

                $("#dvITIN").css("display", "block")
                $("#dvCPF").css("display", "none")
                $("#dvEnderecoOther").css("display", "none")
                $("#dvEnderecoEUA").css("display", "block")
                $("#dvTAX").css("display", "block")
                $("#dvTAXor").css("display", "block")
                $("#dvSOCIAL").css("display", "block")

                $("#w9PDF").css("display", "block")
                $("#w8PDF").css("display", "none")

                $("[Name='TelefoneCelular']").attr("data-mask", "(999) 999-9999")
                $("[Name='TelefoneComercial']").attr("data-mask", "(999) 999-9999")

                $("[name='_PessoaFisica.SocialNumber']").rules('add', {
                required: false   // overwrite an existing rule
                });

                $("[name='_PessoaFisica.TaxId']").rules('add', {
                required: false   // overwrite an existing rule
                });
                }
                else {

                $("[Name='_PessoaFisica.CPF']").addClass("required")
                $("[Name='_PessoaFisica.TaxId']").removeClass("required")
                $("[Name='_PessoaFisica.SocialNumber']").removeClass("required")

                $("#dvITIN").css("display", "none")
                $("#dvCPF").css("display", "block")
                $("#dvEnderecoOther").css("display", "block")
                $("#dvEnderecoEUA").css("display", "none")
                $("#dvTAX").css("display", "none")
                $("#dvTAXor").css("display", "none")
                $("#dvSOCIAL").css("display", "none")
                $("#w9PDF").css("display", "none")
                $("#w8PDF").css("display", "block")



                $("[Name='TelefoneCelular']").attr("data-mask", "(99)9999-9999?9")
                $("[Name='TelefoneComercial']").attr("data-mask", "(99)9999-9999")


                }

                })
                $('[name=Nome').on("change", function () {
                $("#txtNomeEndereco").html("Thanks " + $('[name=Nome').val() + ", we just need some more info!");
                });


                $.validator.addMethod('date', function (value) {
                return /^((0?[1-9]|1[012])[- /.](0?[1-9]|[12][0-9]|3[01])[- /.](19|20)?[0-9]{2})*$/.test(value);
                }, 'Please enter a valid US or Canadian postal code.');

                function validaDataEN(dt) {
                var reGoodDate = /^((0?[1-9]|1[012])[- /.](0?[1-9]|[12][0-9]|3[01])[- /.](19|20)?[0-9]{2})*$/;
                return reGoodDate.test(dt);
                }

                jQuery.validator.addMethod("cpf", function (value, element) {
                value = jQuery.trim(value);

                value = value.replace('.', '');
                value = value.replace('.', '');
                cpf = value.replace('-', '');
                while (cpf.length < 11) cpf = "0" + cpf;
                var expReg = /^0+$|^1+$|^2+$|^3+$|^4+$|^5+$|^6+$|^7+$|^8+$|^9+$/;
                var a = [];
                var b = new Number;
                var c = 11;
                for (i = 0; i < 11; i++) {
                a[i] = cpf.charAt(i);
                if (i < 9) b += (a[i] * --c);
                }
                if ((x = b % 11) < 2) { a[9] = 0 } else { a[9] = 11 - x }
                b = 0;
                c = 11;
                for (y = 0; y < 10; y++) b += (a[y] * c--);
                if ((x = b % 11) < 2) { a[10] = 0; } else { a[10] = 11 - x; }

                var retorno = true;
                if ((cpf.charAt(9) != a[9]) || (cpf.charAt(10) != a[10]) || cpf.match(expReg)) retorno = false;

                return this.optional(element) || retorno;

                }, "Informe um CPF válido");

                $(".cepCodeChange").on("change", function () {
                carregaCEP($(this).val(), "_Endereco_Logradouro", "_Endereco_Estado", "_Endereco_Bairro", "_Endereco_Cidade", null);

                })
                $(".somenteNumero").bind("keyup blur focus", function (e) {
                e.preventDefault();
                var expre = /[^\d]/g;
                $(this).val($(this).val().replace(expre, ''));
                });
                $(".zipCodeChange").on("change", function () {


                //showLoading("One Moment Please",'Loading...');
                //$.ajax({
                //    timeout: 1500,
                //    dataType: "json",
                //    url: 'http://api.zippopotam.us/us/' + $(this).val(),
                //    success: function (dados) {

                //        $("[Name='_Endereco.Estado']").val(dados.places[0]["state abbreviation"])
                //        $("[Name='_Endereco.Estado']").trigger("change");
                //        $("[Name='_Endereco.Estado']").attr("readonly", true);
                //        $("[Name='_Endereco.Cidade']").val(dados.places[0]["place name"])
                //        $("[Name='_Endereco.Cidade']").trigger("change");
                //        $("[Name='_Endereco.Cidade']").attr("readonly", true);

                //        hideLoading();
                //    }
                //    ,
                //    error: function (jqXHR, exception) {
                //        hideLoading();
                //        swal("Attention", "address not found!", "error");
                //        $("[Name='_Endereco.Estado']").val('')
                //        $("[Name='_Endereco.Estado']").attr("readonly", false);
                //        $("[Name='_Endereco.Cidade']").val('')
                //        $("[Name='_Endereco.Cidade']").attr("readonly", false);
                //    }

                //});


                });

                $("[Name='objDocumento.IdEstado']").on('change', function (e) {

                var idEstado = $(this).val();


                $.ajax({
                /**/
                url: '@Url.Action("GetOrgaosEmissoresByIdEstado", "CadastreAqui")',
                /**/
                contentType: 'application/json',
                data: { idEstado: idEstado },
                success: function (data) {
                console.log(data)
                $("[Name='objDocumento.IdOrgaoEmissor']").html('');
                $.each(data, function (a) {
                console.log(data[a])
                $("[Name='objDocumento.IdOrgaoEmissor']").append( // Append an object to the inside of the select box
                $("<option></option>") // Yes you can do this.
                .text(data[a].Nome)
                .val(data[a].Id)
                );


                });

                }
                });

                });



                function carregaCEP(cep, idEndereco, idUf, idBairro, idCidade, idPais) {
                showLoading("One Moment Please",'Loading...');

                $.getJSON("https://webmaniabr.com/api/1/cep/" + cep +
                "/?app_key=KGoe1JtnDhgtZzmmOIrXcEMnKisKjYee&app_secret=H8qQLFAeSu08CEJnt2anL3thVbRDL8dwCSYAfkhQKkc8MozX", function (dados) {
                if (dados == null || dados.endereco == '') {
                hideLoading();
                swal("Atenção", "Nenhum endereço encontrado para o cep digitado!", "error")
                }
                else {
                hideLoading()
                console.log(dados)
                if (idEndereco != null) {
                $("#" + idEndereco).val(dados.endereco)
                $("#" + idEndereco).trigger("change");
                }
                if (idUf != null) {

                $("#" + idUf).val(dados.uf)
                $("#" + idUf).trigger("change");
                }
                if (idBairro != null) {

                $("#" + idBairro).val(dados.bairro)
                $("#" + idBairro).trigger("change");
                }
                if (idCidade != null) {

                $("#" + idCidade).val(dados.cidade)
                $("#" + idCidade).trigger("change");
                }
                if (idPais != null) {

                $("#" + idPais).val("Brasil")
                }

                }

                }).error(function () {
                hideLoading();
                swal("Atenção", "Ocorreu um erro ao realizar a consulta de CEP!", "error")

                });
                }



                });





</script>