﻿@{ Layout = null;}
<html>
<head>
    <title>Privacy Policy - 2BTrust</title>
</head>
</html>
<body>
    <embed src="../Documentos/Privacy Policy.pdf" type="application/pdf" width="100%" height="100%" />
</body>