﻿@{ Layout = null;}
<html>
<head><title>Terms of Services - 2bTrust</title></head>
</html>
<body>
    <embed src="../Documentos/Terms of Service.pdf" type="application/pdf" width="100%" height="100%" />
</body>