﻿@model Presentation.Models._2BTrustModel.PoolsBensRentabilidadePerformanceModel
@{
    ViewBag.Title = "Index";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Fundos x Rentabilidade e Performance</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Financeiro ADM</a>
            </li>
            <li class="active">
                <strong>Rentabilidade e Performance</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Inclusão de Rentabilidade e Performance</h5>
                    <div class="ibox-tools">

                        <button class="btn btn-primary " type="button" id="btnSalvar" onclick="btnSalvar()">   Save</button>
                    </div>
                </div>
                <div class="ibox-content">
                    @{Html.RenderPartial("_loading");}
                    @using (Html.BeginForm("DadosPessoais", "MeuCadastro", FormMethod.Post, new { id = "fmDados", @autocomplete = "off" }))
                    {
                        @Html.HiddenFor(c => c.Id)
                        @Html.HiddenFor(c => c.idUsuarioinclusao)
                        @Html.HiddenFor(c => c.dtInclusao)

                        <fieldset> 
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Informe o Contrato *</label>
                                        @Html.DropDownListFor(m => m.IdPoolBens, new SelectList(ViewBag.Pools, "Id", "Nome", 0), "", new { @class = "form-control select2 ", @style = "width:100%;" })
                                        @Html.ValidationMessageFor(c => c.IdPoolBens)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="input-group">

                                        <label>
                                            Mês*
                                        </label>
                                        @Html.TextBoxFor(m => m.iMes, new { @class = "form-control required int", @placeholder = "", @maxlength = 2 })
                                        @Html.ValidationMessageFor(c => c.iMes)
                                    </div>

                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Ano *</label>
                                        @Html.TextBoxFor(m => m.iAno, new { @class = "form-control required int", @placeholder = "", @maxlength = 4 })
                                        @Html.ValidationMessageFor(c => c.iAno)
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Performance *</label>
                                        @Html.TextBoxFor(m => m.mPerformance, new { @style = "background: #f7ff84c2; border: 1px solid #777952c2;", @class = "form-control required percent", @placeholder = " " })
                                    
                                    </div>
                                </div>   <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Rentabilidade *</label>
                                        @Html.TextBoxFor(m => m.mRentabilidade, new { @style = "background: #f7ff84c2; border: 1px solid #777952c2;", @class = "form-control required percent", @placeholder = " " })
                                       
                                    </div>
                                </div>


                            </div>





                        </fieldset>


                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    window.onload = function (event) {

    
    };

    function btnSalvar() {

        var form = $("#fmDados");

        if (form.valid() == false) {
            swal("Atention", "Check field validation!", "error");
            return false;
        } 

            else {

                showLoading("Saving...");
                $.ajax({
                    url: '../PoolsBens/CadRentabilidade',
                    type: 'POST',
                    data: form.serialize(),
                    beforeSend: function () {

                    },
                    onsuccess: function () { },
                    success: function (result) {
                        hideLoading();
                        if (result.statusRetorno == 'success') {

                            swal("Great", "Information saved successfully!", "success");

                            setTimeout(function () {
                                window.location = "../PoolsBens/Rentabilidade";
                            }, 3000);

                        }
                        else {
                            hideLoading();
                            swal("Attention", result.statusRetorno, "error");
                        }
                    }
                });
            }
    };




</script>