﻿@model Presentation.Models._2BTrustModel.PoolBensModel
@{
    ViewBag.Title = "Controles";
}


<link href="~/assets/fine-uploader/fine-uploader-gallery.css" rel="stylesheet" />
<link href="~/assets/fine-uploader/fine-uploader.css" rel="stylesheet" />
<script src="~/assets/fine-uploader/fine-uploader.core.js"></script>
<script src="~/assets/fine-uploader/fine-uploader.js"></script>
<script src="~/assets/fine-uploader/jquery.fine-uploader.js"></script>  
  
<script src="~/assets/js/plugins/validate/jquery.validate.min.js"></script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Investimentos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Financeiro Admin</a>
            </li>
            <li>
                <a href="../PoolsBens">Menus</a>
            </li>
            <li class="active">
                <strong>Cadastro Fundos</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Investimentos do Sistema</h5>
                    <div class="ibox-tools">
                        <button class="btn btn-success " type="button" id="btnSalvar" onclick="btnSalvar()"> Salvar </button>
                    </div>
                </div>
                <div class="ibox-content">
                    @{Html.RenderPartial("_loading");}
                    @using (Html.BeginForm("PoolsBem", "PoolsBens", FormMethod.Post, new { id = "fmPools", @autocomplete = "off" }))
                    {

                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(c => c.IdUsuarioInclusao)
                        @Html.HiddenFor(c => c.Id)
                        @Html.HiddenFor(c => c.IdUsuarioAlteracao)
                        @Html.HiddenFor(c => c.IdStatus)
                        @Html.HiddenFor(c => c.PathLocationIIS)
                        @Html.HiddenFor(c => c.PathLocationIISLogoMaior)
                        @Html.HiddenFor(c => c.PathLocationIISLogoMenor)


                        <div class="row">

                            <div class="col-lg-1">
                                <label>#</label><br />
                                <label>@Model.Id</label>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label>Informe o Contrato *</label>
                                    @Html.DropDownListFor(m => m.IdContrato, new SelectList(ViewBag.Contratos, "Id", "Descricao", 0), "", new { @class = "form-control select2 ", @style = "width:100%;" })
                                    @Html.ValidationMessageFor(c => c.IdContrato)
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Descrição *</label>
                                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control required", @placeholder = "Digite o nome" })
                                    @Html.ValidationMessageFor(c => c.Nome)
                                </div>
                            </div>


                        </div>
                        <div class="row">

                            <div class="col-lg-offset-1 col-lg-3">
                                <div class="form-group">
                                    <label>Cotas *</label>
                                    @Html.TextBoxFor(m => m.Cotas, new { @class = "form-control touchspin3 required", @placeholder = " " })
                                    @Html.ValidationMessageFor(c => c.Cotas)
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Data Início *</label>
                                    @Html.TextBoxFor(m => m.DtInicio, "{0:MM/dd/yyyy}", new { @class = "form-control required date", @placeholder = " " })
                                    @Html.ValidationMessageFor(c => c.DtInicio)
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Data Vigência *</label>
                                    @Html.TextBoxFor(m => m.DtVigencia, "{0:MM/dd/yyyy}", new { @class = "form-control required date", @placeholder = " " })
                                    @Html.ValidationMessageFor(c => c.DtVigencia)
                                </div>
                            </div>


                        </div>


                        <hr />
                        <div class="row"><div class="col-lg-12" style="    padding: 20px;    margin-bottom: 30px;    font-size: 30px;"><span> Logos</span></div></div>

                        <div class="row" style="margin-bottom:40px"><div class="col-lg-12" style="color: #880101; font-size: 15px;"><span> Tamanho ideal para o aplicativo: Altura: 65px - Largura: 65px</span></div> 
                     <div class="col-lg-12" style="color: #880101; font-size: 15px;"><span> Tamanho ideal para o aplicativo: Altura: 200px - Largura: proporcional ao logo</span></div></div>

                        <div class="row">

                            <div class="col-lg-4">

                                <div class="row">
                                    <div class="col-lg-12" style="text-align:center">
                                        <script type="text/template" id="qq-template">
                                            <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
                                                <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                                                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
                                                </div>
                                                <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                                                    <span class="qq-upload-drop-area-text-selector"></span>
                                                </div>
                                                <div class="qq-upload-button-selector qq-upload-button" style="width:100%!important">
                                                    <div>Selecionar Principal</div>
                                                </div>
                                                <span class="qq-drop-processing-selector qq-drop-processing">
                                                    <span>Processing dropped files...</span>
                                                    <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                                                </span>
                                                <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                                                    <li>
                                                        <div class="qq-progress-bar-container-selector">
                                                            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                                                        </div>
                                                        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                                                        <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                                                        <span class="qq-upload-file-selector qq-upload-file"></span>
                                                        <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                                                        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                                                        <span class="qq-upload-size-selector qq-upload-size"></span>
                                                        <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                                                        <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                                                        <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                                                        <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                                                    </li>
                                                </ul>
                                                <dialog class="qq-alert-dialog-selector">
                                                    <div class="qq-dialog-message-selector"></div>
                                                    <div class="qq-dialog-buttons">
                                                        <button type="button" class="qq-cancel-button-selector">Close</button>
                                                    </div>
                                                </dialog>
                                                <dialog class="qq-confirm-dialog-selector">
                                                    <div class="qq-dialog-message-selector"></div>
                                                    <div class="qq-dialog-buttons">
                                                        <button type="button" class="qq-cancel-button-selector">No</button>
                                                        <button type="button" class="qq-ok-button-selector">Yes</button>
                                                    </div>
                                                </dialog>
                                                <dialog class="qq-prompt-dialog-selector">
                                                    <div class="qq-dialog-message-selector"></div>
                                                    <input type="text">
                                                    <div class="qq-dialog-buttons">
                                                        <button type="button" class="qq-cancel-button-selector">Cancel</button>
                                                        <button type="button" class="qq-ok-button-selector">Ok</button>
                                                    </div>
                                                </dialog>
                                            </div>
                                        </script>


                                        <div id="uploader-01"></div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        @if (string.IsNullOrEmpty(Model.PathLocationIIS))
                                        {

                                            <img src="~/assets/img/no-image.png" width="100%" />
                                        }
                                        else
                                        {
                                            <img src="@Model.PathLocationIIS" width="100%" />

                                        }

                                    </div>
                                </div>

                                <div class="i-checks">
                                    <div class="iradio_square-green" style="position: relative;">
                                        @Html.RadioButtonFor(c => c.iUsarLogoApp, 0, new { @style = "position: absolute; opacity: 0;" })
                                        <span style="width: 260px;float: left;font-size: 15px;">Definir como imagem no mobile</span>
                                        @*<input type="radio" value="0" name="a" style="position: absolute; opacity: 0;"> Definir como imagem no mobile*@
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-4">


                                <div class="row">
                                    <div class="col-lg-12" style="text-align:center">
                                        <script type="text/template" id="qq-template-Maior">
                                            <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
                                                <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                                                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
                                                </div>
                                                <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                                                    <span class="qq-upload-drop-area-text-selector"></span>
                                                </div>
                                                <div class="qq-upload-button-selector qq-upload-button" style="width:100%!important">
                                                    <div>Selecionar Maior</div>
                                                </div>
                                                <span class="qq-drop-processing-selector qq-drop-processing">
                                                    <span>Processing dropped files...</span>
                                                    <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                                                </span>
                                                <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                                                    <li>
                                                        <div class="qq-progress-bar-container-selector">
                                                            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                                                        </div>
                                                        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                                                        <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                                                        <span class="qq-upload-file-selector qq-upload-file"></span>
                                                        <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                                                        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                                                        <span class="qq-upload-size-selector qq-upload-size"></span>
                                                        <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                                                        <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                                                        <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                                                        <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                                                    </li>
                                                </ul>
                                                <dialog class="qq-alert-dialog-selector">
                                                    <div class="qq-dialog-message-selector"></div>
                                                    <div class="qq-dialog-buttons">
                                                        <button type="button" class="qq-cancel-button-selector">Close</button>
                                                    </div>
                                                </dialog>
                                                <dialog class="qq-confirm-dialog-selector">
                                                    <div class="qq-dialog-message-selector"></div>
                                                    <div class="qq-dialog-buttons">
                                                        <button type="button" class="qq-cancel-button-selector">No</button>
                                                        <button type="button" class="qq-ok-button-selector">Yes</button>
                                                    </div>
                                                </dialog>
                                                <dialog class="qq-prompt-dialog-selector">
                                                    <div class="qq-dialog-message-selector"></div>
                                                    <input type="text">
                                                    <div class="qq-dialog-buttons">
                                                        <button type="button" class="qq-cancel-button-selector">Cancel</button>
                                                        <button type="button" class="qq-ok-button-selector">Ok</button>
                                                    </div>
                                                </dialog>
                                            </div>
                                        </script>


                                        <div id="uploader-02"></div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        @if (string.IsNullOrEmpty(Model.PathLocationIISLogoMaior))
                                        {

                                            <img src="~/assets/img/no-image.png" width="100%" />
                                        }
                                        else
                                        {
                                            <img src="@Model.PathLocationIISLogoMaior" width="100%" />

                                        }

                                    </div>
                                </div>

                                <div class="i-checks">
                                    <div class="iradio_square-green" style="position: relative;">
                                        @Html.RadioButtonFor(c => c.iUsarLogoApp, 1, new { @style = "position: absolute; opacity: 0;" })
                                        <span style="width: 260px;float: left;font-size: 15px;">Definir como imagem no mobile</span>
                                        @*<input type="radio" value="0" name="a" style="position: absolute; opacity: 0;"> Definir como imagem no mobile*@
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">


                                <div class="row">
                                    <div class="col-lg-12" style="text-align:center">
                                        <script type="text/template" id="qq-template-Menor">
                                            <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
                                                <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                                                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
                                                </div>
                                                <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                                                    <span class="qq-upload-drop-area-text-selector"></span>
                                                </div>
                                                <div class="qq-upload-button-selector qq-upload-button" style="width:100%!important">
                                                    <div>Selecionar Menor</div>
                                                </div>
                                                <span class="qq-drop-processing-selector qq-drop-processing">
                                                    <span>Processing dropped files...</span>
                                                    <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                                                </span>
                                                <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                                                    <li>
                                                        <div class="qq-progress-bar-container-selector">
                                                            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                                                        </div>
                                                        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                                                        <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                                                        <span class="qq-upload-file-selector qq-upload-file"></span>
                                                        <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                                                        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                                                        <span class="qq-upload-size-selector qq-upload-size"></span>
                                                        <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                                                        <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                                                        <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                                                        <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                                                    </li>
                                                </ul>
                                                <dialog class="qq-alert-dialog-selector">
                                                    <div class="qq-dialog-message-selector"></div>
                                                    <div class="qq-dialog-buttons">
                                                        <button type="button" class="qq-cancel-button-selector">Close</button>
                                                    </div>
                                                </dialog>
                                                <dialog class="qq-confirm-dialog-selector">
                                                    <div class="qq-dialog-message-selector"></div>
                                                    <div class="qq-dialog-buttons">
                                                        <button type="button" class="qq-cancel-button-selector">No</button>
                                                        <button type="button" class="qq-ok-button-selector">Yes</button>
                                                    </div>
                                                </dialog>
                                                <dialog class="qq-prompt-dialog-selector">
                                                    <div class="qq-dialog-message-selector"></div>
                                                    <input type="text">
                                                    <div class="qq-dialog-buttons">
                                                        <button type="button" class="qq-cancel-button-selector">Cancel</button>
                                                        <button type="button" class="qq-ok-button-selector">Ok</button>
                                                    </div>
                                                </dialog>
                                            </div>
                                        </script>


                                        <div id="uploader-03"></div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        @if (string.IsNullOrEmpty(Model.PathLocationIISLogoMenor))
                                        {

                                            <img src="~/assets/img/no-image.png" width="100%" />
                                        }
                                        else
                                        {
                                            <img src="@Model.PathLocationIISLogoMenor" width="100%" />

                                        }

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <div class="iradio_square-green" style="position: relative;">

                                                @Html.RadioButtonFor(c => c.iUsarLogoApp, 2, new { @style = "position: absolute; opacity: 0;" })
                                                <span style="width: 260px;float: left;font-size: 15px;">Definir como imagem no mobile</span>
                                                @*<input type="radio" value="0" name="a" style="position: absolute; opacity: 0;"> Definir como imagem no mobile*@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    console.clear();



    window.onload = function (event) {

        $(".touchspin3").TouchSpin({
            verticalbuttons: true,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white',
            max: 1000000000
        });
    };

    function btnSalvar() {

        var form = $("#fmPools");

        if (form.valid() == false) {
            swal("Atenção", "Verifique a validação dos campos!", "error");
            return false;
        }
        else {

            showLoading("Salvando Informações");
            $.ajax({
                url: '../PoolsBens/PoolsBem',
                type: 'POST',
                data: form.serialize(),
                beforeSend: function () {

                },
                onsuccess: function () { },
                success: function (result) {
                    if (result.statusRetorno == 'success') {

                        swal("Perfeito", "Cadastro realizado com sucesso!", "success");

                        setTimeout(function () {
                            window.location = "../PoolsBens";
                        }, 2500);

                    }
                    else {
                        hideLoading();
                        swal("Atenção", "Ocorreu um erro ao efetuar seu cadastro! Tente novamente", "error");
                    }
                }
            });
        }
    };

     
        var uploader01 = new qq.FineUploader({
                debug: true,
                thumbnails: {
                    customResizer: !qq.ios() && function (resizeInfo) {
                        return new Promise(function (resolve, reject) {
                            pica.resizeCanvas(resizeInfo.sourceCanvas, resizeInfo.targetCanvas, {}, resolve)
                        })
                    }
                },
                validation: {
                    allowedExtensions: ['jpg', 'jpeg', 'png']
                },
                template: document.getElementById('qq-template'),
                element: document.getElementById('uploader-01'),
                request: {
                    /**/
                    endpoint: '../PoolsBens/UploadFilePrincipal?idPoolBem=@Model.Id'
                    /**/
                },
                deleteFile: {
                    enabled: false,
                    endpoint: '../PoolsBens/UploadFilePrincipal'
                },
                retry: {
                    enableAuto: true
                }
    })


            var uploader02 = new qq.FineUploader({
                debug: true,
                thumbnails: {
                    customResizer: !qq.ios() && function (resizeInfo) {
                        return new Promise(function (resolve, reject) {
                            pica.resizeCanvas(resizeInfo.sourceCanvas, resizeInfo.targetCanvas, {}, resolve)
                        })
                    }
                },
                validation: {
                    allowedExtensions: ['jpg', 'jpeg', 'png']
                },
                template: document.getElementById('qq-template-Maior'),
                element: document.getElementById('uploader-02'),
                request: {
                    /**/
                    endpoint: '../PoolsBens/UploadFileMaior?idPoolBem=@Model.Id'
                    /**/
                },
                deleteFile: {
                    enabled: false,
                    endpoint: '../PoolsBens/UploadFileMaior'
                },
                retry: {
                    enableAuto: true
                }
    })

       var uploader03= new qq.FineUploader({
                debug: true,
                thumbnails: {
                    customResizer: !qq.ios() && function (resizeInfo) {
                        return new Promise(function (resolve, reject) {
                            pica.resizeCanvas(resizeInfo.sourceCanvas, resizeInfo.targetCanvas, {}, resolve)
                        })
                    }
                },
                validation: {
                    allowedExtensions: ['jpg', 'jpeg', 'png']
                },
                template: document.getElementById('qq-template-Menor'),
                element: document.getElementById('uploader-03'),
                request: {
                    /**/
                    endpoint: '../PoolsBens/UploadFileMenor?idPoolBem=@Model.Id'
                    /**/
                },
                deleteFile: {
                    enabled: false,
                    endpoint: '../PoolsBens/UploadFileMenor'
                },
                retry: {
                    enableAuto: true
                }
            })
</script>