﻿
@model Presentation.Helpers.ResponseJson
@{
    ViewBag.Title = "Index";

    IEnumerable<Presentation.Models._2BTrustModel.PoolBensModel> listModel = (IEnumerable<Presentation.Models._2BTrustModel.PoolBensModel>)Model.objetoRetorno; 

}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Fundos x Rentabilidade e Performance</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Financeiro ADM</a>
            </li>
            <li class="active">
                <strong>Rentabilidade e Performance</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


@if (Model.statusRetorno != "success")
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem de Rentabilidade/Performance  </h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">

                        <span> @Model.statusRetorno</span>

                    </div>
                </div>
            </div>
        </div>
    </div>



}
else
{

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem de Rentabilidade/Performance  </h5>
                        <div class="ibox-tools">
                            <button class="btn btn-success " type="button" id="btnNovo" onclick="btnNovo()">  Novo</button>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">

                            @foreach (var fund in listModel)
                            {
                                <div class="row">
                                    <div class="col-lg-12" style=" padding: 20px; ">
                                        <span style="    font-size: 20px;    text-decoration: underline">@fund.Nome</span><br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <table class="table table-striped table-bordered table-hover dataTables-example">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Ano</th>
                                                    <th>Mês</th>
                                                    <th>Rentabilidade</th>
                                                    <th>Performance</th>
                                                    <th>Data Cadastro</th>
                                                    <th>Opções</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in fund._PoolsBensRentabilidadePerformance)
                                                {

                                                    var sTyle = "";
                                                  //  if (item.IdStatus != 1)
                                                  //  { sTyle = "text-decoration: line-through;color: #ca6b6b;"; }

                                                <tr class="gradeX" style="@sTyle">

                                                    <td>@item.Id</td>
                                                    <td>@item.iAno</td>
                                                    <td>@item.iMes</td>
                                                    <td>
                                                        @{

                                                            <span>  @Convert.ToDecimal(item.mRentabilidade).ToString("#,##0.00") % </span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @{

                                                            <span>  @Convert.ToDecimal(item.mPerformance).ToString("#,##0.00") % </span>
                                                        }
                                                    </td>
                                                    <td>@item.dtInclusao.ToString("MM/dd/yyyy")</td>
                                                    <td>
                                                        @if (item.flgAtivo == true)
                                                        {
                                                            <button class="btn btn-danger " onclick="btnDesativar('@item.Id')" type="button" idbem="@item.Id"> Deletar</button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-success " onclick="btnAtivar('@item.Id')" type="button" idbem="@item.Id">  Ativar</button>
                                                        }
                                                    </td>

                                                </tr>
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                                <hr />
                            }

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>



 

    function btnNovo() {
        showLoading('Acessando...');
        window.location = '../PoolsBens/CadRentabilidade'
    }

    async function btnAtivar(idPBP) {

        swal({
            title: 'Atenção',
            text: 'Deseja realmente ATIVAR esta rentabilidade?',
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Sim!",
            closeOnConfirm: false
        }).then((result) => {

            console.log(result)
            if (result.value == true) {
                showLoading('Processando...');
                $.ajax({
                    url: '../PoolsBens/AtivarDesativarRent',
                    type: 'POST',
                    data: { id: idPBP, flgAtivo: true },
                    beforeSend: function () {

                    },
                    onsuccess: function () { },
                    success: function (result) {
                        if (result.statusRetorno == 'success') {
                            hideLoading();
                            swal("Perfeito", "Rentabilidade ATIVADA com sucesso", "success");

                            setTimeout(function () {
                                window.location = "../PoolsBens/Rentabilidade";
                            }, 2000);

                        }
                        else {
                            hideLoading();
                            swal("Atenção", result.statusRetorno, "error");
                        }
                    }
                });
            }

        });



    }

    async function btnDesativar(idPBP) {

        swal({
            title: 'Atenção',
            text: 'Deseja realmente DESATIVAR esta rentabilidade?',
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Sim!",
            closeOnConfirm: false
        }).then((result) => {

            console.log(result)
            if (result.value == true) {
                showLoading('Processando...');
                $.ajax({
                    url: '../PoolsBens/AtivarDesativarRent',
                    type: 'POST',
                    data: { id: idPBP, flgAtivo: false },
                    beforeSend: function () {

                    },
                    onsuccess: function () { },
                    success: function (result) {
                        if (result.statusRetorno == 'success') {
                            hideLoading();
                            swal("Perfeito", "Rentabilidade DESATIVADA com sucesso", "success");

                            setTimeout(function () {
                                window.location = "../PoolsBens/Rentabilidade";
                            }, 2000);

                        }
                        else {
                            hideLoading();
                            swal("Atenção", result.statusRetorno, "error");
                        }
                    }
                });
            }

        });



    }


</script>