﻿@model Presentation.Helpers.ResponseJson
@{
    ViewBag.Title = "Index";
    Domain.Entities._2BTrust.ComprovanteRetirada dto = Model.objetoRetorno;

    string localPathIIS = System.Web.Configuration.WebConfigurationManager.AppSettings["localPathIIS"];

}
<link href="~/assets/fine-uploader/fine-uploader-gallery.css" rel="stylesheet" />
<link href="~/assets/fine-uploader/fine-uploader.css" rel="stylesheet" />
<script src="~/assets/fine-uploader/fine-uploader.core.js"></script>
<script src="~/assets/fine-uploader/fine-uploader.js"></script>
<script src="~/assets/fine-uploader/jquery.fine-uploader.js"></script>

<link href="~/assets/css/plugins/slick/slick.css" rel="stylesheet">
<link href="~/assets/css/plugins/slick/slick-theme.css" rel="stylesheet">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Transfer</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Transfer</a>
            </li>
            <li>
                <a href="../Carteira/Retirada">Withdraw</a>
            </li>
            <li class="active">
                <strong>Attached</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


@if (Model.statusRetorno != "success")
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Transaction</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">

                        <span> @Model.statusRetorno</span>

                    </div>
                </div>
            </div>
        </div>
    </div>



}
else
{
    <div class="wrapper wrapper-content animated fadeInRight">


        <div id="dvAnexos" class="animated pulse">
            @using (Html.BeginForm("AnexarComprovanteRetirada", "Investimento", FormMethod.Post, new { id = "fmDepositar", @autocomplete = "off", @enctype = "multipart/form-data" }))
            {
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-9"><h2>Transaction #@dto.Id</h2> </div>
                            <div class="col-lg-3" style=" margin-top: 20px;">
                                <button class="btn btn-danger " style="float:right" type="button" id="btnCancelar" onclick="btnVoltar()">  Back </button>
                            </div>
                        </div>                       
                      
                        <hr />
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <h3>Transaction date</h3>
                                    <h4 style="color:#9a1b1b">@dto.DtInclusao.ToString("MM/dd/yyyy - HH:mm:ss")</h4>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <h3>Amount</h3>
                                    <h4 style="color:#9a1b1b">@dto.Valor.ToString("c").Replace("R$", "US$")</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    @{

                if (!string.IsNullOrEmpty(dto.ComprovantePathLocation))
                {

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <hr />
                                <h3> Attached trasnfer or deposit!</h3>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="@localPathIIS@dto.ComprovantePathLocationIIS" />
                            </div>
                        </div>
                }
                else
                {

                  
                }

                    }

                </div>


            }

        </div>

    </div>

}

<script>

    function btnVoltar()
    {
        window.location='../Carteira/Retirada'
    }
   

</script>
