﻿@model Presentation.Helpers.ResponseJson
@{
    ViewBag.Title = "Index";
    var pool = (Presentation.Models._2BTrustModel.PoolBensModel)Model.objetoRetorno;

    //var valorCota = pool._Bens.Sum(c => Convert.ToDecimal(c.CapitalInvestido)) / pool.Cotas;
    var valorCota = 100;
}

<link href="../assets/css/plugins/slick/slick.css" rel="stylesheet">
<link href="../assets/css/plugins/slick/slick-theme.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@pool.Nome - Portfolio</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Investment</a>
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

@if (Model.statusRetorno != "success")
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>E</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">

                        <span> @Model.statusRetorno</span>

                    </div>
                </div>
            </div>
        </div>
    </div>



}
else
{

    <div class="wrapper wrapper-content animated fadeInRight">



        <div class="row" id="dvContent">

            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style=" padding: 7px;">

                        <div class="col-lg-8"> <h5><b>@pool.Nome - Portfolio</b></h5> </div>

                        @*<div class="col-lg-3" style="">
                            <button class="btn btn-primary center-block" type="button" id="btnVisaoGeral" onclick="btnVisaoGeral()"> Overview</button>
                        </div>*@

                        <div class="col-lg-4" style="">
                            <button class="btn btn-danger " style="float:right" type="button" id="btnCancelar" onclick="btnVoltar()"> Back</button>
                        </div>
                    </div>
                    <div class="ibox-content">


                        <div class="row">
                            <div class="col-lg-12">
                                @foreach (var item in pool._Bens)
                                {

                                    <div class="row animated pulse" style="border: 1px solid #d0d0d0; margin: 15px; padding: 10px; box-shadow: -2px 2px 7px 1px #cecece;">
                                        <div class="col-md-5">


                                            <div class="product-images">

                                                @foreach (var itemImage in item._Imagens)
                                                {
                                                    <div>
                                                        <div class="image-imitation" style="padding:0px!important">
                                                            <img src="@itemImage.PathLocationIIS" style="width:100%" />
                                                        </div>
                                                    </div>
                                                }

                                            </div>

                                        </div>
                                        <div class="col-md-7">

                                            <h2 class="font-bold m-b-xs">
                                                @item.Nome
                                            </h2>
                                            <div class="m-t-md">
                                                <h2 class="product-main-price">
                                                    U$ @Convert.ToDecimal(item.CapitalInvestido.ToString()).ToString("#,##0.00")
                                                    @*<small class="text-muted">Capital Investido</small>*@
                                                </h2>
                                            </div>
                                            <hr>

                                            <h4>
                                                Description
                                            </h4>

                                            <div class="small text-muted">
                                                @item.Descritivo
                                            </div>
                                            <dl class="small m-t-md">
                                                <dt>Performance</dt>
                                                <dd>@Convert.ToDecimal(item.performance).ToString("#,##0.00")% </dd>
                                                <dt>Acquisition</dt>
                                                <dd>@item.DtInclusao.ToString("MM/dd/yyyy")</dd>
                                                @*<dt>Data Vigência</dt>
                                                    <dd>@item._Rentabilidade.DtFim.ToString("MM/dd/yyyy")</dd>*@
                                            </dl>


                                            <hr>




                                        </div>
                                    </div>


                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

}

<script>



    console.clear();

    function btnSolicitar() {
        var valorSolicitado = $("#mValorCotas").val();


        swal({
            title: "Atenção",
            text: "Deseja solicitar entrada neste investimento no valor de US$ " + valorSolicitado + " ?",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Sim",
            cancelButtonText: "Não",
            closeOnConfirm: false
        }).then((result) => {

    var form = $("#fmSolicitarEntrada");
    showLoading("Efetuando solicitação e entrada...");
    $.ajax({
        url: '../Investimento/SolicitarEntradaPool',
        type: 'POST',
        data: form.serialize(),
        beforeSend: function () {

        },
        onsuccess: function () { },
        success: function (result) {
            hideLoading();
            if (result.statusRetorno == 'success') {

                swal({
                    title: "Sucesso",
                    text: "Sua entrada foi realizada com sucesso! Você receberá um email com a confirmção. Você também pode acompanhar os lançamentos em sua dashboard!",
                    type: "success",
                    showCancelButton: false,
                    confirmButtonText: "OK",
                    closeOnConfirm: false
                }).then((result) => {

    window.location = '../Home'
});

            }
            else {
                hideLoading();
                swal("Atenção", result.statusRetorno, "error");
            }
        }
    });

});




    }

     function btnVisaoGeral() {
         showLoading("Overview", 'Loading...');
         window.location = '../BensVisaoGeral/OverView';
    }

    function btnVoltar() {
        showLoading("One Moment Please",'Loading...');
        window.location = '../Investimento/Ativos';
    }


    function fnChangeCotas(obj) {
        var qntCotas = $(obj).val() + ".00";
        var valorCotas = parseFloat(qntCotas) * parseFloat('@valorCota.ToString().Replace(',','.')').toFixed(2);
        $("#mValorCotas").val(parseFloat(valorCotas).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString().replace(',', '-').replace('.', ',').replace('-', '.'));
        $("#valorCotaAdq").html("US$ " + parseFloat(valorCotas).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString().replace(',', '-').replace('.', ',').replace('-', '.'))

    }
    function btnAderir() {
        $(".touchspin3").TouchSpin({
            verticalbuttons: true,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white',
            max: '@pool.CotasDisponiveis'
        });
        $("#dvContent").removeClass('col-lg-12');
        $("#dvContent").addClass('col-lg-9');
        $("#btnAderir").fadeOut();
        $("#btnCancelar").fadeIn();

        $("#dvAderir").fadeIn();
    }

    function btnCancelar() {
        $("#dvContent").removeClass('col-lg-9');
        $("#dvContent").addClass('col-lg-12');
        $("#btnAderir").fadeIn();
        $("#btnCancelar").fadeOut();

        $("#dvAderir").fadeOut();
    }

    function btnSelecionar() {

        var idInvestidorManual = $("#idInvestidorManual").val();
        if (idInvestidorManual == '' || idInvestidorManual == 0) {
            swal("Atenção", "É necessário selecionar um investidor para esta opção!", "error");
        }
        else {

            showLoading("One Moment Please",'Loading...');
            window.location = '../Investimento/DetalhePool?id=@pool.Id&m=' + idInvestidorManual;
        }


    }
    window.onload = function (event) {
        $('.product-images').slick({
            dots: true
        });
        $("[Name='idInvestidorManual']").select2({
            placeholder: " ",
            allowClear: true
        });

    };

</script>