﻿@model Presentation.Helpers.ResponseJson
@{


    ViewBag.Title = "Index";

    var pool = (Presentation.Models._2BTrustModel.PoolBensModel)Model.objetoRetorno;
    //var valorCota = pool._Bens.Sum(c => Convert.ToDecimal(c.CapitalInvestido)) / pool.Cotas;
    var valorCota = 100;

    decimal minhasCotas = 0;

    decimal valorMyPortfolio = 0;


    if (ViewBag.pessoaModelSelecionada != null)
    {

        var pessoaModel = (Presentation.Models._2BTrustModel.PessoasModel)ViewBag.pessoaModelSelecionada;


        minhasCotas = (int)pessoaModel._MeusPools.Where(c => c.IdPoolBem == pool.Id).Sum(c => c.Cota);
        minhasCotas = minhasCotas - (int)pessoaModel._MeusPools.Where(c => c.IdPoolBem == pool.Id && (c.IdStatus == 9)).Sum(c => c.Cota);


        valorMyPortfolio = minhasCotas * valorCota;


    }
    else
    {


        minhasCotas = (int)Presentation.Helpers.SessionManager.usuarioLogado._MeusPools.Where(c => c.IdPoolBem == pool.Id && c.IdStatus==1).Sum(c => c.Cota);

        minhasCotas = minhasCotas - (int)Presentation.Helpers.SessionManager.usuarioLogado._MeusPools.Where(c => c.IdPoolBem == pool.Id && (c.IdStatus == 9)).Sum(c => c.Cota);

        valorMyPortfolio = minhasCotas * valorCota;
    }


}

<link href="../assets/css/plugins/slick/slick.css" rel="stylesheet">
<link href="../assets/css/plugins/slick/slick-theme.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Investiment</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Investment</a>
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

@if (Model.statusRetorno != "success")
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>E</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">

                        <span> @Model.statusRetorno</span>

                    </div>
                </div>
            </div>
        </div>
    </div>



}
else
{
    if (Presentation.Helpers.SessionManager.usuarioLogado._Usuario._Grupo.Id == (int)Domain.Enuns.EnumPerfil.Administrador_Super)
    {

        <div class="row wrapper border-bottom white-bg page-heading" style="margin-top: 10px; padding: 10px;">

            <div class="col-lg-12">
                <span class="label label-warning-light"> </span><span> Você é um super admin, escolha um investidor para realizar as operações</span>
            </div>
            <div class="col-lg-5" style="padding:20px">
                @Html.DropDownList("idInvestidorManual", new SelectList(Presentation.Helpers.SessionManager.ListaInvestidoresManuais, "Id", "Nome", ViewBag.IdInvestidorManual), "", new { @class = "form-control", @style = "width:100%;" })

            </div>
            <div class="col-lg-3" style="padding:20px">
                <button class="btn btn-warning " type="button" id="btnSelecionar" onclick="btnSelecionar()" autocomplete="off"> Selecionar</button>
            </div>
            @if (ViewBag.NomeInvestidorManual != null)
            {
                <div class="col-lg-3" style="padding:20px">
                    <div class="row">
                        <div class="col-lg-12">

                            <span style="font-size:16px">Visualizando carteira de: </span>
                        </div>
                        <div class="col-lg-12">

                            <span style="font-style:italic; color:#1bb394">@ViewBag.NomeInvestidorManual </span>
                        </div>
                    </div>
                </div>
            }
        </div>

    }


    <div class="wrapper wrapper-content animated fadeInRight">



        <div class="row" id="dvContent">

            <div class="col-lg-9">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><b>@pool.Nome</b></h5>
                        <div class="ibox-tools">
                            <button class="btn btn-danger " style="float:right" type="button" id="btnCancelar2" onclick="btnVoltar()"><i class="fa fa-mail-reply"></i> Back</button>
                        </div>
                        <div class="ibox-content">


                            <div class="row">
                                <div class="col-lg-12">
                                    @foreach (var item in pool._Bens)
                                    {

                                        <div class="row animated pulse" style="border: 1px solid #d0d0d0; margin: 15px; padding: 10px; box-shadow: -2px 2px 7px 1px #cecece;">
                                            <div class="col-md-5">


                                                <div class="product-images">

                                                    @foreach (var itemImage in item._Imagens)
                                                    {
                                                        <div>
                                                            <div class="image-imitation" style="padding:0px!important">
                                                                <img src="@itemImage.PathLocationIIS" style="width:100%" />
                                                            </div>
                                                        </div>
                                                    }

                                                </div>

                                            </div>
                                            <div class="col-md-7">

                                                <h2 class="font-bold m-b-xs">
                                                    @item.Nome
                                                </h2>
                                                <div class="m-t-md">
                                                    <h2 class="product-main-price">
                                                        U$ @Convert.ToDecimal(item.CapitalInvestido.ToString()).ToString("#,##0.00")
                                                        @*<small class="text-muted">Capital Investido</small>*@
                                                    </h2>
                                                </div>
                                                <hr>

                                                <h4>
                                                    Description
                                                </h4> 
                                                 <div class="small text-muted">
                                                     @item.Descritivo
                                                 </div> 
                                                <dl class="small m-t-md">
                                                    <dt>Performance</dt>
                                                    <dd>% @Convert.ToDecimal(item.performance).ToString("#,##0.00")</dd>
                                                    <dt>Acquisition</dt>
                                                    <dd>@item.DtInclusao.ToString("MM/dd/yyyy")</dd>
                                                    @*<dt>Data Vigência</dt>
            <dd>@item._Rentabilidade.DtFim.ToString("MM/dd/yyyy")</dd>*@
                                                </dl>


                                                <hr>




                                            </div>
                                        </div>


                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="dvAderir" style="display:block">
                @{Html.RenderPartial("_loading");}
                @using (Html.BeginForm("SolicitarEntradaPool", "Investimento", FormMethod.Post, new { id = "fmSolicitarEntrada", @autocomplete = "off", @enctype = "multipart/form-data" }))
                {

                    if (ViewBag.IdInvestidorManual != null)
                    {
                        <input type="hidden" id="idPessoa" name="idPessoa" value="@ViewBag.IdInvestidorManual">
                    }
                    else
                    {
                        <input type="hidden" id="idPessoa" name="idPessoa" value="@Presentation.Helpers.SessionManager.usuarioLogado.Id">
                    }
                    <input type="hidden" id="idPoolBens" name="idPoolBens" value="@pool.Id">
                    <input type="hidden" id="mValorCotas" name="mValorCotas">

                    <div class="col-md-3">

                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Abstract</h5>
                            </div>
                            <div class="ibox-content">

                                <span>
                                    My portfolio
                                </span>
                                <h3 class="font-bold">
                                   
                                        <span> $ @Convert.ToDecimal(valorMyPortfolio).ToString("#,##0.00")</span>
                                    
                                </h3>
                                 
                                <span>
                                    Units: @minhasCotas
                                </span>
                                <h2 class="font-bold">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input class="touchspin3 form-control" type="text" value="0" id="Cotas" name="Cotas" onchange="fnChangeCotas('#Cotas')" style="display: block;">
                                        </div>
                                    </div>
                                </h2>
                                <h2 class="font-bold" id="valorCotaAdq" style="display:none">
                                    U$ 0,00
                                </h2>
                                @{

                                    if (Presentation.Helpers.SessionManager.usuarioLogado._Usuario._Grupo.Id == (int)Domain.Enuns.EnumPerfil.Administrador_Super)
                                    {

                                        <span>
                                            Redeem date
                                        </span>
                                        <h2 class="font-bold">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input type="text" name="DtInclusaoAdm" id="DtInclusaoAdm" class="date form-control">
                                            </div>
                                        </h2>

                                    }

                                }
                                <hr>
                                @*<span class="text-muted small">
                                        *Atenção. Assim que efetuar a sua solicitação, você recebera um email com os dados para depositar o valor do seu investimento.
                                    </span>*@
                                <div class="m-t-sm">
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-primary btn-sm" onclick="btnSolicitar()"><i class="fa fa-shopping-cart"></i> Redeem</a>
                                        <a href="#" class="btn btn-white btn-sm" onclick="btnCancelar()"> Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Support</h5>
                            </div>
                            <div class="ibox-content text-center">



                                <h3><i class="fa fa-phone"></i> @System.Configuration.ConfigurationManager.AppSettings["telefoneContato"]</h3>
                                <span class="small">
                                    Please contact with us if you have any questions.
                                </span>


                            </div>
                        </div>


                    </div>
                }
            </div>

        </div>
    </div>

}

<script>




    function btnSolicitar() {
        var valorSolicitado = $("#mValorCotas").val();


        swal({
            title: "Confirm",
            text: "Please confirm your request. If it is correct click Redeem now or click BACK to make changes.",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "REDEEM",
            cancelButtonText: "Back",
            closeOnConfirm: false
        }).then((result) => {
            if (result.value) {
                var form = $("#fmSolicitarEntrada");
                showLoading("Wait a moment...");
                $.ajax({
                    url: '../Investimento/SolicitarVendaPool',
                    type: 'POST',
                    data: form.serialize(),
                    beforeSend: function () {

                    },
                    onsuccess: function () { },
                    success: function (result) {
                        hideLoading();
                        if (result.statusRetorno == 'success') {
                            swal({
                                title: "Successful",
                                text: "The investment was successful. You will receive a confirmation email with the transaction details.",
                                type: "success",
                                showCancelButton: false,
                                confirmButtonText: "OK",
                                closeOnConfirm: false
                            }).then((result) => {

                                window.location = '../Investimento/Ativos'
                                });

                        }
                        else {
                            hideLoading();
                            swal("Attention", result.statusRetorno, "error");
                        }
                    }
                });
            }
        }) 

    }





    function fnChangeCotas(obj) {
        var qntCotas = $(obj).val() + ".00";
        var valorCotas = parseFloat(qntCotas) * parseFloat('@valorCota.ToString().Replace(',','.')').toFixed(2);
        $("#mValorCotas").val(parseFloat(valorCotas).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString().replace(',', '-').replace('.', ',').replace('-', '.'));
        $("#valorCotaAdq").html("U$ " + parseFloat(valorCotas).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString().replace(',', '-').replace('.', ',').replace('-', '.'))

    }
    function btnAderir() {
        $(".touchspin3").TouchSpin({
            verticalbuttons: true,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white',
            max: '@minhasCotas',
            initval: '@minhasCotas'
        });

        $(".touchspin3").val('@minhasCotas')
        $("#dvContent").removeClass('col-lg-12');
        $("#dvContent").addClass('col-lg-9');
        $("#btnAderir").fadeOut();
        $("#btnCancelar").fadeIn();

        $("#dvAderir").fadeIn();
    }

    function btnCancelar() {

        window.location = '../Investimento/Ativos'
    }

    function btnSelecionar() {

        var idInvestidorManual = $("#idInvestidorManual").val();
        if (idInvestidorManual == '' || idInvestidorManual == 0) {
            swal("Atenção", "É necessário selecionar um investidor para esta opção!", "error");
        }
        else {

            showLoading("Loading...");
            window.location = '../Investimento/DetalhePoolVenda?id=@pool.Id&m=' + idInvestidorManual;
        }


        }


        function btnVoltar() {
            showLoading("Loading...");
            window.location = '../Investimento/Ativos'
        }

    window.onload = function (event) {

        $('.product-images').slick({
            dots: true
        });

        setTimeout(function () {

            $("[Name='idInvestidorManual']").select2({
                placeholder: " ",
                allowClear: true
            });

        }, 3000);

           $(".touchspin3").TouchSpin({
            verticalbuttons: true,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white',
            max: '@minhasCotas',
            initval: '@minhasCotas'
        });

        $(".touchspin3").val('@minhasCotas')

        if(getUrlParameter('opn')=="1")
        {
            $(".touchspin3").TouchSpin({
                verticalbuttons: true,
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white',
            max: '@minhasCotas',
            initval: '@minhasCotas'
            });
            $("#dvContent").removeClass('col-lg-12');
            $("#dvContent").addClass('col-lg-9');
            $("#btnAderir").fadeOut();
            $("#btnCancelar").fadeIn();

        }

    };

</script>