﻿@model Presentation.Helpers.ResponseJson
@{
    ViewBag.Title = "Index";
    List<Presentation.Models._2BTrustModel.BensImagensModel> listaImagem = new List<Presentation.Models._2BTrustModel.BensImagensModel>();
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Investment</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Investments</a>
            </li>
            <li class="active">
                <strong>Invest</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


@if (Model.statusRetorno != "success")
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem de Produtos para Investir</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">

                        <span> @Model.statusRetorno</span>

                    </div>
                </div>
            </div>
        </div>
    </div>



}
else
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            @foreach (var item in (IEnumerable<Presentation.Models._2BTrustModel.PoolBensModel>)Model.objetoRetorno)
            {
                var imagemMostra = "";
                Decimal valorTotal = 0;
                foreach (var itemBens in item._Bens)
                {
                    valorTotal += Convert.ToDecimal(itemBens.CapitalInvestido.ToString());
                    listaImagem.AddRange(itemBens._Imagens);
                }
                if (listaImagem.Count() > 0)
                {
                    Random aleatorio = new Random();
                    var iMax = listaImagem.Count() - 1;
                    int index = aleatorio.Next(0, iMax);
                    imagemMostra = listaImagem[index].PathLocationIIS;
                }

                <div class="col-md-4">
                    <div class="ibox">
                        <div class="ibox-content product-box">

                            <div class="product-imitation" style="padding:0px!important; height:200px">

                                <span class="middle">
                                    <img src="@item.PathLocationIIS" style="width:100%; height:200px">
                                </span>
                            </div>
                            <div class="product-desc">
                                @*<span class="product-price">
                US$ @valorTotal.ToString("#,##0.00")
                Investiment
            </span>*@
                                <small class="text-muted">@*Categoria*@</small>
                                <a href="#" class="product-name"> @item.Nome</a>



                                <div class="small m-t-xs">
                                    @*Selecionando este Pool, você terá acesso ao investimento com  ens inclusos.*@
                                </div>
                                <div class="m-t text-righ">
                                    <a href="../Investimento/DetalhePool?id=@item.Id&opn=1" class="btn btn-xs btn-outline btn-primary" style="padding: 5px;    width: 100px;    height: 30px;" onclick="investOpen()">Invest   </a>
                                    <a href="../Investimento/DetalhePool?id=@item.Id" class="btn btn-xs btn-outline btn-primary" style="padding: 5px;    width: 100px;    height: 30px;" onclick="investClose()">View Details   </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>



    </div>

}