﻿
@model Presentation.Helpers.ResponseJson
@{
    ViewBag.Title = "Index";


}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Validações </h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Administrativo</a>
            </li>
            <li class="active">
                <strong>Valida Investidores</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


@if (Model.statusRetorno != "success")
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem de Cotas Compradas</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">

                        <span> @Model.statusRetorno</span>

                    </div>
                </div>
            </div>
        </div>
    </div>



}
else
{

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem de Investidores na plataforma</h5>
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">

                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Cliente</th> 
                                                <th>Data Cadastro</th>
                                                <th>Status</th> 
                                                <th>Opções</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in (IEnumerable<Presentation.Models._2BTrustModel.PessoasModel>)Model.objetoRetorno)
                                            {



                                             

                                            <tr class="gradeX">
                                                <th>@item.Nome</th>
                                                <th>@item.DtInclusao.ToString("dd-MM-yyyy HH:mm")</th>
                                                <th style="text-align:center">
                                                    @{
                                                        if (item._Usuario.CadastroValido == null)
                                                        {
                                                            <span>Pendente de validação</span>
                                                        }
                                                        else if (item._Usuario.CadastroValido.Value == true)
                                                        {
                                                            <span style="color:cornflowerblue">Aceito</span>
                                                        }
                                                        else if (item._Usuario.CadastroValido == false)
                                                        {
                                                            <span style="color:red">Recusado</span>
                                                        }
                                                    }
                                                </th>

                                                <th style="text-align:center">

                                                    @if (item._Usuario.CadastroValido == null)
                                                    {
                                                        <button class="btn btn-info " type="button" onclick="btnAtivar('@item.Id')" autocomplete="off">  Aprovar</button>
                                                        <button class="btn btn-danger " onclick="btnDeletar('@item.Id')" type="button"> Recusar</button>
                                                    }
                                                    else
                                                    {

                                                        <span>-</span>
                                                    }


                                                </th>

                                            </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>


    async function btnAtivar(idPBP) {

        swal({
            title: 'Atenção',
            text: 'Deseja realmente aprovar este Investidor?',
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Sim!",
            closeOnConfirm: false
        }).then((result) => {

            console.log(result)
            if (result.value == true) {
                showLoading('Processando...');
                $.ajax({
                    url: '../Investimento/ValidarInvestidorPlataforma',
                    type: 'POST',
                    data: { idPessoa: idPBP, isValid: true },
                    beforeSend: function () {

                    },
                    onsuccess: function () { },
                    success: function (result) {
                        if (result.statusRetorno == 'success') {
                            hideLoading();
                            swal("Perfeito", "Investidor APROVADO com sucesso! O mesmo receberá um email de boas vindas", "success");

                            setTimeout(function () {
                                window.location = "../Investimento/ValidarInvestidorPlataforma";
                            }, 2000);

                        }
                        else {
                            hideLoading();
                            swal("Atenção", result.statusRetorno, "error");
                        }
                    }
                });
            }

        });



    }

    async function btnDeletar(idPBP) {
        swal({
            title: 'Atenção',
            text: 'Deseja realmente Reprovar este Investidor?',
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Sim!",
            closeOnConfirm: false
        }).then((result) => {
            if (result.value == true) {
                showLoading('Processando...');
                $.ajax({
                    url: '../Investimento/ValidarInvestidorPlataforma',
                    type: 'POST',
                    data: { idPessoa: idPBP, isValid: false },
                    beforeSend: function () {

                    },
                    onsuccess: function () { },
                    success: function (result) {
                        if (result.statusRetorno == 'success') {
                            hideLoading();
                            swal("Perfeito", "Investidor REPROVADO com sucesso! O mesmo receberá um email de informando a negação", "success");

                            setTimeout(function () {
                                window.location = "../Investimento/ValidarInvestidorPlataforma";
                            }, 2000);

                        }
                        else {
                            hideLoading();
                            swal("Atenção", result.statusRetorno, "error");
                        }
                    }
                });
            }

        });


    }



</script>