﻿@model Presentation.Helpers.ResponseJson
@{
    ViewBag.Title = "Index";


}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Validações </h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Administrativo</a>
            </li>
            <li class="active">
                <strong>Valida Cotas Vendidas</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


@if (Model.statusRetorno != "success")
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem de Cotas Vendidas</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">

                        <span> @Model.statusRetorno</span>

                    </div>
                </div>
            </div>
        </div>
    </div>



}
else
{

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem de Cotas Vendidas</h5>
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">

                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Cliente</th>
                                                <th>Fundo</th>
                                                <th>Data Solicitação</th>
                                                <th>Cotas</th>
                                                <th>Status</th>
                                                <th>Opções</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in (IEnumerable<Presentation.Models._2BTrustModel.PessoasModel>)Model.objetoRetorno)
                                            {



                                                var sTyle = "";
                                                if (item._ObjMeusPools.IdStatus == 11)
                                                { sTyle = "text-decoration: line-through;color: #ca6b6b;"; }

                                                <tr class="gradeX" style="@sTyle">
                                                    <th>@item.Nome</th>
                                                    <th>@item._ObjMeusPools._PoolBens.Nome</th>
                                                    <th>@item._ObjMeusPools.DtInclusao</th>
                                                    <th>@item._ObjMeusPools.Cota</th>
                                                    <th>
                                                        @{
                                                            if (item._ObjMeusPools.IdStatus == 11)
                                                            {
                                                                <span>Venda recusada</span>
                                                            }
                                                            else
                                                            {
                                                                <span>Solicitação de venda</span>
                                                            }
                                                        }
                                                    </th>
                                                    <th>

                                                        @if (item._ObjMeusPools.IdStatus == 11)
                                                        {
                                                            <button class="btn btn-info " type="button" onclick="btnAtivar('@item._ObjMeusPools.Id')" autocomplete="off">  Aprovar</button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-info " type="button" onclick="btnAtivar('@item._ObjMeusPools.Id')" autocomplete="off"> Aprovar</button>
                                                            <button class="btn btn-danger " onclick="btnDeletar('@item._ObjMeusPools.Id')" type="button"> Recusar</button>
                                                        }


                                                    </th>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>

  
        function btnAtivar(idPBP) {

            showLoading('Processando...');

            $.ajax({
                url: '../Investimento/ValidaCotaVendida',
                type: 'POST',
                data: { idPBP: idPBP, isValid : true },
                beforeSend: function () {

                },
                onsuccess: function () { },
                success: function (result) {
                    if (result == true) {
                        hideLoading();
                        swal("Perfeito", "Item validado com sucesso!", "success");

                        setTimeout(function () {
                            window.location = "../Investimento/ValidaCotaVendida";
                        }, 2000);

                    }
                    else {
                        hideLoading();
                        swal("Atenção", result.statusRetorno, "error");
                    }
                }
            });

        }

        function btnDeletar(idPBP) {

            showLoading('Processando...');

            $.ajax({
                url: '../Investimento/ValidaCotaVendida',
                type: 'POST',
                data: { idPBP: idPBP, isValid : false },
                beforeSend: function () {

                },
                onsuccess: function () { },
                success: function (result) {
                    if (result == true) {
                        hideLoading();
                        swal("Perfeito", "Item recusado com sucesso!", "success");

                        setTimeout(function () {
                            window.location = "../Investimento/ValidaCotaVendida";
                        }, 2000);

                    }
                    else {
                        hideLoading();
                        swal("Atenção", result.statusRetorno, "error");
                    }
                }
            });

        }

     

</script>