﻿
@model Presentation.Helpers.ResponseJson
@{
    ViewBag.Title = "Index";
    IEnumerable<Presentation.Models._2BTrustModel.ComprovanteRetiradaModel> modelDes = Model.objetoRetorno;
    var totalAprovados = modelDes.Where(c => c.IdStatus == Domain.Enuns.EnumStatusCarteira.Aprovado).AsEnumerable();
    var totalAguardando = modelDes.Where(c => c.IdStatus == Domain.Enuns.EnumStatusCarteira.Aguardando).AsEnumerable();
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Retiradas</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Retiradas ADM</a>
            </li>
            <li class="active">
                <strong>Validar</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


@if (Model.statusRetorno != "success")
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem dos saques realizados</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">

                        <span> @Model.statusRetorno</span>

                    </div>
                </div>
            </div>
        </div>
    </div>



}
else
{


    <div class="row wrapper border-bottom white-bg page-heading" style="margin-top: 10px; padding: 10px;">


        <div class="col-lg-3">
            <span class="label label-info"> </span><span> @totalAguardando.Sum(c => c.Valor).ToString("c").Replace("R$", "US$") aguardando</span>
        </div>
        <div class="col-lg-3">

        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        <div id="dvContent">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Listagem dos saques à serem validados</h5>

                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Cliente</th>
                                            <th>Data</th>
                                            <th>Status</th>
                                            <th>Valor</th>
                                            <th>Opções</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.objetoRetorno)
                                        {
                                            <tr class="gradeX">

                                                <td>@item.Id</td>
                                                <td>@item.NomeCliente</td>
                                                <td style="text-align:center">@item.DtInclusao.ToString("MM/dd/yyyy")</td>
                                                <td style="text-align:center; font-size:13px!important">
                                                    @{
                                                        if (item.IdStatus == Domain.Enuns.EnumStatusCarteira.Aguardando)
                                                        {
                                                            <span style="text-align:center; font-size:13px!important" class="label label-info">Aguardando</span>
                                                        }
                                                        else if (item.IdStatus == Domain.Enuns.EnumStatusCarteira.Processando)
                                                        {
                                                            <span style="text-align:center; font-size:13px!important" class="label label-warning">Processando</span>
                                                        }
                                                        else if (item.IdStatus == Domain.Enuns.EnumStatusCarteira.Aprovado)
                                                        {
                                                            <span style="text-align:center; font-size:13px!important" class="label label-success">Aprovado</span>
                                                        }
                                                        else if (item.IdStatus == Domain.Enuns.EnumStatusCarteira.Recusado)
                                                        {
                                                            <span style="text-align:center; font-size:13px!important" class="label label-danger">Recusado/Cancelado</span>
                                                        }
                                                    }
                                                </td>

                                                <td>@item.Valor.ToString("c").Replace("R$", "US$")</td>
                                                <td>

                                                    @{
                                                        if (item.IdStatus == Domain.Enuns.EnumStatusCarteira.Aguardando)
                                                        {

                                                            <button type="button" class="btn btn-outline btn-primary" onclick="fnAlteraStatus(@item.Id,8)">Processar</button>

                                                            <button type="button" class="btn btn-outline btn-danger" onclick="fnAlteraStatus(@item.Id, 2)">Recusar</button>
                                                        }
                                                        else if (item.IdStatus == Domain.Enuns.EnumStatusCarteira.Processando)
                                                        {

                                                            <button type="button" class="btn btn-outline btn-primary" onclick="fnValidar(@item.Id)">Subir Comprovante</button>
                                                        }


                                                    }



                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>

 
    </div>

}

<script>

    function fnValidar(idComprovante) {

        showLoading("One Moment Please",'Loading...');
        window.location = '../Investimento/AnexarComprovanteRetirada?id=' + idComprovante;
    }


    function fnAlteraStatus(idComprovante, idStatus) {

        var title = 'Deletar solicitação?';
        var corpo = 'Deseja realmente deletar essa solicitação!';
        if (idStatus == 8) {

            title = 'Processar solicitação?';
            corpo = 'Deseja realmente processar essa solicitação!';

        }


        swal({
            title: title,
            text: corpo,
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Sim!",
            closeOnConfirm: false
        }).then((result) => {

                showLoading('Processando...');
                $.ajax({
                    url: '../Investimento/ValidaRetiradaPlataforma',
                    type: 'POST',
                    data: { idComprovante: idComprovante, idStatus: idStatus },
                    beforeSend: function () {

                    },
                    onsuccess: function () { },
                    success: function (result) {
                        if (result.statusRetorno == 'success') {
                            hideLoading();
                            swal("Perfeito", "Item deletado com sucesso!", "success");

                            setTimeout(function () {
                                window.location = "../Investimento/ValidaRetiradaPlataforma";
                            }, 2000);

                        }
                        else {
                            hideLoading();
                            swal("Atenção", result.statusRetorno, "error");
                        }
                    }
                });

            });


    }

</script>
