﻿@model Presentation.Models._2BTrustModel.LoginsModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>2bTrust | Investimentos - [Login]</title>
    <script src="~/assets/js/jquery-2.1.1.js"></script>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="../assets/css/animate.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <script src="~/assets/js/site.js"></script>
</head>
<body class="gray-bg">
    @{Html.RenderPartial("_loading");}
    @using (Html.BeginForm("Index", "Auth", FormMethod.Post, new { id = "fmLogin", @autocomplete = "off" }))
    {
        
        @Html.AntiForgeryToken()
        <div class="middle-box text-center loginscreen animated fadeInDown">
            <div style="border: 1px solid #dedede;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 25px;
    padding-top: 30px;
    box-shadow: 0 0 15px 1px #d2d2d2">
                <div style="margin-bottom: 70px;">

                    <h1 class="logo-name"><img src="~/assets/img/logos/logo@2x.png" /></h1>

                </div>

                <h2>Acesso a sua conta.</h2>
                <form class="m-t" role="form" action="index.html">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Login, new { @class = "form-control", @placeholder = "Insira seu login" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.Senha, new { @class = "form-control", @placeholder = "Insira sua senha" })
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b" onclick="showLoading('Acessando a plataforma')">Acessar</button>

                    <a href="#"><small>Esqueceu sua senha?</small></a>
                    <p class="text-muted text-center"><small>Ainda não tem uma conta?</small></p>
                    <a class="btn btn-sm btn-white btn-block" href="../CadastreAqui">Criar conta</a>
                </form>
                <p class="m-t"> <small>2bTrust Investments &copy; 2018</small> </p>
            </div>
        </div>


    }
    <!-- Mainly scripts -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/sweetalert/sweetalert.min.js"></script>
    <link href="~/assets/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
</body>

<script>


    $(document).ready(
        function () {

            var _alerta = @Html.Raw(Json.Encode(ViewBag.AlertaLogin));

            if(_alerta!=null)
            {
                swal("Atenção", _alerta, "error")
            }

        });


</script>
