﻿@model Presentation.Models._2BTrustModel.LoginsModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>2bTrust | Investimentos - [Cadastro Inicial]</title>
        <link rel="shortcut icon" type="image/x-icon" href=@Url.Content("~/assets/img/favicon.ico") />
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
        <!-- CSS Files -->
        <link href="~/assets/materialBootstrapWizard/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/assets/materialBootstrapWizard/assets/css/material-bootstrap-wizard.css" rel="stylesheet" />
        <!-- CSS Just for demo purpose, don't include it in your project -->
        <link href="~/assets/materialBootstrapWizard/assets/css/demo.css" rel="stylesheet" />

        <link href="~/assets/css/login.css" rel="stylesheet" />


        <link href="../Assets/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    </head><body style="background-image: url('https://2btrust.com/assets/images/rev-slider/index1-bg.jpg');  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">


    @{Html.RenderPartial("_loading");}
    <div class="image-container set-full-height">

        <!--   Creative Tim Branding   -->
        @*<a href="http://2btrust.com/">
                <div class="logo-container">
                    <div class=" ">
                        <img id="imgLogo" src="https://app.2btrust.com/assets/img/logos/2B-still.png" style="width:130px" />
                    </div>
                </div>
            </a>*@

        <!--   Big container   -->
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3" style="">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="green" id="wizardProfile">
                            @*<div class="row" style="margin-top:-90px">
                                    <div class="col-sm-12" style="text-align:center">
                                        <img src="~/assets/img/profile_small.jpg" style="width:100px" />
                                    </div>
                                </div>*@
                            <div class="row" style="margin-top:10px">
                                <div class="col-sm-12" style="text-align:center">
                                    <div id="divLoading" class="loading" align="center">
                                        <h3 class="wizard-title"></h3>
                                        <img id="imgLogo" src="../assets/img/logos/2b-intro.gif" style="width:40%" alt="Updating ..." />
                                    </div>
                                    <h5>Client Portal Login</h5>
                                </div>
                            </div>
                            @using (Html.BeginForm("Index", "Auth", FormMethod.Post, new { id = "fmLogin", @autocomplete = "off" }))
                            {

                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div class="col-sm-6" style="border-right: 1px solid #4c4b4b;">
                                        <div class="col-sm-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">face</i>
                                                </span>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Username <small>(required)</small></label>
                                                    @Html.TextBoxFor(m => m.Login, new { @class = "form-control required" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">record_voice_over</i>
                                                </span>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Password <small>(required)</small></label>
                                                    @Html.PasswordFor(m => m.Senha, new { @class = "form-control required" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" style="text-align:center">
                                            <button type="submit" class="btn ink-reaction btn-raised btn-success" onclick="loadLogin()">Login</button>
                                        </div>
                                    </div>

                                    <div class="col-sm-6" style="" id="antesReco">
                                        <div class="col-sm-12" style="text-align:center; padding:30px">
                                            <a href="#" onclick="liberaRecovery()"><small>Forgot ID/Passcode?</small></a>
                                        </div>
                                        <div class="col-sm-12">
                                        </div>
                                        <div class="col-sm-12" style="text-align:center">

                                            <a class="btn ink-reaction btn-raised btn-success" onclick="loadLogin()" href="../CadastreAqui">OPEN ACCOUNT</a>
                                        </div>
                                    </div>


                                    <div class="col-sm-6" style="display:none" id="Reco">
                                        <div class="col-sm-12" style="text-align:center; padding:30px;    margin-top: -25px;">
                                            <small>Enter the email you used to register on the platform!</small>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group label-floating">
                                                <label class="control-label">E-mail <small>(required)</small></label>
                                                @Html.TextBox("txtEmailRecovery", "", new { @class = "form-control required" })
                                            </div>
                                        </div>
                                        <div class="col-sm-12" style="text-align:center">
                                            <a class="btn ink-reaction btn-raised btn-success" onclick="recoveryPassword()">Recovery</a>
                                        </div>
                                    </div>
                                </div>

                            }


                        </div>
                    </div>
                </div> <!-- wizard container -->
            </div>
        </div><!-- end row -->
    </div> <!--  big container -->

    <footer class="" style=" background:#e3e6e8;   margin-top: 50px;
    bottom: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;">
        <div class="footer-widget-area padding-five-tb xs-padding-30px-tb">
            <div class="container">
                <div class="row equalize xs-equalize-auto">


                    <div class="col-md-12" style="    text-align: center;   color: #55595e;">

                        <p text-small width-95 xs-width-100>
                            (C) 2020 2bTrust, LLC. All Rights Reserved. Our privacy policy can be found <a  href="https://2btrust.com/index.php/privacy-policy/" target="_blank">here</a>.

                        </p>
                    </div>
                    <div class="col-md-12" style=";">
                        <!-- start logo -->
                        <a href="/" class="display-inline-block">
                            <img src="../assets/img/logos/2BFooter.png" style="width:80px"/> 
                        </a>
                        <!-- end logo -->
                        <p class="text-small width-95 xs-width-100"></p>
                        <!-- start social media -->
                        <!-- end social media -->
                    </div>


                </div>
            </div>
        </div>
        <div class="bg-dark-footer padding-50px-tb text-center">
            <div class="container">
                <div class="row">
                    <!-- start copyright -->
                    <div class="col-md-12 text-small xs-text-center" style="color: #55595e;">© 2020 - 2bTrust</div>

                </div>
                <!-- end copyright -->
            </div>
        </div>

    </footer>
    @*<footer class="section-black" style="    margin-top: 50px;
        bottom: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;">
            <div class="footer-widget-area padding-five-tb xs-padding-30px-tb">
                <div class="container">
                    <div class="row equalize xs-equalize-auto">


                        <div class="col-md-12" style="    text-align: center;   color: #b4b3d2;">

                            <p class="text-small width-95 xs-width-100">
                                (C) 2020 2bTrust, LLC. All Rights Reserved. Our privacy policy can be found <a  href="https://2btrust.com/index.php/privacy-policy/" target="_blank">here</a>.

                            </p>
                        </div>
                        <div class="col-md-12" style=";">
                            <!-- start logo -->
                            <a href="/" class="display-inline-block">
                                <img src="~/assets/img/logos/logo-white.png" style="width:80px" />
                            </a>
                            <!-- end logo -->
                            <p class="text-small width-95 xs-width-100"></p>
                            <!-- start social media -->
                            <!-- end social media -->
                        </div>


                    </div>
                </div>
            </div>
            <div class="bg-dark-footer padding-50px-tb text-center">
                <div class="container">
                    <div class="row">
                        <!-- start copyright -->
                        <div class="col-md-12 text-small xs-text-center" style="color: aliceblue;">© 2020 - 2bTrust</div>

                    </div>
                    <!-- end copyright -->
                </div>
            </div>

        </footer>*@
</body>


<!--   Core JS Files   -->
<script src="~/assets/materialBootstrapWizard/assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="~/assets/materialBootstrapWizard/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/assets/materialBootstrapWizard/assets/js/jquery.bootstrap.js" type="text/javascript"></script>
<!--  Plugin for the Wizard -->
<script src="~/assets/materialBootstrapWizard/assets/js/material-bootstrap-wizard.js"></script>
<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="~/assets/materialBootstrapWizard/assets/js/jquery.validate.min.js"></script>

<!-- MASK -->
<script src="../Assets/js/plugins/jasny/jasny-bootstrap.min.js"></script>

<!-- Data picker -->
<script src="../Assets/js/plugins/datapicker/bootstrap-datepicker.js"></script>

<!-- Jquery Validate -->
<script src="../Assets/js/plugins/validate/jquery.validate.min.js"></script>
</html>

<!-- SWEET ALERT -->
<script src="../Assets/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="~/assets/js/site.js"></script>

<script>

    function loadLogin() {

        if ($("#Login").val() == "" || $("#Senha").val() == "") { } else {
            showLoading('Access platform....')
        }
    }

    function liberaRecovery() {
        $("#antesReco").fadeOut();
        $("#Reco").fadeIn();

        return false;
    }


    function recoveryPassword() {

        if ( $("#txtEmailRecovery").val() == "") {

            swal("Attention", "Fill in the email field!", "error");
        }
        else {

            showLoading("Wait...")
            $.ajax({
                url: '../Auth/RecoveryPasswordByEmail',
                type: 'POST',
                data: { sEmail: $("#txtEmailRecovery").val() },
                beforeSend: function () {

                },
                onsuccess: function () { },
                success: function (result) {
                    hideLoading();
                    if (result.statusRetorno == "success") {

                        if (result.objetoRetorno != null) {
                             swal({
                                title: 'Success!',
                                text: 'You will receive an email with a token to change your password.',
                                timer: 5000, type: 'success',
                                onOpen: () => {
                                    swal.showLoading();
                                }
                            }).then((result) => {
                                if ( result.dismiss === swal.DismissReason.timer ) {
                                    window.location = "../Auth";
                                }
                            })

                        }
                        else {
                            swal("Attention", "This Email does not exist", "error")
                        }
                    }
                    else {
                        swal("Attention", "An error has occurred", "error")
                    }

                }
            });
        }
    }


    $(document).ready( function () {

            var _alerta = @Html.Raw(Json.Encode(ViewBag.AlertaLogin));

            if(_alerta!=null)
            {
                swal("Attention", _alerta, "error")
            }
        });

    function ControlLoading() {
        var url = '@Url.Action("PostMethod", "Auth")';
        $("#divLoading").show();
        $.post(url, null,
                function (data) {
                    $("#divLoading").hide();
                });
    }

    //window.setInterval(function () {
    //    ControlLoading();
    //}, 3000);
</script>