﻿@model Presentation.Models._2BTrustModel.LoginsModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>2bTrust | Investimentos - [Cadastro Inicial]</title>
    <link rel="shortcut icon" type="image/png" href=@Url.Content("~/assets/img/favicon.ico") />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="~/assets/materialBootstrapWizard/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/materialBootstrapWizard/assets/css/material-bootstrap-wizard.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/assets/materialBootstrapWizard/assets/css/demo.css" rel="stylesheet" />



    <link href="../Assets/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
</head>
<body>

    @{Html.RenderPartial("_loading");}
    <div class="image-container set-full-height" style="background-image: url('http://54.69.175.194:7779/Content/images/banner-02_.jpg')">

        <!--   Creative Tim Branding   -->
        <a href="http://2btrust.com/">
            <div class="logo-container">
                <div class=" ">
                    <img id="imgLogo" src="http://54.69.175.194:7779/Content/images/logo-white@2x.png" style="width:130px" />
                </div>
            </div>
        </a>

        <!--   Big container   -->
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3" style="margin-top:100px">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="green" id="wizardProfile">
                            <div class="row" style="margin-top:-90px">
                                <div class="col-sm-12" style="text-align:center">
                                    <img src="~/assets/img/profile_small.jpg" style="width:100px" />
                                </div>
                            </div>
                            <div class="row" style="margin-top:40px">
                                <div class="col-sm-12" style="text-align:center">
                                    <h3 class="wizard-title">
                                        2BTrust
                                    </h3>
                                    <h5>Recovery password</h5>
                                </div>
                            </div>
                            @using (Html.BeginForm("Recovery", "Auth", FormMethod.Post, new { id = "fmLogin", @autocomplete = "off" }))
                            {

                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div class="col-sm-12" style="border-right: 1px solid #4c4b4b;">
                                        <div class="col-sm-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">

                                                </span>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Token:<small>(@ViewBag.Token)</small></label>
                                                </div>
                                            </div>
                                        </div>

                                        @{ if (ViewBag.TokenValido == true)
                                            {


                                                <div class="col-sm-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">record_voice_over</i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Password <small>(required)</small></label>
                                                            @Html.PasswordFor(m => m.Senha, new { @class = "form-control required" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">record_voice_over</i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Confirm password <small>(required)</small></label>
                                                            @Html.PasswordFor(m => m.ReSenha, new { @class = "form-control required" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6" style="text-align:center">
                                                    <button type="button" class="btn ink-reaction btn-raised btn-danger" onclick="btnVoltar()">Back</button>
                                                </div>
                                                <div class="col-sm-6" style="text-align:center">
                                                    <button type="button" class="btn ink-reaction btn-raised btn-success" onclick="loadrecovery()">Recovery</button>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-sm-12" style="text-align:center ">
                                                    <span> Invalid token</span>
                                                </div>
                                                <div class="col-sm-12" style="text-align:center">
                                                    <button type="button" class="btn ink-reaction btn-raised btn-danger" onclick="btnVoltar()">Back</button>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>

                            }


                        </div>
                    </div>
                </div> <!-- wizard container -->
            </div>
        </div><!-- end row -->
    </div> <!--  big container -->
    <div class="footer">
        <div class="container text-center">
            <a href="http://2btrust.com/" target="_blank">2BTrust</a>
        </div>
    </div>
    </div>
</body>


<!--   Core JS Files   -->
<script src="~/assets/materialBootstrapWizard/assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="~/assets/materialBootstrapWizard/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/assets/materialBootstrapWizard/assets/js/jquery.bootstrap.js" type="text/javascript"></script>
<!--  Plugin for the Wizard -->
<script src="~/assets/materialBootstrapWizard/assets/js/material-bootstrap-wizard.js"></script>
<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="~/assets/materialBootstrapWizard/assets/js/jquery.validate.min.js"></script>

<!-- MASK -->
<script src="../Assets/js/plugins/jasny/jasny-bootstrap.min.js"></script>

<!-- Data picker -->
<script src="../Assets/js/plugins/datapicker/bootstrap-datepicker.js"></script>

<!-- Jquery Validate -->
<script src="../Assets/js/plugins/validate/jquery.validate.min.js"></script>
</html>

<!-- SWEET ALERT -->
<script src="../Assets/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="~/assets/js/site.js"></script>

<script>

    function loadrecovery() {
        var senha = $("#Senha").val();
        var reSenha = $("#ReSenha").val();

        if (senha != reSenha) {

            swal("Attention", "The passwords do not match", "error");
            return false;
        }
        else {

            $.ajax({
                url: '../Auth/Recovery',
                type: 'POST',
                data: { sToken: '@ViewBag.Token', sSenha: senha  },
                beforeSend: function () {

                },
                onsuccess: function () { },
                success: function (result) {

                    if (result == false) {

                        swal({
                            title: 'Error!',
                            text: 'An error has occurred.',
                            timer: 5000, type: 'error',
                            onOpen: () => {
                                swal.showLoading();
                            }
                        }).then((result) => {
                            if (result.dismiss === swal.DismissReason.timer) {
                                window.location = "../Auth";
                            }
                        })
                    }
                    else {
                        swal({
                            title: 'Success!',
                            text: 'Password updated successfully.',
                            timer: 5000, type: 'success',
                            onOpen: () => {
                                swal.showLoading();
                            }
                        }).then((result) => {
                            if (result.dismiss === swal.DismissReason.timer) {
                                window.location = "../Auth";
                            }
                        })
                    }

                }

            });

        }


    }
    function btnVoltar() {
        showLoading("Wait...");
        window.location = "../Auth";

        return false;
    }
    function liberaRecovery() {
        $("#antesReco").fadeOut();
        $("#Reco").fadeIn();

        return false;
    }

    $(document).ready(
        function () {

            var _alerta = @Html.Raw(Json.Encode(ViewBag.AlertaLogin));

            if(_alerta!=null)
            {
                swal("Attention", _alerta, "error")
            }




        });


</script>