﻿@model Presentation.Models._2BTrustModel.BensVisaoGeralModel
@{
    ViewBag.Title = "Controles";
    if (Model._Imagens == null)
    {
        Model._Imagens = new List<Presentation.Models._2BTrustModel.BensVisaoGeralImagensModel>();
    }
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Visão Geral</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Financeiro ADM</a>
            </li>
            <li>
                <a href="../Bens/BemVisaoGeral">Visão Geral</a>
            </li>
        </ol>
    </div>
</div>

<link href="~/assets/fine-uploader/fine-uploader-gallery.css" rel="stylesheet" />
<link href="~/assets/fine-uploader/fine-uploader.css" rel="stylesheet" />
<script src="~/assets/fine-uploader/fine-uploader.core.js"></script>
<script src="~/assets/fine-uploader/fine-uploader.js"></script>
<script src="~/assets/fine-uploader/jquery.fine-uploader.js"></script>

<link href="~/assets/css/plugins/slick/slick.css" rel="stylesheet">
<link href="~/assets/css/plugins/slick/slick-theme.css" rel="stylesheet">

<script src="../assets/js/jquery-3.1.1.min.js"></script>
<script src="~/assets/js/plugins/validate/jquery.validate.min.js"></script>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Visão Geral de Bens do Sistema</h5>
                    <div class="ibox-tools">
                        <button class="btn btn-success " type="button" id="btnSalvar" onclick="btnSalvar()">  Salvar</button>
                    </div>
                </div>
                <div class="ibox-content">
                    @{Html.RenderPartial("_loading");}
                    @using (Html.BeginForm("BemVisaoGeral", "BensVisaoGeral", FormMethod.Post, new { id = "fmBemVisaoGeral", @autocomplete = "off", @enctype = "multipart/form-data" }))
                    {

                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(c => c.IdUsuarioInclusao)
                        @Html.HiddenFor(c => c.Id)
                        @Html.HiddenFor(c => c.IdUsuarioAlteracao)
                        @Html.HiddenFor(c => c.IdStatus)


                        <div class="row">
                            <div class="col-lg-12">
                                <div class="tabs-container">
                                    <ul class="nav nav-tabs" id="myTab">
                                        <li class="active"><a data-toggle="tab" data-target="#tab-1"> Dados Cadastrais</a></li>
                                        <li class=""><a data-toggle="tab" data-target="#tab-4" onclick="loadImage()">Imagens</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="tab-1" class="tab-pane active">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-1">
                                                        <label>#</label><br />
                                                        <label>@Model.Id</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Nome *</label>
                                                            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control required", @placeholder = "Digite o nome" })
                                                            @Html.ValidationMessageFor(c => c.Nome)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label>Descrição *</label>
                                                            @Html.TextAreaFor(m => m.Descritivo, new { rows="10", cols="10", @class = "form-control required", @placeholder = " " })
                                                            @Html.ValidationMessageFor(c => c.Descritivo)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="tab-4" class="tab-pane">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-12" style="text-align:center">
                                                        <script type="text/template" id="qq-template">
                                                            <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
                                                                <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                                                                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
                                                                </div>
                                                                <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                                                                    <span class="qq-upload-drop-area-text-selector"></span>
                                                                </div>
                                                                <div class="qq-upload-button-selector qq-upload-button">
                                                                    <div>Selecione</div>
                                                                </div>
                                                                <span class="qq-drop-processing-selector qq-drop-processing">
                                                                    <span>Processing dropped files...</span>
                                                                    <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                                                                </span>
                                                                <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                                                                    <li>
                                                                        <div class="qq-progress-bar-container-selector">
                                                                            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                                                                        </div>
                                                                        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                                                                        <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                                                                        <span class="qq-upload-file-selector qq-upload-file"></span>
                                                                        <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                                                                        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                                                                        <span class="qq-upload-size-selector qq-upload-size"></span>
                                                                        <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                                                                        <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                                                                        <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                                                                        <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                                                                    </li>
                                                                </ul>
                                                                <dialog class="qq-alert-dialog-selector">
                                                                    <div class="qq-dialog-message-selector"></div>
                                                                    <div class="qq-dialog-buttons">
                                                                        <button type="button" class="qq-cancel-button-selector">Close</button>
                                                                    </div>
                                                                </dialog>
                                                                <dialog class="qq-confirm-dialog-selector">
                                                                    <div class="qq-dialog-message-selector"></div>
                                                                    <div class="qq-dialog-buttons">
                                                                        <button type="button" class="qq-cancel-button-selector">No</button>
                                                                        <button type="button" class="qq-ok-button-selector">Yes</button>
                                                                    </div>
                                                                </dialog>
                                                                <dialog class="qq-prompt-dialog-selector">
                                                                    <div class="qq-dialog-message-selector"></div>
                                                                    <input type="text">
                                                                    <div class="qq-dialog-buttons">
                                                                        <button type="button" class="qq-cancel-button-selector">Cancel</button>
                                                                        <button type="button" class="qq-ok-button-selector">Ok</button>
                                                                    </div>
                                                                </dialog>
                                                            </div>
                                                        </script>


                                                        <div id="uploader"></div>

                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-10 col-lg-offset-1">
                                                        <div class="ibox">
                                                            <h4 class="text-center m">
                                                                Visão Geral - Imagens
                                                            </h4>
                                                            <div class="slick_demo_1">

                                                                @{
                                                                    foreach (var item in Model._Imagens)
                                                                    {
                                                                        <div>
                                                                            <div class="ibox-content">
                                                                                <p>
                                                                                    <center>
                                                                                        <img src="@item.PathLocationIIS" style="width:300px; height:300px" />
                                                                                    </center>
                                                                                </p>
                                                                            </div>
                                                                        </div>


                                                                    }
                                                                }


                                                            </div>
                                                        </div>


                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function fnRemoveImagem(idArquivo) {
        swal({
            title: "Atenção",
            text: "Deseja deletar o arquivo ?",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Sim",
            cancelButtonText: "Não",
            closeOnConfirm: false
        }).then((result) => {

            $.ajax({
                url: '../BensVisaoGeral/RemoveArquivoUpload',
                type: 'POST',
                data: { idImage: idImagem },
                beforeSend: function () {

                },
                onsuccess: function () { },
                success: function (result) {

                    if (result == true) {
                        swal("Perfeito", "Arquivo removido com sucesso!", "success");
                    }
                    else {  }
                }
            });

        });
    }

        function loadImage() {
            $('.slick_demo_1').slick({
                dots: true
            });
        }

        function btnSalvar() {

            var form = $("#fmBemVisaoGeral");
            var $tabs = $('#myTab li a');
            $tabs.each(function (key, ele) {
                validateTab(ele);
                //console.log(ele);
            });

            if (form.valid() == false) {

                swal("Atenção", "Verifique a validação dos campos!", "error");
                return false;
            }
            else {

                showLoading("Salvando Informações");
                $.ajax({
                    url: '../BensVisaoGeral/Bem',
                    type: 'POST',
                    data: form.serialize(),
                    beforeSend: function () {

                    },
                    onsuccess: function () { },
                    success: function (result) {
                        hideLoading();
                        if (result.statusRetorno == 'success') {

                            swal("Perfeito", "Cadastro realizado com sucesso!", "success");

                            setTimeout(function () {
                                window.location = "../BensVisaoGeral";
                            }, 2500);

                        }
                        else {
                            hideLoading();
                            swal("Atenção", result.statusRetorno, "error");
                        }
                    }
                });
            }
        };
        var validateTab = function (element) {

            var _element = $(element);
            var validatePane = _element.attr('data-target');

            if (validatePane != "#tab-1_2") {


                var isValid = $(validatePane + ' :input').valid();
                var _li = _element.parent();

                console.log(validatePane + " - " + isValid);
                if (isValid) {
                    _element.removeClass("fa fa-bell");
                    _element.css("color", "#A7B1C2;");
                } else {
                    _element.addClass("fa fa-bell");
                    _element.css("color", "#d45151;");
                }

            }
        }; // end function validateTab

    var uploader = new qq.FineUploader({
                debug: true,
                thumbnails: {
                    customResizer: !qq.ios() && function (resizeInfo) {
                        return new Promise(function (resolve, reject) {
                            pica.resizeCanvas(resizeInfo.sourceCanvas, resizeInfo.targetCanvas, {}, resolve)
                        })
                    }
                },
                validation: {
                    allowedExtensions: ['jpg', 'jpeg', 'png']
                },
                template: document.getElementById('qq-template'),
                element: document.getElementById('uploader'),
                request: {
                    /**/
                    endpoint: '../BensVisaoGeral/UploadFile?idBem=@Model.Id'
                    /**/
                },
                deleteFile: {
                    enabled: false,
                    endpoint: '../BensVisaoGeral/UploadFile'
                },
                retry: {
                    enableAuto: true
                }
            })

            function onBeforeSend(formData, file) {
            // Cancel request
            if (file.name.indexOf(".jpg") < 0) {
                return false;
            }

            // Modify and return form data
            formdata.append("input_name", "input_value");

            return formData;
            }


</script>
