﻿@model Presentation.Helpers.ResponseJson
@{
    ViewBag.Title = "Index";

    IEnumerable<Presentation.Models._2BTrustModel.BensVisaoGeralModel> listModel = (IEnumerable<Presentation.Models._2BTrustModel.BensVisaoGeralModel>)Model.objetoRetorno;


}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <div class="col-lg-6">
            <h2>Bens</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="../Home">Home</a>
                </li>
                <li>
                    <a>Financeiro ADM</a>
                </li>
                <li class="active">
                    <strong>Bens - Visão Geral</strong>
                </li>
            </ol>
        </div>
    </div>
</div>


@if (Model.statusRetorno != "success")
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Bens Visão Geral </h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">

                        <span> @Model.statusRetorno</span>

                    </div>
                </div>
            </div>
        </div>
    </div>



}
else
{

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Bens - Visão Geral  </h5>
                        <div class="ibox-tools">
                            <button class="btn btn-success " type="button" id="btnNovo" onclick="btnNovo()">  Novo</button>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">

                            @foreach (var bemVisaoGeral in listModel)
                            {
                                <div class="row">
                                    <div class="col-lg-12">
                                        <table class="table table-striped table-bordered table-hover dataTables-example">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Nome</th>
                                                    <th>Data Inclusão</th>
                                                    <th>Opções</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    @{string sTyle = "";}
                                                    @if (bemVisaoGeral.IdStatus != 1) { 
                                                        { sTyle = "text-decoration: line-through;color: #ca6b6b;"; }
                                                    }

                                                    <tr class="gradeX" style="@sTyle">

                                                        <td>@bemVisaoGeral.Id</td>
                                                        <td>@bemVisaoGeral.Nome</td>
                                                        <td>@bemVisaoGeral.DtInclusao.ToString("MM/dd/yyyy")</td>
                                                        <td>
                                                            <button class="btn btn-info " type="button" onclick="btnEdit('@bemVisaoGeral.Id')"> Editar</button>
                                                            @if (bemVisaoGeral.IdStatus == 1)
                                                            {
                                                                <button class="btn btn-danger " onclick="btnDeletar('@bemVisaoGeral.Id')" type="button" idbem="@bemVisaoGeral.Id"> Deletar</button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-success " onclick="btnAtivar('@bemVisaoGeral.Id')" type="button" idbem="@bemVisaoGeral.Id">  Ativar</button>
                                                            }
                                                        </td>

                                                    </tr>
                                                
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                                <hr />
                            }

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>

    function btnVisaoGeralAdm() {
        showLoading('Acessando...');
        window.location = '../BensVisaoGeral/Bem'
    }

    function btnEdit(idBEm) {
        showLoading('Acessando...');
        window.location = '../BensVisaoGeral/Bem?idBem=' + idBEm
    }

    function btnNovo() {
        showLoading('Acessando...');
        window.location = '../BensVisaoGeral/Bem'
    }

    function btnAtivar(idBem) {

        showLoading('Processando...');
        $.ajax({
            url: '../BensVisaoGeral/Ativar',
            type: 'POST',
            data: { idBem: idBem },
            beforeSend: function () {

            },
            onsuccess: function () { },
            success: function (result) {
                if (result.statusRetorno == 'success') {
                    hideLoading();
                    swal("Perfeito", "Item ativado com sucesso!", "success");

                    setTimeout(function () {
                        window.location = "../BensVisaoGeral";
                    }, 2000);

                }
                else {
                    hideLoading();
                    swal("Atenção", result.statusRetorno, "error");
                }
            }
        });

    }

    function btnDeletar(idBem) {

        showLoading('Processando...');
        $.ajax({
            url: '../BensVisaoGeral/Desativar',
            type: 'POST',
            data: { idBem: idBem },
            beforeSend: function () {

            },
            onsuccess: function () { },
            success: function (result) {
                if (result.statusRetorno == 'success') {
                    hideLoading();
                    swal("Perfeito", "Item deletado com sucesso!", "success");

                    setTimeout(function () {
                        window.location = "../BensVisaoGeral";
                    }, 2000);

                }
                else {
                    hideLoading();
                    swal("Atenção", result.statusRetorno, "error");
                }
            }
        });

    }

</script>