﻿@model Presentation.Helpers.ResponseJson
@{
    ViewBag.Title = "Index";
    var model = (Presentation.Models._2BTrustModel.BensVisaoGeralModel)Model.objetoRetorno;
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

       

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.css" />

    </head>
    <body>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <h2>Bens</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="../Home">Home</a>
                        </li>
                        <li>
                            <a>Financeiro ADM</a>
                        </li>
                        <li class="active">
                            <strong>Bens - Visão Geral</strong>
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Bens - Visão Geral  </h5>
                        </div>
                        <div class="ibox-content">

                            @{Html.RenderPartial("_loading");}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="tab-content">
                                        <div id="tab1">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            @Html.TextAreaFor(m => model.Descritivo, new { rows = "10", cols = "10", @class = "form-control disabled", @placeholder = " " })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-10 col-lg-offset-1">
                                                        <div class="ibox">
                                                            <div class="carousel">

                                                                @{
                                                                    foreach (var item in model._Imagens)
                                                                    {
                                                                        <div>
                                                                            <div class="ibox-content">
                                                                                <p>
                                                                                    <center>
                                                                                        <img src="@item.PathLocationIIS" style="width:300px; height:300px" />
                                                                                    </center>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.js"></script>

        <script>

            function loadImage() {
                $('.slick_demo_1').slick({
                    dots: true
                });
            }

            $(document).ready(function () {
                $('slick_demo_1').each(function (i, d) {
                    loadImage();
                });

                $('.carousel').slick({
                    dots: true,
                    infinite: true,
                    speed: 500,
                    slidesToShow: 4,
                    slidesToScroll: 4,
                });
            });


            function btnVisaoGeralAdm() {
                showLoading('Acessando...');
                window.location = '../BensVisaoGeral/Bem'
            }

            function btnEdit(idBEm) {
                showLoading('Acessando...');
                window.location = '../BensVisaoGeral/Bem?idBem=' + idBEm
            }

            function btnNovo() {
                showLoading('Acessando...');
                window.location = '../BensVisaoGeral/Bem'
            }

            function btnAtivar(idBem) {

                showLoading('Processando...');
                $.ajax({
                    url: '../BensVisaoGeral/Ativar',
                    type: 'POST',
                    data: { idBem: idBem },
                    beforeSend: function () {

                    },
                    onsuccess: function () { },
                    success: function (result) {
                        if (result.statusRetorno == 'success') {
                            hideLoading();
                            swal("Perfeito", "Item ativado com sucesso!", "success");

                            setTimeout(function () {
                                window.location = "../BensVisaoGeral";
                            }, 2000);

                        }
                        else {
                            hideLoading();
                            swal("Atenção", result.statusRetorno, "error");
                        }
                    }
                });

            }

            function btnDeletar(idBem) {

                showLoading('Processando...');
                $.ajax({
                    url: '../BensVisaoGeral/Desativar',
                    type: 'POST',
                    data: { idBem: idBem },
                    beforeSend: function () {

                    },
                    onsuccess: function () { },
                    success: function (result) {
                        if (result.statusRetorno == 'success') {
                            hideLoading();
                            swal("Perfeito", "Item deletado com sucesso!", "success");

                            setTimeout(function () {
                                window.location = "../BensVisaoGeral";
                            }, 2000);

                        }
                        else {
                            hideLoading();
                            swal("Atenção", result.statusRetorno, "error");
                        }
                    }
                });

            }

        </script>
    </body>
</html>


