﻿@model Presentation.Models._2BTrustModel.PessoasModel
@{
    ViewBag.Title = "Index";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>My Profile</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>My Profile</a>
            </li>
            <li class="active">
                <strong>Personal Data</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Personal Data</h5>
                    <div class="ibox-tools">

                        <button class="btn btn-primary " type="button" id="btnSalvar" onclick="btnSalvar()">   Save</button> 
                    </div>
                </div>
                <div class="ibox-content">
                    @{Html.RenderPartial("_loading");}
                    @using (Html.BeginForm("DadosPessoais", "MeuCadastro", FormMethod.Post, new { id = "fmDados", @autocomplete = "off" }))
    {
                @Html.HiddenFor(c => c.Id)
                @Html.HiddenFor(c => c.IdStatus)
                @Html.HiddenFor(c => c.IdUsuarioAlteracao)
                @Html.HiddenFor(c => c.IdUsuarioInclusao)
                @Html.HiddenFor(c => c.Nome)

                @Html.HiddenFor(c => c._PessoaFisica.IdPessoa)
                @Html.HiddenFor(c => c._PessoaFisica.DtInclusao)
                @Html.HiddenFor(c => c._PessoaFisica.IdUsuarioInclusao)
                @Html.HiddenFor(c => c._PessoaFisica.IdUsuarioAlteracao)

                @Html.HiddenFor(c => c._PessoaJuridica.IdPessoa)
                @Html.HiddenFor(c => c._PessoaJuridica.IdUsuarioInclusao)
                @Html.HiddenFor(c => c._PessoaJuridica.IdUsuarioAlteracao)

                @Html.HiddenFor(c => c._Usuario.Id)
                @Html.HiddenFor(c => c._Usuario.IdPessoa)
                @Html.HiddenFor(c => c._Usuario.IdStatus)
                @Html.HiddenFor(c => c._Usuario.IdUsuarioAlteracao)
                @Html.HiddenFor(c => c._Usuario.IdUsuarioInclusao)
                @Html.HiddenFor(c => c._Usuario.Saltkey)


                @Html.HiddenFor(c => c._Usuario._Login.IdUsuario)
                @Html.HiddenFor(c => c._Usuario._Login.IdUsuarioAlteracao)
                @Html.HiddenFor(c => c._Usuario._Login.IdUsuarioInclusao)
                @Html.HiddenFor(c => c._Usuario._Login.UltimaSenha)
                @Html.HiddenFor(c => c.FlagResidenteAmericado)

                <fieldset>
                    <h2>Your Account Information</h2><hr />
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Full name *</label>
                                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control required", @placeholder = "", disabled=true })
                                @Html.ValidationMessageFor(c => c.Nome)
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="input-group">

                                <label>
                                    Birth date*
                                </label>
                                @Html.TextBoxFor(m => m.DtNascimento, "{0:MM/dd/yyyy}", new { @class = "form-control required date", @placeholder = "" })
                                @Html.ValidationMessageFor(c => c.DtNascimento)
                            </div>

                        </div>
                        <div class="col-lg-9">
                            <div class="form-group">
                                <label>Email *</label>
                                @Html.TextBoxFor(m => m._Usuario.Email, new { @class = "form-control required email", @placeholder = "", @type = "Email" })
                                @Html.ValidationMessageFor(c => c._Usuario.Email)
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Mobile number *</label>
                                @Html.TextBoxFor(m => m.TelefoneCelular, new { @class = "form-control required", @placeholder = "", @type = "tel" })
                                @Html.ValidationMessageFor(c => c.TelefoneCelular)
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Commercial number *</label>
                                @Html.TextBoxFor(m => m.TelefoneComercial, new { @class = "form-control required", @placeholder = "", @type = "tel" })
                                @Html.ValidationMessageFor(c => c.TelefoneComercial)
                            </div>
                        </div>
                    </div>

                    @if (Model.FlagResidenteAmericado)
    {
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Tax ID or EIN - Number</label>
                                @Html.TextBoxFor(m => m._PessoaFisica.TaxId, new { @maxlength = 10, @class = "form-control", @placeholder = " " })
                                @Html.ValidationMessageFor(c => c._PessoaFisica.TaxId)
                            </div>
                        </div>
                        <div class="col-sm-1" id="dvTAXor" style=" padding: 30px;">
                            <div class="input-group">

                                <div class="form-group label-floating">
                                    <label class="control-label" style="    font-size: 14px!important;">or </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Social number</label>
                                @Html.TextBoxFor(m => m._PessoaFisica.SocialNumber, new { @class = "form-control", @placeholder = " " })

                                @Html.ValidationMessageFor(c => c._PessoaFisica.SocialNumber)
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>ITIN</label>
                                @Html.TextBoxFor(m => m._PessoaFisica.ITIN, new { @class = "form-control", @placeholder = " " })

                                @Html.ValidationMessageFor(c => c._PessoaFisica.ITIN)
                            </div>
                        </div>

                    </div>
}
else
{
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>CPF *</label>
                            @Html.TextBoxFor(m => m._PessoaFisica.CPF, new { @class = "form-control required cpf", @placeholder = " " })
                            @Html.ValidationMessageFor(c => c._PessoaFisica.CPF)
                        </div>
                    </div>


                </div>
}
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>User name *</label>
                                @Html.TextBoxFor(m => m._Usuario._Login.Login, new { @class = "form-control required", @placeholder = " " })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Password *</label>
                                @Html.PasswordFor(m => m._Usuario._Login.Senha, new { @class = "form-control  ", @placeholder = " " })
                                @Html.ValidationMessageFor(c => c._Usuario._Login.Senha)
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Confirme password *</label>
                                @Html.PasswordFor(m => m._Usuario._Login.ReSenha, new { @class = "form-control  ", @placeholder = " " })
                            </div>
                        </div>
                    </div>
                    <hr />
                    @*@if (string.IsNullOrEmpty(Model._PessoaJuridica.Fantasia))
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="i-checks"><label> <input id="chkEscolhaJuridica" type="checkbox" value=""> <i></i> Tenho interesse em cadastrar minhas informações de Pessoa Jurídica! </label></div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="i-checks"><label> <input id="chkEscolhaJuridica" type="checkbox" checked value=""> <i></i> Tenho interesse em cadastrar minhas informações de Pessoa Jurídica! </label></div>
                </div>
            </div>
        }*@
                    <hr />
                    <div id="info-juridica" style="display:none">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Digite seu CNPJ *</label>
                                    @Html.TextBoxFor(m => m._PessoaJuridica.CNPJ, new { @class = "form-control required", @placeholder = "Digite seu CNPJ" })
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="form-group">
                                    <label>Digite o nome Fantasia *</label>
                                    @Html.TextBoxFor(m => m._PessoaJuridica.Fantasia, new { @class = "form-control required", @placeholder = "Digite o nome Fantasia" })
                                </div>
                            </div>
                        </div>
                    </div>


                </fieldset>


}
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    window.onload = function (event) {

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });


        if ('@Model.FlagResidenteAmericado' == "True") {


            $("[Name='TelefoneCelular']").attr("data-mask", "(999) 999-9999")
            $("[Name='TelefoneComercial']").attr("data-mask", "(999) 999-9999")
        }
        else {

            $("[Name='TelefoneCelular']").attr("data-mask", "(99)9999-9999?9")
            $("[Name='TelefoneComercial']").attr("data-mask", "(99)9999-9999")
        }

        $('#chkEscolhaJuridica').on('ifUnchecked', function () { $("#info-juridica").fadeOut(500); })
        $('#chkEscolhaJuridica').on('ifChecked', function () { $("#info-juridica").fadeIn(500); })
        //$("[Name='TelefoneCelular']").attr("data-mask", "(99)9999-9999?9")
        //$("[Name='TelefoneComercial']").attr("data-mask", "(99)9999-9999")
        $("[Name='_PessoaFisica.CPF']").attr("data-mask", "999.999.999-99")
        $("[Name='_PessoaFisica.SocialNumber']").attr("data-mask", "999-99-9999")
        // $("[Name='_Endereco.Cep']").attr("data-mask", "99999[-9999]")
        $('#DtNascimento').attr("data-mask", "99/99/9999")
    };

    function btnSalvar() {

        var form = $("#fmDados");

        if (form.valid() == false) {
            swal("Atention", "Check field validation!", "error");
            return false;
        } else
            if ($("[Name='_Usuario._Login.Senha']").val() != $("[Name='_Usuario._Login.ReSenha']").val()) {
                swal("Attention", "The password and password confirmation must be the same!", "error");
                return false;
            }
            else if ('@Model.FlagResidenteAmericado' == 'True' && ($("[name='_PessoaFisica.SocialNumber']").val() == '' && $("[name='_PessoaFisica.TaxId']").val() == '')) {
                swal("Attention", "It is necessary to fill in the Tax Id or Social Number!", "error");
                return false;
            }
            else {

                showLoading("Saving...");
                $.ajax({
                    url: '../MeuCadastro/DadosPessoais',
                    type: 'POST',
                    data: form.serialize(),
                    beforeSend: function () {

                    },
                    onsuccess: function () { },
                    success: function (result) {
                        hideLoading();
                        if (result.statusRetorno == 'success') {

                            swal("Great", "Information saved successfully!", "success");

                            setTimeout(function () {
                                window.location = "../MeuCadastro/DadosPessoais";
                            }, 2500);

                        }
                        else {
                            hideLoading();
                            swal("Attention", result.statusRetorno, "error");
                        }
                    }
                });
            }
    };




</script>