﻿@model Presentation.Models._2BTrustModel.PessoasModel
@{
    ViewBag.Title = "Index";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>My Profile</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>My Profile</a>
            </li>
            <li class="active">
                <strong>Documents</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>My documents</h5>
                    <div class="ibox-tools">

                        <button class="btn btn-primary " type="button" id="btnSalvar" onclick="btnSalvar()">   Save</button> 
                    </div>
                </div>
                <div class="ibox-content">
                    @{Html.RenderPartial("_loading");}
                    @using (Html.BeginForm("Endereco", "MeuCadastro", FormMethod.Post, new { id = "fmDados", @autocomplete = "off" }))
                    {
                        @Html.HiddenFor(c => c.Id)
                        @Html.HiddenFor(c => c.IdStatus)
                        @Html.HiddenFor(c => c.IdUsuarioAlteracao)
                        @Html.HiddenFor(c => c.IdUsuarioInclusao)

                        @Html.HiddenFor(c => c._Endereco.Id)

                        @Html.HiddenFor(c => c._Endereco.IdUsuarioAlteracao)
                        @Html.HiddenFor(c => c._Endereco.IdPessoa)
                        @Html.HiddenFor(c => c._Endereco.IdUsuarioInclusao)



                        <fieldset>
                            <h2>Your Documents Info</h2><hr />

                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Document *</label>
                                                                    @Html.DropDownListFor(m => m.objDocumento.IdDocumento, new SelectList(ViewBag.Documentos, "Id", "Nome", 0), "", new { @class = "form-control", @style = "width:100%;" })
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label>Number *</label>
                                                                    @Html.TextBoxFor(m => m.objDocumento.Conteudo, new { @class = "form-control", @placeholder = "Number of document" })
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4" id="descDocumento" style="display:none">
                                                                <div class="form-group">
                                                                    <label>Description </label>
                                                                    @Html.TextBoxFor(m => m.objDocumento.Description, new { @class = "form-control", @placeholder = "Description other document" })
                                                                </div>
                                                            </div>



                                                            <div class="col-lg-2">
                                                                <div class="form-group" style=" padding: 20px;">

                                                                    <button type="button" class="btn btn-outline btn-primary" id="btnAdicionarDocs">Add</button>

                                                                </div>
                                                            </div>

                                                        </div>


                            <div class="wrapper wrapper-content animated fadeInRight">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <h5>Documents List </h5>
                                                <div class="ibox-tools">
                                                    <a class="collapse-link">
                                                        <i class="fa fa-chevron-up"></i>
                                                    </a>
                                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                        <i class="fa fa-wrench"></i>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-user">
                                                        <li>
                                                            <a href="#">Config option 1</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Config option 2</a>
                                                        </li>
                                                    </ul>
                                                    <a class="close-link">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="ibox-content">

                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover" id="table-documentos">
                                                        <thead>
                                                            <tr>
                                                                <th>Document</th>
                                                                <th>Description</th>
                                                                <th>Number</th> 
                                                                <th>Delete</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                foreach (var item in Model._Documentos)
                                                                {
                                                                    <tr id="tr-@item.Id">
                                                                        <th>@item._Documento.Nome</th>
                                                                        <th>@item.Descricao</th>
                                                                        <th>@item.Conteudo</th> 
                                                                        <td><a onclick="dellDocumentoExist('@item.Id')"   href='javascript:;' class='btn btn-danger btn-xs dellTelefone' style='color:white'> Delete <i class='fa  fa-trash-o'></i></td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>

                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>





                        </fieldset>


                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script>
 
        function dellDocumentoExist (id) {

            $.ajax({
                /**/
                url: '@Url.Action("deleteDocumentoCadastroExist", "CadastreAqui")',
                /**/
                contentType: 'application/json',
                data: { id:id },
                success: function (data) {

                    if (data == false) {
                        swal("Ops!", "Ocorreu um erro.", "error");
                    }
                    else {
                        swal("Sucsses!", "Successfully deleted document.", "success");
                        $("#tr-" + id).remove();
                         
                    }

                }

            });
        }
    window.onload = function (event) {
        $('#objDocumento_IdDocumento').on("change", function () {

            var idDoc = $(this).val();
            if (idDoc == 2) {
                $("#descDocumento").css("display", "block");
            }
            else {
                $("#descDocumento").css("display", "none");
            }

        })
        var idDocumentoINS = 0;

        $("#btnAdicionarDocs").on("click", function () {


            var dataDocumento = $("[Name='objDocumento.IdDocumento']").val()
            var idDocumento = $("[Name='objDocumento.IdDocumento']").val()
            var sDocumento = $("[Name='objDocumento.IdDocumento'] option:selected").text();

            var sNumeroDoc = $("[Name='objDocumento.Conteudo']").val();

            var Description = $("[Name='objDocumento.Description']").val();
            var idEstado = 1;
            var sEstado = '';


            var idOrgao = 1;
            var sOrgao = '';


            if (idDocumento == 0 || idDocumento == '') {
                swal("Attention", "You must choose a type of documentation!", "error")

            } else if (sNumeroDoc == '') {
                swal("Attention", "You must enter the document numbers!", "error")

            }
            else {

                if (idDocumento != 2) {
                    Description = sDocumento;
                }
                else {
                    if (Description == '') {

                        swal("Attention", "You must enter the document description!", "error");
                        return false;
                    }
                }

                addNewDocumento(idDocumento, sDocumento, sNumeroDoc, Description, idEstado, sEstado, idOrgao, sOrgao);
            }

        });

        function addNewDocumento(idDocumento, sDocumento, sNumero, Description, idUf, sUf, idOrgao, sOrgao) {
            idDocumentoINS--;
            var idDocumentoNovo = idDocumentoINS;

            $.ajax({
                /**/
                url: '@Url.Action("SetDocumentosCadastro", "CadastreAqui")',
                /**/
                contentType: 'application/json',
                data: { idPessoaDocumento: idDocumentoNovo, idDocumento: idDocumento, sDocumento: sDocumento, Description: Description, sNumero: sNumero, idUF: idUf, sUF: sUf, idOrgao: idOrgao, sOrgao: sOrgao },
                success: function (data) {

                    var fInsert = data;
                    if (fInsert < 0) {

                        addRowTable(idDocumentoNovo, sDocumento, sNumero, Description, sUf, sOrgao)

                        $('#objDocumento_IdDocumento').val(0);

                        $('#objDocumento_Description').val('');
                        $('#objDocumento_Conteudo').val('');
                        $("#descDocumento").css("display", "none");
                        return false;
                    }
                    else {
                        swal("Ops!", "Ocorreu um erro.", "error")
                    }

                }

            });

        }

        function addRowTable(idDocumentoInsert, sDocumento, sNumero, Description, sUf, sOrgao) {
            $("#table-documentos > tbody").
                append("<tr id='tr-" + idDocumentoInsert + "'><td>" + sDocumento + "</td><td>" + Description + "</td><td>" + sNumero + "</td> <td><a  onclick='dellDocumento(" + idDocumentoInsert + ")'   iddocumento='" + idDocumentoInsert + "'   href='javascript:;' class='btn btn-danger btn-xs dellTelefone' style='color:white'> Delete <i class='fa  fa-trash-o'></i></td></tr>");
        }

        function dellDocumento(idPessoaDocumento) {

            $.ajax({
                /**/
                url: '@Url.Action("deleteDocumentoCadastro", "CadastreAqui")',
                /**/
                contentType: 'application/json',
                data: { idPessoaDocumento: idPessoaDocumento },
                success: function (data) {

                    if (data == false) {
                        swal("Ops!", "Ocorreu um erro.", "error");
                    }
                    else {
                        swal("Sucsses!", "Successfully deleted document.", "success");
                        $("#tr-" + idPessoaDocumento).remove();
                        idDocumentoINS++;
                    }

                }

            });
        }


    }
    function btnSalvar() {

        var form = $("#fmDados");


        showLoading("Saving...");
        $.ajax({
            url: '../MeuCadastro/Documento',
            type: 'POST',
            data: form.serialize(),
            beforeSend: function () {

            },
            onsuccess: function () { },
            success: function (result) {
                hideLoading();
                if (result.statusRetorno == 'success') {


                    swal("Great", "Information saved successfully!", "success");

                    setTimeout(function () {
                        window.location = "../MeuCadastro/Documentos";
                    }, 2500);

                }
                else {
                    hideLoading();
                    swal("Attention", result.statusRetorno, "error");
                }
            }
        });

    };

</script>