﻿@model Presentation.Models._2BTrustModel.PessoasModel
@{
    ViewBag.Title = "Index";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>My Profile</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>My Profile</a>
            </li>
            <li class="active">
                <strong>Address</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>My Address</h5>
                    <div class="ibox-tools">
                        <button class="btn btn-primary " type="button" id="btnSalvar" onclick="btnSalvar()">   Save</button>
                    </div>
                </div>
                <div class="ibox-content">
                    @{Html.RenderPartial("_loading");}
                    @using (Html.BeginForm("Endereco", "MeuCadastro", FormMethod.Post, new { id = "fmDados", @autocomplete = "off" }))
                    {
                        @Html.HiddenFor(c => c.Id)
                        @Html.HiddenFor(c => c.IdStatus)
                        @Html.HiddenFor(c => c.IdUsuarioAlteracao)
                        @Html.HiddenFor(c => c.IdUsuarioInclusao)

                        @Html.HiddenFor(c => c._Endereco.Id)

                        @Html.HiddenFor(c => c._Endereco.IdUsuarioAlteracao)
                        @Html.HiddenFor(c => c._Endereco.IdPessoa)
                        @Html.HiddenFor(c => c._Endereco.IdUsuarioInclusao)


                        <fieldset>
                            <h2>Your address information</h2><hr />

                            @if (Model.FlagResidenteAmericado)
                            {

                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>Zip Code *</label>
                                            @Html.TextBoxFor(m => m._Endereco.Cep, new { @maxlength = 7, @class = "form-control required zipCodeChange", @placeholder = " " })
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <label>Address line 1 *</label>
                                            @Html.TextBoxFor(m => m._Endereco.Logradouro, new { @class = "form-control required", @placeholder = " " })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Address line 2</label><br />
                                            @Html.TextBoxFor(m => m._Endereco.Complemento, new { @class = "form-control", @placeholder = " ", @MaxLength = 8 })
                                        </div>
                                    </div>

                                    <div class="col-lg-10">
                                        <div class="form-group">
                                            <label>City *</label>
                                            @* @Html.DropDownListFor(m => m._Endereco.IdEstado, new SelectList(ViewBag.Estados, "Id", "Nome", 0), "", new { @class = "form-control", @style="width:100%;" })*@
                                            @Html.TextBoxFor(m => m._Endereco.Cidade, new { @class = "form-control required", @placeholder = " " })
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <label>State *</label><br />
                                            @* @Html.DropDownListFor(m => m._Endereco.IdEstado, new SelectList(ViewBag.Estados, "Id", "Nome", 0), "", new { @class = "form-control", @style="width:100%;" })*@
                                            @Html.TextBoxFor(m => m._Endereco.Estado, new { @class = "form-control required", @placeholder = " ", @MaxLength = 2 })
                                        </div>
                                    </div>
                                  
                                </div>

                            }
                            else
                            {

                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>Code *</label>
                                            @Html.TextBoxFor(m => m._Endereco.Cep, new { @maxlength = 9, @class = "form-control required cepCodeChange", @placeholder = " " })
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <label>Street *</label>
                                            @Html.TextBoxFor(m => m._Endereco.Logradouro, new { @class = "form-control required", @placeholder = " ", @id = "_Endereco_Logradouro" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>Number *</label><br />
                                            @Html.TextBoxFor(m => m._Endereco.Numero, new { @class = "form-control required", @placeholder = " ", @MaxLength = 8 })
                                        </div>
                                    </div>

                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <label>
                                                District *
                                            </label>
                                            @Html.TextBoxFor(m => m._Endereco.Bairro, new { @class = "form-control required", @placeholder = " ", @id = "_Endereco_Bairro" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <label>State *</label><br />
                                            @* @Html.DropDownListFor(m => m._Endereco.IdEstado, new SelectList(ViewBag.Estados, "Id", "Nome", 0), "", new { @class = "form-control", @style="width:100%;" })*@
                                            @Html.TextBoxFor(m => m._Endereco.Estado, new { @class = "form-control required", @placeholder = " ", @MaxLength = 2, @id= "_Endereco_Estado" })
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Complement</label>
                                            @* @Html.DropDownListFor(m => m._Endereco.IdEstado, new SelectList(ViewBag.Estados, "Id", "Nome", 0), "", new { @class = "form-control", @style="width:100%;" })*@
                                            @Html.TextBoxFor(m => m._Endereco.Complemento, new { @class = "form-control", @placeholder = " " })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>City *</label>
                                            @* @Html.DropDownListFor(m => m._Endereco.IdEstado, new SelectList(ViewBag.Estados, "Id", "Nome", 0), "", new { @class = "form-control", @style="width:100%;" })*@
                                            @Html.TextBoxFor(m => m._Endereco.Cidade, new { @class = "form-control required", @placeholder = " ", @id = "_Endereco_Cidade" })
                                        </div>
                                    </div>
                                </div>

                            }
                        </fieldset>


                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    window.onload = function (event) {
        $(".cepCodeChange").on("change", function () {
            carregaCEP($(this).val(), "_Endereco_Logradouro", "_Endereco_Estado", "_Endereco_Bairro", "_Endereco_Cidade", null);

        })
        $(".somenteNumero").bind("keyup blur focus", function (e) {
            e.preventDefault();
            var expre = /[^\d]/g;
            $(this).val($(this).val().replace(expre, ''));
        });
        $(".zipCodeChange").on("change", function () {


            showLoading("Loading...");
            $.ajax({
                timeout: 1500,
                dataType: "json",
                url: 'http://api.zippopotam.us/us/' + $(this).val(),
                success: function (dados) {

                    $("[Name='_Endereco.Estado']").val(dados.places[0]["state abbreviation"])
                    $("[Name='_Endereco.Estado']").trigger("change");
                    $("[Name='_Endereco.Estado']").attr("readonly", true);
                    $("[Name='_Endereco.Cidade']").val(dados.places[0]["place name"])
                    $("[Name='_Endereco.Cidade']").trigger("change");
                    $("[Name='_Endereco.Cidade']").attr("readonly", true);

                    hideLoading();
                }
                ,
                error: function (jqXHR, exception) {
                    hideLoading();
                    swal("Atenção", "Nenhum endereço encontrado!", "error");
                    $("[Name='_Endereco.Estado']").val('')
                    $("[Name='_Endereco.Estado']").attr("readonly", false);
                    $("[Name='_Endereco.Cidade']").val('')
                    $("[Name='_Endereco.Cidade']").attr("readonly", false);
                }

            });


        });
        function carregaCEP(cep, idEndereco, idUf, idBairro, idCidade, idPais) {
            showLoading("Loading...");

            $.getJSON("https://webmaniabr.com/api/1/cep/" + cep +
                "/?app_key=KGoe1JtnDhgtZzmmOIrXcEMnKisKjYee&app_secret=H8qQLFAeSu08CEJnt2anL3thVbRDL8dwCSYAfkhQKkc8MozX", function (dados) {
                    if (dados == null || dados.endereco == '') {
                        hideLoading();
                        swal("Atenção", "Nenhum endereço encontrado para o cep digitado!", "error")
                    }
                    else {
                        hideLoading()
                        console.log(dados)
                        if (idEndereco != null) {
                            $("#" + idEndereco).val(dados.endereco)
                            $("#" + idEndereco).trigger("change");
                        }
                        if (idUf != null) {

                            $("#" + idUf).val(dados.uf)
                            $("#" + idUf).trigger("change");
                        }
                        if (idBairro != null) {

                            $("#" + idBairro).val(dados.bairro)
                            $("#" + idBairro).trigger("change");
                        }
                        if (idCidade != null) {

                            $("#" + idCidade).val(dados.cidade)
                            $("#" + idCidade).trigger("change");
                        }
                        if (idPais != null) {

                            $("#" + idPais).val("Brasil")
                        }

                    }

                }).error(function () {
                    hideLoading();
                    swal("Atenção", "Ocorreu um erro ao realizar a consulta de CEP!", "error")

                });
        }

        $("[Name='_Endereco.Cep']").on("change", function () {


            showLoading("Loading...");
            $.ajax({
                timeout: 1500,
                dataType: "json",
                url: 'http://api.zippopotam.us/us/' + $(this).val(),
                success: function (dados) {

                    $("[Name='_Endereco.Estado']").val(dados.places[0]["state abbreviation"])
                    $("[Name='_Endereco.Estado']").attr("readonly", true);
                    $("[Name='_Endereco.Cidade']").val(dados.places[0]["place name"])
                    $("[Name='_Endereco.Cidade']").attr("readonly", true);

                    hideLoading();
                }
                ,
                error: function (jqXHR, exception) {
                    hideLoading();
                    swal("Atenção", "Nenhum endereço encontrado!", "error");
                    $("[Name='_Endereco.Estado']").val('')
                    $("[Name='_Endereco.Estado']").attr("readonly", false);
                    $("[Name='_Endereco.Cidade']").val('')
                    $("[Name='_Endereco.Cidade']").attr("readonly", false);
                }

            });


        });

    };

    function btnSalvar() {

        var form = $("#fmDados");

        if (true == false) {
            swal("Attention", "Verifique a validação dos campos!", "error");
            return false;
        } 
            else {

            showLoading("Saving...");
                $.ajax({
                    url: '../MeuCadastro/Endereco',
                    type: 'POST',
                    data: form.serialize(),
                    beforeSend: function () {

                    },
                    onsuccess: function () { },
                    success: function (result) {
                        hideLoading();
                        if (result.statusRetorno == 'success') {

                            swal("Great", "Information saved successfully!", "success");

                            setTimeout(function () {
                                window.location = "../MeuCadastro/Endereco";
                            }, 2500);

                        }
                        else {
                            hideLoading();
                            swal("Attention", result.statusRetorno, "error");
                        }

                    }
                });
            }
    };




</script>