﻿@{
    var alerts = TempData.ContainsKey(Presentation.Helpers.Alert.TempDataKey)
                ? (List<Presentation.Helpers.Alert>)TempData[Presentation.Helpers.Alert.TempDataKey]
                : new List<Presentation.Helpers.Alert>();

    if (alerts.Any())
    {
    }

    foreach (var alert in alerts)
    {

        TempData["TipoMsg"] = alert.AlertStyle;
        TempData["Msg"] = alert.Message;
        var dismissableClass = alert.Dismissable ? "alert-dismissable" : null;

    }
}

<script>
    $(document).ready(function () {

        var Tipo = '@Html.Raw(HttpUtility.JavaScriptStringEncode((string)TempData["TipoMsg"]))';
        var Msg = '@Html.Raw(HttpUtility.JavaScriptStringEncode((string)TempData["Msg"]))';
        if (Tipo != '' && Tipo != null) {
            if (Tipo == "success") {
                swal("Pronto!", Msg, "success")
            }
            else {
                swal("Erro!", Msg, "error")
            }
        }
         
    });

</script>