﻿<!--
*
*  INSPINIA - Responsive Admin Theme
*  version 2.7
*
-->

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>2bTrust | Investment</title>

    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="../assets/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="../assets/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <link href="../assets/css/animate.css" rel="stylesheet">

    <link href="../assets/css/style.css?version=51" rel="stylesheet">


    

    <!-- FooTable -->

    <link href="../assets/tablesData/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="../assets/tablesData/jquery.dataTables.min.css" rel="stylesheet" />

    <link href="../Assets/css/plugins/select2/select2.min.css" rel="stylesheet">


    <link href="../Assets/css/plugins/iCheck/custom.css" rel="stylesheet">

    <link href="../Assets/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="../Assets/css/plugins/switchery/switchery.css" rel="stylesheet">

    <link href="../Assets/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">

    <link href="../Assets/css/animate.css" rel="stylesheet">

    <link href="../Assets/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">

    
</head>

<body>



    <div class="modal fade" id="modalHelp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static">
        <div class="modal-dialog" role="document" style="    margin-left: 36%;    margin-top: 7%;">
            <div class="modal-content" style="width:520px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title text-center">Support</h2>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="card">
                                <div class="row">

                                    <div class="col-lg-12" style="text-align:center">
                                        <h3 style="color:#0073aa"><i class="fa fa-phone"></i> @System.Configuration.ConfigurationManager.AppSettings["telefoneContato"]</h3>
                                        <span class="small" style="font-size:20px">
                                            Please contact with us if you have any questions.
                                        </span>
                                    </div>


                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label style="font-size:17px">@Presentation.Helpers.SessionManager.usuarioLogado.Nome</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Title *</label>
                                            @* @Html.DropDownListFor(m => m._Endereco.IdEstado, new SelectList(ViewBag.Estados, "Id", "Nome", 0), "", new { @class = "form-control", @style="width:100%;" })*@
                                            @Html.TextBox("TituloHelp", "", new { @class = "form-control required", @placeholder = "Title message" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Message *</label>
                                            @* @Html.DropDownListFor(m => m._Endereco.IdEstado, new SelectList(ViewBag.Estados, "Id", "Nome", 0), "", new { @class = "form-control", @style="width:100%;" })*@
                                            @Html.TextArea("MessageHelp", "", new { @class = "form-control required", @placeholder = "Message", @style = "min-height:55px" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <button class="btn btn-success " type="button" id="btnSalvar" style="width:100%" onclick="sendHelp()">  SEND</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <style>
                        .disabled {
                            pointer-events: none;
                            cursor: default;
                        }
                    </style>


                </div>
            </div>
        </div>
    </div>

    @{Html.RenderPartial("_loading");}
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            @*LOGO*@
                            <img src="../assets/img/logos/2B - Color.png"  style="width: 95%; margin-bottom: 20px;" /> 
                            @*<span>
            <img src="~/assets/img/profile_small.jpg" class="img-circle" style="width:60px" />
        </span>*@
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong style="color: #00babb!important" class="font-bold">@Presentation.Helpers.SessionManager.usuarioLogado.Nome</strong>
                                    </span>    <span class="text-muted text-xs block">
                                        Account Number: @Presentation.Helpers.SessionManager.usuarioLogado.Id.ToString().PadLeft(6, '0')-8
                                    </span>
                                    @*<span class="text-muted text-xs block">@Presentation.Helpers.SessionManager.usuarioLogado._Usuario._Grupo.Nome <b class="caret"></b></span>*@


                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="#">Perfil</a></li>
                                <li><a href="#">Contato</a></li>
                                <li class="divider"></li>
                                <li><a href="~/Auth/LogOff">LogOut</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            2B
                        </div>
                    </li>



                    @*//menu*@
                    @{

                        var menuPai = Presentation.Helpers.SessionManager.usuarioLogado._Usuario._Controles.Where(c => c.IdControlePrincipal == 0 || c.IdControlePrincipal == null);
                        var menusFilhoes = Presentation.Helpers.SessionManager.usuarioLogado._Usuario._Controles.Where(c => c.IdControlePrincipal > 0).OrderBy(c => c.iOrdem);

                        foreach (var itemMenu in menuPai)
                        {
                            var countMenuPai = menusFilhoes.Where(c => c.IdControlePrincipal == itemMenu.Id).Count();
                            if (countMenuPai > 0)
                            {
                                <li id="" class="percorre">
                                    <a id="@itemMenu.idJqueryPai" idmenusave="@itemMenu.IdControlePrincipal" href="@itemMenu.UrlController">
                                        <i class="@itemMenu.iconLI"></i>
                                        <span class="nav-label">@itemMenu.Nome</span>
                                        <span class="fa arrow"></span>
                                    </a>
                                    @*//submenus*@
                                    <ul class="nav nav-second-level">
                                        @foreach (var itemMenuFilho in menusFilhoes.Where(c => c.IdControlePrincipal == itemMenu.Id))
                                        {
                                            if (itemMenuFilho.UrlController == "$")
                                            {
                                                <li id="@itemMenuFilho.idJqueryFilho" class="">
                                                    <a onclick="swal('Attention','unavailable action!', 'error')" href="#" idmenusave="@itemMenuFilho.Id" class="">@itemMenuFilho.Nome<span></span></a>
                                                </li>

                                            }
                                            else if (itemMenuFilho.UrlController == "$$")
                                            {
                                                <li id="@itemMenuFilho.idJqueryFilho" class="">
                                                    <a onclick="openModalHelp()" href="#" idmenusave="@itemMenuFilho.Id" class="">@itemMenuFilho.Nome<span></span></a>
                                                </li>

                                            }
                                            else
                                            {
                                                <li id="@itemMenuFilho.idJqueryFilho" class="">
                                                    <a onclick="fnSetSessionSubs('@itemMenu.idJqueryPai','@itemMenuFilho.idJqueryFilho', '@itemMenuFilho.Id' )" href="@itemMenuFilho.UrlController" idmenusave="@itemMenuFilho.Id" class="">@itemMenuFilho.Nome<span></span></a>
                                                </li>

                                            }
                                        }
                                    </ul>


                                </li>
                            }
                            else
                            {
                                if (itemMenu.UrlController == "$")
                                {
                                    <li id="@itemMenu.idJqueryPai" class="percorre">
                                        <a id="firstMenu" idmenusave="@itemMenu.Id" onclick="swal('Attention','unavailable action!', 'error')" href="#">
                                            <i class="@itemMenu.iconLI"></i>
                                            <span class="nav-label">@itemMenu.Nome</span>
                                        </a>
                                    </li>
                                }
                                else if (itemMenu.UrlController == "$$")
                                {
                                    <li id="@itemMenu.idJqueryPai" class="percorre">
                                        <a id="firstMenu" idmenusave="@itemMenu.Id" onclick="openModalHelp()" href="#">
                                            <i class="@itemMenu.iconLI"></i>
                                            <span class="nav-label">@itemMenu.Nome</span>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li id="@itemMenu.idJqueryPai" class="percorre">
                                        <a id="firstMenu" idmenusave="@itemMenu.Id" onclick="fnSetSession('@itemMenu.idJqueryPai')" href="@itemMenu.UrlController">
                                            <i class="@itemMenu.iconLI"></i>
                                            <span class="nav-label">@itemMenu.Nome</span>
                                        </a>
                                    </li>
                                }

                            }
                        }

                    }
                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0;   background: #ffffff;    border-bottom: 1px solid #2fc2c2;  box-shadow: 1px 1px 3px #2fc2c285;">
                    <div class="navbar-header">

                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">Hello, @Presentation.Helpers.SessionManager.usuarioLogado.Nome.Split(' ')[0]</span>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                @*<i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>*@
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="../assets/img/a7.jpg">
                                        </a>
                                        <div class="media-body">
                                            <small class="pull-right">46h ago</small>
                                            <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                            <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="../assets/img/a4.jpg">
                                        </a>
                                        <div class="media-body ">
                                            <small class="pull-right text-navy">5h ago</small>
                                            <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                            <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="../assets/img/profile.jpg">
                                        </a>
                                        <div class="media-body ">
                                            <small class="pull-right">23h ago</small>
                                            <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                            <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="mailbox.html">
                                            <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                @*<i class="fa fa-bell"></i>  <span class="label label-primary">8</span>*@
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="mailbox.html">
                                        <div>
                                            <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="profile.html">
                                        <div>
                                            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                            <span class="pull-right text-muted small">12 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="grid_options.html">
                                        <div>
                                            <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="notifications.html">
                                            <strong>See All Alerts</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>


                        <li>
                            <a href="~/Auth/LogOff">
                                <i class=" fa fa-sign-out">
                                </i> Exit
                            </a>
                        </li>
                        <li>
                            <a class="right-sidebar-toggle">
                                @*<i class="fa fa-tasks"></i>*@
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>

            <div class="row">
                <div class="col-lg-12" id="contendLayout">
                    <div class="wrapper wrapper-content">

                        @RenderBody()

                    </div>
                    <div class="footer" style="bottom: 0; position: fixed;">
                        <div class="pull-right">
                            @*- <strong>-</strong> .*@
                        </div>
                        <div style="text-align:right">
                            <strong>Copyright</strong>  2020 &copy; 2bTrust
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="small-chat-box fadeInRight animated">

            <div class="heading" draggable="true">
                <small class="chat-date pull-right">
                    02.19.2015
                </small>
                Small chat
            </div>

            <div class="content">

                <div class="left">
                    <div class="author-name">
                        Monica Jackson <small class="chat-date">
                            10:02 am
                        </small>
                    </div>
                    <div class="chat-message active">
                        Lorem Ipsum is simply dummy text input.
                    </div>

                </div>
                <div class="right">
                    <div class="author-name">
                        Mick Smith
                        <small class="chat-date">
                            11:24 am
                        </small>
                    </div>
                    <div class="chat-message">
                        Lorem Ipsum is simpl.
                    </div>
                </div>
                <div class="left">
                    <div class="author-name">
                        Alice Novak
                        <small class="chat-date">
                            08:45 pm
                        </small>
                    </div>
                    <div class="chat-message active">
                        Check this stock char.
                    </div>
                </div>
                <div class="right">
                    <div class="author-name">
                        Anna Lamson
                        <small class="chat-date">
                            11:24 am
                        </small>
                    </div>
                    <div class="chat-message">
                        The standard chunk of Lorem Ipsum
                    </div>
                </div>
                <div class="left">
                    <div class="author-name">
                        Mick Lane
                        <small class="chat-date">
                            08:45 pm
                        </small>
                    </div>
                    <div class="chat-message active">
                        I belive that. Lorem Ipsum is simply dummy text.
                    </div>
                </div>


            </div>
            <div class="form-chat">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                            Send
                        </button>
                    </span>
                </div>
            </div>

        </div>
        @*<div id="small-chat">

                <span class="badge badge-warning pull-right">5</span>
                <a class="open-small-chat">
                    <i class="fa fa-comments"></i>

                </a>
            </div>*@
        <div id="right-sidebar" class="animated">
            <div class="sidebar-container">

                <ul class="nav nav-tabs navs-3">

                    <li class="active">
                        <a data-toggle="tab" href="#tab-1">
                            Notes
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab-2">
                            Projects
                        </a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#tab-3">
                            <i class="fa fa-gear"></i>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">


                    <div id="tab-1" class="tab-pane active">

                        <div class="sidebar-title">
                            <h3> <i class="fa fa-comments-o"></i> Latest Notes</h3>
                            <small><i class="fa fa-tim"></i> You have 10 new message.</small>
                        </div>

                        <div>

                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="../assets/img/a1.jpg">

                                        <div class="m-t-xs">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">

                                        There are many variations of passages of Lorem Ipsum available.
                                        <br>
                                        <small class="text-muted">Today 4:21 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="../assets/img/a2.jpg">
                                    </div>
                                    <div class="media-body">
                                        The point of using Lorem Ipsum is that it has a more-or-less normal.
                                        <br>
                                        <small class="text-muted">Yesterday 2:45 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="../assets/img/a3.jpg">

                                        <div class="m-t-xs">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        Mevolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                        <br>
                                        <small class="text-muted">Yesterday 1:10 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="../assets/img/a4.jpg">
                                    </div>

                                    <div class="media-body">
                                        Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                                        <br>
                                        <small class="text-muted">Monday 8:37 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="../assets/img/a8.jpg">
                                    </div>
                                    <div class="media-body">

                                        All the Lorem Ipsum generators on the Internet tend to repeat.
                                        <br>
                                        <small class="text-muted">Today 4:21 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="../assets/img/a7.jpg">
                                    </div>
                                    <div class="media-body">
                                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                        <br>
                                        <small class="text-muted">Yesterday 2:45 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="../assets/img/a3.jpg">

                                        <div class="m-t-xs">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below.
                                        <br>
                                        <small class="text-muted">Yesterday 1:10 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="../assets/img/a4.jpg">
                                    </div>
                                    <div class="media-body">
                                        Uncover many web sites still in their infancy. Various versions have.
                                        <br>
                                        <small class="text-muted">Monday 8:37 pm</small>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>

                    <div id="tab-2" class="tab-pane">

                        <div class="sidebar-title">
                            <h3> <i class="fa fa-cube"></i> Latest projects</h3>
                            <small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>
                        </div>

                        <ul class="sidebar-list">
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Business valuation</h4>
                                    It is a long established fact that a reader will be distracted.

                                    <div class="small">Completion with: 22%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Contract with Company </h4>
                                    Many desktop publishing packages and web page editors.

                                    <div class="small">Completion with: 48%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 48%;" class="progress-bar"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Meeting</h4>
                                    By the readable content of a page when looking at its layout.

                                    <div class="small">Completion with: 14%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 14%;" class="progress-bar progress-bar-info"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-primary pull-right">NEW</span>
                                    <h4>The generated</h4>
                                    There are many variations of passages of Lorem Ipsum available.
                                    <div class="small">Completion with: 22%</div>
                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Business valuation</h4>
                                    It is a long established fact that a reader will be distracted.

                                    <div class="small">Completion with: 22%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Contract with Company </h4>
                                    Many desktop publishing packages and web page editors.

                                    <div class="small">Completion with: 48%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 48%;" class="progress-bar"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Meeting</h4>
                                    By the readable content of a page when looking at its layout.

                                    <div class="small">Completion with: 14%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 14%;" class="progress-bar progress-bar-info"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-primary pull-right">NEW</span>
                                    <h4>The generated</h4>
                                    <!--<div class="small pull-right m-t-xs">9 hours ago</div>-->
                                    There are many variations of passages of Lorem Ipsum available.
                                    <div class="small">Completion with: 22%</div>
                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                                </a>
                            </li>

                        </ul>

                    </div>

                    <div id="tab-3" class="tab-pane">

                        <div class="sidebar-title">
                            <h3><i class="fa fa-gears"></i> Settings</h3>
                            <small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>
                        </div>

                        <div class="setings-item">
                            <span>
                                Show notifications
                            </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example">
                                    <label class="onoffswitch-label" for="example">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>
                                Disable Chat
                            </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" checked class="onoffswitch-checkbox" id="example2">
                                    <label class="onoffswitch-label" for="example2">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>
                                Enable history
                            </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example3">
                                    <label class="onoffswitch-label" for="example3">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>
                                Show charts
                            </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example4">
                                    <label class="onoffswitch-label" for="example4">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>
                                Offline users
                            </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" checked name="collapsemenu" class="onoffswitch-checkbox" id="example5">
                                    <label class="onoffswitch-label" for="example5">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>
                                Global search
                            </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" checked name="collapsemenu" class="onoffswitch-checkbox" id="example6">
                                    <label class="onoffswitch-label" for="example6">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>
                                Update everyday
                            </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example7">
                                    <label class="onoffswitch-label" for="example7">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="sidebar-content">
                            <h4>Settings</h4>
                            <div class="small">
                                I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                And typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            </div>
                        </div>

                    </div>
                </div>

            </div>



        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="../assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Flot -->
    <script src="../assets/js/plugins/flot/jquery.flot.js"></script>
    <script src="../assets/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="../assets/js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="../assets/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="../assets/js/plugins/flot/jquery.flot.pie.js"></script>

    <!-- Peity -->
    <script src="../assets/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="../assets/js/demo/peity-demo.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="../assets/js/inspinia.js"></script>
    <script src="../assets/js/plugins/pace/pace.min.js"></script>

    <!-- jQuery UI -->
    <script src="../assets/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- GITTER -->
    <script src="../assets/js/plugins/gritter/jquery.gritter.min.js"></script>

    <!-- Sparkline -->
    <script src="../assets/js/plugins/sparkline/jquery.sparkline.min.js"></script>

    <!-- Sparkline demo data  -->
    <script src="../assets/js/demo/sparkline-demo.js"></script>

    <!-- ChartJS-->
    <script src="../assets/js/plugins/chartJs/Chart.min.js"></script>

    <!-- Toastr -->
    <script src="../assets/js/plugins/toastr/toastr.min.js"></script>

    <script src="~/assets/js/plugins/sweetalert/sweetalert.min.js"></script>

    <!-- FooTable -->

    <script src="../assets/tablesData/jquery.dataTables.min.js"></script> 
    <script src="../assets/tablesData/dataTables.buttons.min.js"></script>
    <script src="../assets/tablesData/buttons.flash.min.js"></script> 
    <script src="../assets/tablesData/jszip.min.js"></script> 
    <script src="../assets/tablesData/pdfmake.min.js"></script>
    <script src="../assets/tablesData/vfs_fonts.js"></script>
    <script src="../assets/tablesData/buttons.html5.min.js"></script>
    <script src="../assets/tablesData/buttons.print.min.js"></script>




    <script src="~/Scripts/sessionJquery.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <!-- Select2 -->
    <script src="../Assets/js/plugins/select2/select2.full.min.js"></script>

    <!-- Switchery -->
    <script src="../Assets/js/plugins/switchery/switchery.js"></script>

    <!-- Data picker -->
    <script src="../Assets/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <!-- MASK -->
    <script src="../Assets/js/plugins/jasny/jasny-bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/MaskMoney/jquery.maskMoney.js"></script>

    <script src="~/assets/js/site.js"></script>
    <!-- iCheck -->
    <script src="../Assets/js/plugins/iCheck/icheck.min.js"></script>

    <script src="~/assets/js/plugins/slick/slick.min.js"></script>

    <!-- TouchSpin -->
    <script src="../assets/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/assets/js/plugins/fullcalendar/moment.min.js"></script>

    <script src="~/assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <script src="~/assets/js/inspinia.js"></script>
    <script src="~/assets/js/plugins/pace/pace.min.js"></script>


    <script src="../Assets/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="../Assets/js/plugins/morris/morris.js"></script>


    <script>

        function sendHelp() {

            var title = $("#TituloHelp").val();
            var desc = $("#MessageHelp").val();

            if (title == '' || desc == '') {

                $("#modalHelp").modal("hide")
                swal("Attention", "Fill in all the fields!", "error");

                return false;
            }
            else {
                showLoading("One Moment Please", 'Loading...');
                $.ajax({
                    url: '../Home/InsertHelp',
                    type: 'POST',
                    data: { title: title, desc: desc },
                    beforeSend: function () {

                    },
                    onsuccess: function () { },
                    success: function (result) {
                        hideLoading();
                        if (result.statusRetorno == "sucesso") {

                            if (result.objetoRetorno != null) {

                                swal("Success", "Message sent successfully", "success");

                                $("#modalHelp").modal("hide")
                                $("#TituloHelp").val('');
                                $("#MessageHelp").val('');
                            }
                            else {
                                $("#modalHelp").modal("hide")
                                swal("Attention", "An error has occurred", "error")
                            }
                        }
                        else {
                            $("#modalHelp").modal("dismiss")
                            swal("Attention", "An error has occurred", "error")
                        }

                    }
                });
            }

        }

        //pega a largura da resolução da tela

        var width = screen.width;
        //pega a altura da resolução da tela
        var height = screen.height;
        //verifica se a resolução dará uma boa visão do site
        if (width <= 1300 || height < 768) {

            $("body").animate({ 'zoom': 0.7 }, 600);

        } else {
            $("body").animate({ 'zoom': 1.0 }, 600);
        }

        function openModalHelp() { $("#modalHelp").modal("show") }

        function fnSetSessionSubs(pai, filho, idMenu) {
            showLoading("One Moment Please", 'Loading...');
            $.session.set('menuPai', pai);
            $.session.set('menuFilho', filho);
            $.session.set('idMenu', idMenu);
        }
        function fnSetSession(pai) {
            showLoading("One Moment Please", 'Loading...');
            $.session.set('menuPai', pai);
            $.session.set('menuFilho', '');
            $.session.set('idMenu', 0);
        }

        var idMenu = 0;
        $(':input').on('focus', function () {
            $(this).attr('autocomplete', 'off');
        });


        function investOpen() {
            fOpen = true;
        }

        function investClose() {
            fOpen = false;
        }


        $(document).ready(function () {

            //var tid = setInterval(atualiza, 60000);
            //function atualiza() {
            //    $.ajax({
            //        url: '../MeuCadastro/AtualizaDados',
            //        type: 'POST',
            //        beforeSend: function () {

            //        },
            //        onsuccess: function () { },
            //        success: function (result) {

            //        }
            //    });
            //}
            //function abortTimer() { // to be called when you want to stop the timer
            //    clearInterval(tid);
            //}


            $(".select2").select2({
                placeholder: " ",
                allowClear: true
            });


            $('.datehife').attr("data-mask", "99-99-9999")
            $('.date').attr("data-mask", "99/99/9999")
            $('.money').maskMoney({ prefix: 'US$ ', allowNegative: true, thousands: ',', decimal: '.', affixesStay: false });
            $('.percent').maskMoney({ prefix: '% ', allowNegative: true, thousands: ',', decimal: '.', affixesStay: false });
            $(".cep").attr("data-mask", "99999-999")


            $('.date').datepicker({
                startView: 3,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: "mm-dd-yyyy",
                language: "en-US",
                onSelect: function () {
                    $(this).change();
                }
            });
            $('.date').on("change", function () { 
                if (!validaDataEN($(this).val())) {
                    $('.date').val("");
                    swal("Attention", "Invalid Date!", "error");
                }

            })

            $('.datehife').datepicker({
                startView: 3,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: "mm-dd-yyyy",
                language: "en-US",
                onSelect: function () {
                    $(this).change();
                }
            });
            $('.datehife').on("change", function () {
              
                if (!validaDataEN($(this).val())) {
                    $('.datehife').val("");
                    swal("Attention", " Invalid Date!", "error");
                }

            })
            $.validator.addMethod('date', function (value) {
                return /^((0?[1-9]|1[012])[- /.](0?[1-9]|[12][0-9]|3[01])[- /.](19|20)?[0-9]{2})*$/.test(value);
            }, 'Please enter a valid US or Canadian postal code.');

            function validaDataEN(dt) {
                var reGoodDate = /^((0?[1-9]|1[012])[- /.](0?[1-9]|[12][0-9]|3[01])[- /.](19|20)?[0-9]{2})*$/;
                return reGoodDate.test(dt);
            }

            //var elem = document.querySelector('.js-switch');
            //var switchery = new Switchery(elem, { color: '#1AB394' });


            var Principal = $.session.get("menuPai")
            var SubMenu = $.session.get("menuFilho")
            var idMenuTable = $.session.get("idMenu")

            if (SubMenu == '' || typeof SubMenu === "undefined") {
                checkSubMenu(Principal);
            }
            else {
                checkMenuPrincipal(Principal);
                checkSubMenu(SubMenu);
            }


            idMenu = idMenuTable;


            $('.dataTables-example').DataTable({
                pageLength: 10,
                responsive: true,

                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },


            });



            $('.dataTables-example-NoSort').DataTable({
                pageLength: 10,
                responsive: true,
                "aoColumns": [{ "bSortable": false }, { "bSortable": false }],
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },


            });
            var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
            var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

            var data1 = [
                { label: "Data 1", data: d1, color: '#17a084' },
                { label: "Data 2", data: d2, color: '#127e68' }
            ];
            $.plot($("#flot-chart1"), data1, {
                xaxis: {
                    tickDecimals: 0
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 1
                            }, {
                                opacity: 1
                            }]
                        },
                    },
                    points: {
                        width: 0.1,
                        show: false
                    },
                },
                grid: {
                    show: false,
                    borderWidth: 0
                },
                legend: {
                    show: false,
                }
            });

            var lineData = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        label: "Example dataset",
                        backgroundColor: "rgba(26,179,148,0.5)",
                        borderColor: "rgba(26,179,148,0.7)",
                        pointBackgroundColor: "rgba(26,179,148,1)",
                        pointBorderColor: "#fff",
                        data: [48, 48, 60, 39, 56, 37, 30]
                    },
                    {
                        label: "Example dataset",
                        backgroundColor: "rgba(220,220,220,0.5)",
                        borderColor: "rgba(220,220,220,1)",
                        pointBackgroundColor: "rgba(220,220,220,1)",
                        pointBorderColor: "#fff",
                        data: [65, 59, 40, 51, 36, 25, 40]
                    }
                ]
            };

            var lineOptions = {
                responsive: true
            };


            var ctx = document.getElementById("lineChart").getContext("2d");
            new Chart(ctx, { type: 'line', data: lineData, options: lineOptions });

        });


        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

    </script>
</body>
</html>
