﻿<!DOCTYPE html>
<html> 
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indicadores - </title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <link href="~/Content/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <link href="~/Content/css/animate.css" rel="stylesheet">

    <link href="~/Content/css/style.css" rel="stylesheet">

    <!-- Mainly scripts -->
    <script src="~/Content/js/jquery-2.1.1.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Content/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/Content/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- Sweet Alert2  -->
    <link href="~/Content/SweetAlert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Content/SweetAlert2/sweetalert2.min.js"></script>

    <!-- Peity -->
    <script src="~/Content/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/Content/js/demo/peity-demo.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/Content/js/inspinia.js"></script>
    <script src="~/Content/js/plugins/pace/pace.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/Content/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- GITTER -->
    <script src="~/Content/js/plugins/gritter/jquery.gritter.min.js"></script>

    <!-- Sparkline -->
    <script src="~/Content/js/plugins/sparkline/jquery.sparkline.min.js"></script>

    <!-- Sparkline demo data  -->
    <script src="~/Content/js/demo/sparkline-demo.js"></script>

    <!-- Toastr -->
    <script src="~/Content/js/plugins/toastr/toastr.min.js"></script>


    <script src="~/Content/js/site.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />



    <link href="~/Content/dataTables/css/material.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables/css/dataTables.material.min.css" rel="stylesheet" />

    <link href="~/Content/js/LoadingEffects/css/component.css" rel="stylesheet" />
    <script src="~/Content/js/LoadingEffects/js/classie.js"></script>
    <link href="~/Content/css/print.css" rel="stylesheet" />
</head>
<body class="pace-done">

    <!-- Divisions for loading effects -->
    <div class="la-anim-1"></div>
    <div class="la-anim-9"><div></div><div></div><div></div><div></div></div>
    <div class="la-anim-10 la-animate" style="z-index: 50000;"></div>

    <script>



        function loadingEfect() {
            animEl = document.querySelector('.la-anim-10');
            classie.add(animEl, 'la-animate');
        }

        function closingEfect() {
            animEl = document.querySelector('.la-anim-10');
            classie.remove(animEl, 'la-animate');
        }


    </script>



    <div id="wrapper">

        <nav class="navbar-default navbar-static-side noPrint" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element" style="text-align:center">
                            @if (Presentation.Helpers.SessionManager.usuarioLogado != null)
                            {
                                if (string.IsNullOrEmpty(Presentation.Helpers.SessionManager.usuarioLogado.pathFoto))
                                {

                                    <span>
                                        <img alt="image" class="img-circle" src="~/Content/img/imgSemImagem.png" style="width: 75px;height: 75px;margin-top: -15px;" />
                                    </span>
                                }
                                else
                                {

                                    <span>
                                        <img alt="image" class="img-circle" style="width: 75px;height: 75px;margin-top: -15px;" src="@Presentation.Helpers.SessionManager.usuarioLogado.pathFoto" />
                                    </span>
                                }

                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear">
                                        <span class="block m-t-xs">
                                            <strong class="font-bold">@Presentation.Helpers.SessionManager.usuarioLogado.Nome</strong>
                                        </span> <span class="text-muted text-xs block"> @System.Configuration.ConfigurationManager.AppSettings["nomeCliente"]  </span>
                                    </span>
                                </a>
                            }
                        </div>
                        <div class="logo-element">
                            OI
                        </div>
                    </li>


                    @if (Presentation.Helpers.SessionManager.usuarioLogado != null)
                    {

                        if (Presentation.Helpers.SessionManager.usuarioLogado.idPerfil == (int)Domain.Enuns.EnumPerfil.Administrador)
                        {
                            <li id="" class="percorre">
                                <a href="#" id="AdmMenu"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Administrativo</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    <li id="mnUsuario"><a href="~/Usuarios">Usuário</a></li>
                                    <li id="mnMenu"><a href="~/CadastroMenu">Menu</a></li>
                                    @* <li id="mnPerfil"><a href="graph_morris.html">Perfil</a></li>*@

                                </ul>
                            </li>

                        }



                        var menuPai = Presentation.Helpers.SessionManager.usuarioLogado.perfil.PerfilXMenu.Where(c => c.menu.idMenuPai == 0);
                        var menusFilhoes = Presentation.Helpers.SessionManager.usuarioLogado.perfil.PerfilXMenu.Where(c => c.menu.idMenuPai > 0).OrderBy(c => c.menu.Descricao);

                        foreach (var itemMenu in menuPai)
                        {
                            var countMenuPai = menusFilhoes.Where(c => c.menu.idMenuPai == itemMenu.idMenu).Count();
                            if (countMenuPai > 0)
                            {
                                <li id="" class="percorre">
                                    <a id="@itemMenu.menu.idJqueryPai" idmenusave="@itemMenu.idMenu" href="@itemMenu.menu.urlController">
                                        <i class="@itemMenu.menu.iconLI"></i>
                                        <span class="nav-label">@itemMenu.menu.Descricao</span>
                                        <span class="fa arrow"></span>
                                    </a>
                                    @*//submenus*@
                                    <ul class="nav nav-second-level">
                                        @foreach (var itemMenuFilho in menusFilhoes.Where(c => c.menu.idMenuPai == itemMenu.idMenu))
                                        {
                                            <li id="@itemMenuFilho.menu.idJqueryFilho" class=""><a onclick="fnSetSessionSubs('@itemMenu.menu.idJqueryPai','@itemMenuFilho.menu.idJqueryFilho', '@itemMenuFilho.idMenu' )" href="@itemMenuFilho.menu.urlController" idmenusave="@itemMenuFilho.idMenu" class="">@itemMenuFilho.menu.Descricao<span></span></a></li>

                                        }
                                    </ul>


                                </li>
                            }
                            else
                            {
                                <li id="@itemMenu.menu.idJqueryPai" class="percorre">
                                    <a id="firstMenu" idmenusave="@itemMenu.idMenu" onclick="fnSetSession('@itemMenu.menu.idJqueryPai')" href="@itemMenu.menu.urlController">
                                        <i class="@itemMenu.menu.iconLI"></i>
                                        <span class="nav-label">@itemMenu.menu.Descricao</span>
                                    </a>
                                </li>
                            }
                        }


                        <li id="logOff" class="percorre">
                            <a id="alogoff" href="~/Auth/LogOff">
                                <i class="fa fa-sign-out"></i>
                                <span class="nav-label">Sair</span>
                            </a>
                        </li>


                    }

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1 col-md-10">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        @*<form role="search" class="navbar-form-custom" action="#">
                                <div class="form-group">
                                    <input type="text" placeholder="Pesquisa ..." class="form-control" name="top-search" id="top-search">
                                </div>
                            </form>*@
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            @if (Presentation.Helpers.SessionManager.usuarioLogado != null)
                            {
                                <span class="m-r-sm text-muted welcome-message">Bem Vindo - @Presentation.Helpers.SessionManager.usuarioLogado.Nome</span>
                            }
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-bell"></i>  <span class="label label-warning">8</span>
                                <!--Quantida de mensagens (fazer dinamico)-->
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="~/Content/img/a7.jpg">
                                        </a>
                                        <div class="media-body">
                                            <small class="pull-right">12h atras</small>
                                            <strong>Carlos Silva</strong> Monitor de Pressao em Alarme. <br>
                                            <small class="text-muted">1 dia 5:30 am - 26.09.2015</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="~/Content/img/a4.jpg">
                                        </a>
                                        <div class="media-body ">
                                            <small class="pull-right text-navy">3h atras</small>
                                            <strong>Felipe Goncalves</strong> Atendimentos em Alarme. <br>
                                            <small class="text-muted">1 dia  2:10 am - 27.09.2015</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="mailbox.html">
                                            <i class="fa fa-envelope"></i> <strong>Ver todos os Alarmes</strong>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="~/Auth/LogOff">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>

                    </ul>

                </nav>
            </div>
            <!--Painel Central - 27-09-2015 -->


            <div class="ajaxLoading">
                <img src="~/Content/img/ajax_loader.gif" id="imgAjax" style="margin-top:15%" />
            </div>

            @RenderBody()

        </div>

        <div class="footer" style="position:fixed">
            <div class="pull-right">
                @System.Configuration.ConfigurationManager.AppSettings["nomeCliente"] <strong>@DateTime.Now.ToString("MMMM")</strong> 2016.
            </div>
            <div>
                <strong>Versao : </strong> 1.0.0.1 [Desenvolvimento]
            </div>
        </div>
    </div>

    <script src="~/Scripts/sessionJquery.js"></script>
    <script>

        //pega a largura da resolução da tela

        var width = screen.width;
        //pega a altura da resolução da tela
        var height = screen.height;
        //verifica se a resolução dará uma boa visão do site
        if (width <= 1300 || height < 768) {

            $("body").animate({ 'zoom': 0.7 }, 600);

        } else {
            $("body").animate({ 'zoom': 1.0 }, 600);
        }


        function fnSetSessionSubs(pai, filho, idMenu) {
            loadingEfect();
            $.session.set('menuPai', pai);
            $.session.set('menuFilho', filho);
            $.session.set('idMenu', idMenu);
        }
        function fnSetSession(pai) {
            loadingEfect();
            $.session.set('menuPai', pai);
            $.session.set('menuFilho', '');
            $.session.set('idMenu', 0);
        }

        var idMenu = 0;
        $(':input').on('focus', function () {
            $(this).attr('autocomplete', 'off');
        });
        $(document).ready(function () {

           console.clear();


            var Principal = $.session.get("menuPai")
            var SubMenu = $.session.get("menuFilho")
            var idMenuTable = $.session.get("idMenu")

            if (SubMenu == '' || typeof SubMenu === "undefined") {
                checkSubMenu(Principal);
            }
            else {
                checkMenuPrincipal(Principal);
                checkSubMenu(SubMenu);
            }


            idMenu = idMenuTable;


        });


        closingEfect();
    </script>
</body>

</html>
