﻿@{Layout = null;}
<link href="~/assets/css/loading.css" rel="stylesheet" />
<div id="fundoSpinner">
    <div id="spinner">
        <div class="row" id="car" style="margin-top:30px">
            <center>
                <i class="loader-content size-lg"></i><br /><span id="spnLoading" style="font-size: 25px;"> </span><br /><span id="spnLoadingSub" style="font-size: 18px;"> </span>
            </center>
        </div>
    </div>
</div>
