﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
     
    <a href="#" class="green" data-action="edit" data-target="bannerDados" onclick="javascript:conteudo.EditItem(event)" banner="Banner Default" idbanner="1" urlbanner="../teste/img.jpg" titulo="titulo banner" idcatedoria="4" tamanho="3">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - 2BTrust.com</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        <script>
            $(document).bind("contextmenu", function (e) {
                e.preventDefault();
            });
            $(document).keydown(function (e) {
                console.log(e.which)
                if (e.which === 123) {
                    return false;
                }
            });

        </script>
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
