﻿@model Presentation.Models._2BTrustModel.ControlesModel
@{
    ViewBag.Title = "Controles";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Áreas</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Administrativo</a>
            </li>
            <li>
                <a href="../Controles">Menus</a>
            </li>
            <li class="active">
                <strong>Cadastro Menu</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Menu do Sistema</h5>
                    <div class="ibox-tools">
                        <button class="btn btn-success  dim" type="button" id="btnSalvar" onclick="btnSalvar()"><i class="fa fa-add"> Salvar</i></button>
                    </div>
                </div>
                <div class="ibox-content">
                    @{Html.RenderPartial("_loading");}
                    @using (Html.BeginForm("Area", "Areas", FormMethod.Post, new { id = "fmControle", @autocomplete = "off" }))
                    {

                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(c => c.IdUsuarioInclusao)
                        @Html.HiddenFor(c => c.Id)
                        @Html.HiddenFor(c => c.IdUsuarioAlteracao)
                        @Html.HiddenFor(c => c.FlagAtivo)


                        <div class="row">

                            <div class="col-lg-1">
                                <label>#</label><br />
                                <label>@Model.Id</label>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Código *</label>
                                    @Html.TextBoxFor(m => m.Codigo, new { @class = "form-control required", @placeholder = "Digite o código" })
                                    @Html.ValidationMessageFor(c => c.Codigo)
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Nome *</label>
                                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control required", @placeholder = "Digite o nome" })
                                    @Html.ValidationMessageFor(c => c.Nome)
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label>Área *</label>
                                    @Html.DropDownListFor(m => m.IdArea, new SelectList(ViewBag.Areas, "Id", "Nome", 0), "", new { @class = "form-control select2 required", @style = "width:100%;" })
                                    @Html.ValidationMessageFor(c => c.IdArea)
                                </div>
                            </div>

                        </div>


                        <div class="row">

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Caso o menu que está sendo cadastrado seja um sub-menu, favor selecionar qual o Menu Pai</label>
                                    @Html.DropDownListFor(m => m.IdControlePrincipal, new SelectList(ViewBag.MeuPai, "Id", "Nome", 0), "", new { @class = "form-control select2 ", @style = "width:100%;" })
                                    @Html.ValidationMessageFor(c => c.IdControlePrincipal)
                                </div>
                            </div>

                        </div>


                        <div class="row">

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Url Controller *</label>
                                    @Html.TextBoxFor(m => m.UrlController, new { @class = "form-control required", @placeholder = "Digite o código" })
                                    @Html.ValidationMessageFor(c => c.UrlController)
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Icone Menu </label>
                                    @Html.TextBoxFor(m => m.iconLI, new { @class = "form-control", @placeholder = "Ex: fa fa-bell" })
                                    @Html.ValidationMessageFor(c => c.iconLI)
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>ID Menu Principal </label>
                                    @Html.TextBoxFor(m => m.idJqueryPai, new { @class = "form-control", @placeholder = "Ex: menu1..." })
                                    @Html.ValidationMessageFor(c => c.iconLI)
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>ID Menu Secundário </label>
                                    @Html.TextBoxFor(m => m.idJqueryFilho, new { @class = "form-control", @placeholder = "Ex: mnExemplo" })
                                    @Html.ValidationMessageFor(c => c.iconLI)
                                </div>
                            </div>


                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Nome da Controller </label>
                                    @Html.TextBoxFor(m => m.Controller, new { @class = "form-control", @placeholder = "Ex: mnExemplo" })
                                    @Html.ValidationMessageFor(c => c.Controller)
                                </div>
                            </div>

                            @*<div class="col-lg-6">
                                <div class="form-group">
                                    <label>Escolha as ações que podem ser usadas </label>

                                    @for (int idx = 0; idx < Model._Acoes.Count(); idx++)
                                    {
                                        @Html.HiddenFor(x => Model._Acoes[idx].Id)
                                        @Html.HiddenFor(x => Model._Acoes[idx].Nome)
                                        @Html.HiddenFor(x => Model._Acoes[idx].Codigo)
                                        @Html.HiddenFor(x => Model._Acoes[idx].Id)

                                        var strID = "chk" + idx;
                                        <div class="row">

                                            <div class="col-lg-2">
                                                <div class="switch">
                                                    <div class="onoffswitch">
                                                        @Html.CheckBoxFor(x => Model._Acoes[idx].FlgAtivo, new { @class = "", @id = strID })
                                                        
                                                        @*<label class="onoffswitch-label" for='@strID'>
                                                            <span class="onoffswitch-inner"></span>
                                                            <span class="onoffswitch-switch"></span>
                                                        </label 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5"><span>@Model._Acoes[idx].Nome</span></div>

                                        </div>

                                    } 
                                </div>
                            </div>*@


                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    console.clear();

    $(document).ready(function () {


    });

    function btnSalvar() {

        var form = $("#fmControle");

        if (form.valid() == false) {
            swal("Atenção", "Verifique a validação dos campos!", "error");
            return false;
        }
        else {

            showLoading("Salvando Informações");
            $.ajax({
                url: '../Controles/Controle',
                type: 'POST',
                data: form.serialize(),
                beforeSend: function () {

                },
                onsuccess: function () { },
                success: function (result) {
                    if (result.statusRetorno == 'success') {

                        swal("Perfeito", "Cadastro realizado com sucesso!", "success");

                        setTimeout(function () {
                            window.location = "../Controles";
                        }, 2500);

                    }
                    else {
                        hideLoading();
                        swal("Atenção", "Ocorreu um erro ao efetuar seu cadastro! Tente novamente", "error");
                    }
                }
            });
        }
    };

</script>