﻿@model Presentation.Helpers.ResponseJson
@{
    ViewBag.Title = "Index";

    IEnumerable<Presentation.Models._2BTrustModel.ControlesModel> listModel = (IEnumerable<Presentation.Models._2BTrustModel.ControlesModel>)Model.objetoRetorno;


    var grpOrderedYr = listModel.GroupBy(
   areas => areas._Area.Nome).OrderBy(areas => areas.Key);




}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Áreas</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Administrativo</a>
            </li>
            <li class="active">
                <strong>Menus</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


@if (Model.statusRetorno != "success")
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem de Menus do Sistema</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">

                        <span> @Model.statusRetorno</span>

                    </div>
                </div>
            </div>
        </div>
    </div>



}
else
{

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem de Menus do Sistema</h5>
                        <div class="ibox-tools">
                            <button class="btn btn-success  dim" id="btnNovo" onclick="btnNovo()" type="button"><i class="fa fa-plus"> Novo</i></button>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">

                            @foreach (var areas in grpOrderedYr)
                            {
                                <div class="row">
                                    <div class="col-lg-12" style=" padding: 20px; ">
                                        <span style="    font-size: 20px;    text-decoration: underline">@areas.Key</span><br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <table class="table table-striped table-bordered table-hover dataTables-example">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Área</th>
                                                    <th>Nome</th>
                                                    <th>Nível</th>
                                                    <th>Data Inclusão</th>
                                                    <th>Opções</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in areas)
                                                {


                                                    <tr class="gradeX">

                                                        <td>@item.Id</td>
                                                        <td>@item._Area.Nome</td>
                                                        <td>@item.Nome</td>
                                                        @if (item.IdControlePrincipal == null || item.IdControlePrincipal == 0)
                                                        {
                                                            <td><span>Principal</span></td>
                                                        }
                                                        else
                                                        {
                                                            <td><span>Secundário</span></td>
                                                        }
                                                        <td>@item.DtInclusao.ToString("MM/dd/yyyy")</td>
                                                        <td>
                                                            <button class="btn btn-info " type="button" onclick="btnEdit('@item.Id')"><i class="fa fa-paste"></i> Editar</button>
                                                            @if (item.FlagAtivo == true)
                                                            {
                                                                <button class="btn btn-danger " onclick="btnDeletar('@item.Id')" type="button" idcontrole="@item.Id"><i class="fa fa-wrench"></i> Deletar</button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-success " onclick="btnAtivar('@item.Id')" type="button" idcontrole="@item.Id"><i class="fa fa-check"></i> Ativar</button>
                                                            }
                                                        </td>

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                                
                                <hr />
                            }

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>





    function btnEdit(idCOntrole) {
        showLoading('Acessando...');
        window.location = '../Controles/Controle?idControle=' + idCOntrole
    }

    function btnNovo() {
        showLoading('Acessando...');
        window.location = '../Controles/Controle'
    }

    function btnAtivar(idControle) {

        showLoading('Processando...');
        $.ajax({
            url: '../Controles/Ativar',
            type: 'POST',
            data: { idControle: idControle },
            beforeSend: function () {

            },
            onsuccess: function () { },
            success: function (result) {
                if (result.statusRetorno == 'success') {
                    hideLoading();
                    swal("Perfeito", "Item ativado com sucesso!", "success");

                    setTimeout(function () {
                        window.location = "../Controles";
                    }, 2000);

                }
                else {
                    hideLoading();
                    swal("Atenção", result.statusRetorno, "error");
                }
            }
        });

    }

    function btnDeletar(idControle) {

        showLoading('Processando...');
        $.ajax({
            url: '../Controles/Desativar',
            type: 'POST',
            data: { idControle: idControle },
            beforeSend: function () {

            },
            onsuccess: function () { },
            success: function (result) {
                if (result.statusRetorno == 'success') {
                    hideLoading();
                    swal("Perfeito", "Item deletado com sucesso!", "success");

                    setTimeout(function () {
                        window.location = "../Controles";
                    }, 2000);

                }
                else {
                    hideLoading();
                    swal("Atenção", result.statusRetorno, "error");
                }
            }
        });

    }

</script>