﻿@model Presentation.Models._2BTrustModel.ContratosModel
@{
    ViewBag.Title = "Controles";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Contrato</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Financeiro ADM</a>
            </li>
            <li>
                <a href="../Contratos">Menus</a>
            </li>
            <li class="active">
                <strong>Cadastro Contrato</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Contrato do Sistema</h5>
                    <div class="ibox-tools">
                        <button class="btn btn-success" type="button" id="btnSalvar" onclick="btnSalvar()"> Salvar</button>
                    </div>
                </div>
                <div class="ibox-content">
                    @{Html.RenderPartial("_loading");}
                    @using (Html.BeginForm("Contrato", "Contratos", FormMethod.Post, new { id = "fmContrato", @autocomplete = "off" }))
                    {

                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(c => c.IdUsuarioInclusao)
                        @Html.HiddenFor(c => c.Id)
                        @Html.HiddenFor(c => c.IdUsuarioAlteracao)
                        @Html.HiddenFor(c => c.IdStatus)


                        <div class="row">

                            <div class="col-lg-1">
                                <label>#</label><br />
                                <label>@Model.Id</label>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Código *</label>
                                    @Html.TextBoxFor(m => m.Codigo, new { @class = "form-control required", @placeholder = "Digite o código" })
                                    @Html.ValidationMessageFor(c => c.Codigo)
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="form-group">
                                    <label>Descrição *</label>
                                    @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control required", @placeholder = "Digite o nome" })
                                    @Html.ValidationMessageFor(c => c.Descricao)
                                </div>
                            </div>


                        </div>
                        <div class="row">

                           
                            <div class="col-lg-offset-1 col-lg-3">
                                <div class="form-group">
                                    <label>Data Início *</label>
                                    @Html.TextBoxFor(m => m.DtInicio, new { @class = "form-control required date", @placeholder = " " })
                                    @Html.ValidationMessageFor(c => c.DtInicio)
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Data Vigência *</label>
                                    @Html.TextBoxFor(m => m.DtVigencia, new { @class = "form-control required date", @placeholder = " " })
                                    @Html.ValidationMessageFor(c => c.DtVigencia)
                                </div>
                            </div>


                        </div>





                    }
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    console.clear();

    $(document).ready(function () {


    });

    function btnSalvar() {

        var form = $("#fmContrato");

        if (form.valid() == false) {
            swal("Atenção", "Verifique a validação dos campos!", "error");
            return false;
        }
        else {

            showLoading("Salvando Informações");
            $.ajax({
                url: '../Contratos/Contrato',
                type: 'POST',
                data: form.serialize(),
                beforeSend: function () {

                },
                onsuccess: function () { },
                success: function (result) {
                    if (result.statusRetorno == 'success') {

                        swal("Perfeito", "Cadastro realizado com sucesso!", "success");

                        setTimeout(function () {
                            window.location = "../Contratos";
                        }, 2500);

                    }
                    else {
                        hideLoading();
                        swal("Atenção", "Ocorreu um erro ao efetuar seu cadastro! Tente novamente", "error");
                    }
                }
            });
        }
    };

</script>