﻿@model Presentation.Helpers.ResponseJson
@{
    ViewBag.Title = "Index";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Contratos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Financeiro ADM</a>
            </li>
            <li class="active">
                <strong>Contratos</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


@if (Model.statusRetorno != "success")
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem de Contratos do Sistema</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">

                        <span> @Model.statusRetorno</span>

                    </div>
                </div>
            </div>
        </div>
    </div>



}
else
{

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem de Contratos do Sistema</h5>
                        <div class="ibox-tools">
                            <button class="btn btn-success " id="btnNovo" onclick="btnNovo()" type="button">  Novo </button>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Codigo</th>
                                        <th>Descrição</th>
                                        <th>Data Início</th>
                                        <th>Data Vigência</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.objetoRetorno)
                                    {
                                        <tr class="gradeX">

                                            <td>@item.Id</td>
                                            <td>@item.Codigo</td>
                                            <td>@item.Descricao</td>
                                            <td>@item.DtInicio.ToString("MM/dd/yyyy")</td>
                                            <td>Indeterminado</td>
                                            <td>
                                                <button class="btn btn-info " onclick="btnEdit('@item.Id')" type="button"> Editar</button>
                                                @if (item.IdStatus == 1)
                                                {
                                                    <button class="btn btn-danger " onclick="btnDeletar('@item.Id')" type="button" idcontrato="@item.Id">  Deletar</button>
                                                }                                                                                                         
                                                else                                                                                                      
                                                {                                                                                                         
                                                    <button class="btn btn-success " onclick="btnAtivar('@item.Id')" type="button" idcontrato="@item.Id"> Ativar</button>
                                                }
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>





    function btnEdit(idContrato) {
        showLoading('Acessando...');
        window.location = '../Contratos/Contrato?idContrato=' + idContrato
    }


    function btnNovo() {
        showLoading('Acessando...');
        window.location = '../Contratos/Contrato'
    }

    function btnAtivar(idContrato) {

        showLoading('Processando...');
        $.ajax({
            url: '../Contratos/Ativar',
            type: 'POST',
            data: { idContrato: idContrato },
            beforeSend: function () {

            },
            onsuccess: function () { },
            success: function (result) {
                if (result.statusRetorno == 'success') {
                    hideLoading();
                    swal("Perfeito", "Item ativado com sucesso!", "success");

                    setTimeout(function () {
                        window.location = "../Contratos";
                    }, 2000);

                }
                else {
                    hideLoading();
                    swal("Atenção", result.statusRetorno, "error");
                }
            }
        });

    }

    function btnDeletar(idContrato) {

        showLoading('Processando...');
        $.ajax({
            url: '../Contratos/Desativar',
            type: 'POST',
            data: { idContrato: idContrato },
            beforeSend: function () {

            },
            onsuccess: function () { },
            success: function (result) {
                if (result.statusRetorno == 'success') {
                    hideLoading();
                    swal("Perfeito", "Item deletado com sucesso!", "success");

                    setTimeout(function () {
                        window.location = "../Contratos";
                    }, 2000);

                }
                else {
                    hideLoading();
                    swal("Atenção", result.statusRetorno, "error");
                }
            }
        });

    }

</script>