﻿@model Presentation.Helpers.ResponseJson
@{
    ViewBag.Title = "Index";


}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Clientes</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Administrativo</a>
            </li>
            <li class="active">
                <strong>Clientes</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


@if (Model.statusRetorno != "success")
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem de Clientes</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">

                        <span> @Model.statusRetorno</span>

                    </div>
                </div>
            </div>
        </div>
    </div>



}
else
{

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem Clientes</h5>
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">

                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nome</th>
                                                <th>Data Inclusão</th>
                                                <th>Email</th>
                                                <th>Telefone</th>
                                                <th>Opções</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in (IEnumerable<Presentation.Models._2BTrustModel.PessoasModel>)Model.objetoRetorno)
                                            {



                                                var sTyle = "";
                                                if (item.IdStatus != 1)
                                                { sTyle = "text-decoration: line-through;color: #ca6b6b;"; }

                                                <tr class="gradeX" style="@sTyle">
                                                    <th>@item.Id</th>
                                                    <th>@item.Nome</th>
                                                    <th>@item.DtInclusao</th>
                                                    <th>@item._Usuario.Email</th>
                                                    <th>@item.TelefoneCelular</th>
                                                    <th>
                                                        <button class="btn btn-info " type="button" onclick="btnEdit('@item.Id')" autocomplete="off"><i class="fa fa-paste"></i> Info</button>
                                                        @if (item.IdStatus == 1)
                                                        {
                                                            <button class="btn btn-danger " onclick="btnDeletar('@item.Id')" type="button" idbem="@item.Id"><i class="fa fa-wrench"></i> Deletar</button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-success " onclick="btnAtivar('@item.Id')" type="button" idbem="@item.Id"><i class="fa fa-check"></i> Ativar</button>
                                                        }
                                                    </th>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    function btnEdit(idCliente) {
        showLoading('Acessando...');
        window.location = '../Clientes/Info?idCliente=' + idCliente
    }
    function btnAtivar(idCliente) {

        showLoading('Processando...');
        $.ajax({
            url: '../Clientes/Ativar',
            type: 'POST',
            data: { idCliente: idCliente },
            beforeSend: function () {

            },
            onsuccess: function () { },
            success: function (result) {
                if (result.statusRetorno == 'success') {
                    hideLoading();
                    swal("Perfeito", "Item ativado com sucesso!", "success");

                    setTimeout(function () {
                        window.location = "../Clientes";
                    }, 2000);

                }
                else {
                    hideLoading();
                    swal("Atenção", result.statusRetorno, "error");
                }
            }
        });

    }

    function btnDeletar(idCliente) {

        showLoading('Processando...');
        $.ajax({
            url: '../Clientes/Desativar',
            type: 'POST',
            data: { idCliente: idCliente },
            beforeSend: function () {

            },
            onsuccess: function () { },
            success: function (result) {
                if (result.statusRetorno == 'success') {
                    hideLoading();
                    swal("Perfeito", "Item deletado com sucesso!", "success");

                    setTimeout(function () {
                        window.location = "../Clientes";
                    }, 2000);

                }
                else {
                    hideLoading();
                    swal("Atenção", result.statusRetorno, "error");
                }
            }
        });

    }
</script>