﻿@model Presentation.Models._2BTrustModel.AreasModel
@{
    ViewBag.Title = "Area";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Áreas</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Administrativo</a>
            </li>
            <li>
                <a href="../Areas/Index">Áreas</a>
            </li>
            <li class="active">
                <strong>Cadastro Áreas</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Área do Sistema</h5>
                    <div class="ibox-tools">
                        <button class="btn btn-success  dim" type="button" id="btnSalvar" onclick="btnSalvar()"><i class="fa fa-add"> Salvar</i></button>
                    </div>
                </div>
                <div class="ibox-content">
                    @{Html.RenderPartial("_loading");}
                    @using (Html.BeginForm("Area", "Areas", FormMethod.Post, new { id = "fmAreas", @autocomplete = "off" }))
                    {

                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(c => c.IdUsuarioInclusao)
                        @Html.HiddenFor(c => c.Id)
                        @Html.HiddenFor(c => c.IdUsuarioAlteracao)
                        @Html.HiddenFor(c => c.FlgAtivo)


                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-xs-1">
                                <label>#</label><br />
                                <label>@Model.Id</label>
                            </div>

                            <div class="col-lg-2 col-md-2 col-xs-2">
                                <div class="form-group">
                                    <label>Código *</label>
                                    @Html.TextBoxFor(m => m.Codigo, new { @class = "form-control required", @placeholder = "Digite o código" })
                                    @Html.ValidationMessageFor(c => c.Codigo)
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-xs-9">
                                <div class="form-group">
                                    <label>Nome da Área *</label>
                                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control required", @placeholder = "Digite o nome" })
                                    @Html.ValidationMessageFor(c => c.Nome)
                                </div>
                            </div>

                        </div>


                    }
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    console.clear();

    function btnSalvar() {

        var form = $("#fmAreas");

        if (form.valid() == false) {
            swal("Atenção", "Verifique a validação dos campos!", "error");
            return false;
        }
        else {

            showLoading("Salvando Informações");
            $.ajax({
                url: '../Areas/Area',
                type: 'POST',
                data: form.serialize(),
                beforeSend: function () {

                },
                onsuccess: function () { },
                success: function (result) {
                    if (result.statusRetorno == 'success') {

                        swal("Perfeito", "Cadastro realizado com sucesso!", "success");

                        setTimeout(function () {
                            window.location = "../Areas";
                        }, 2500);

                    }
                    else {
                        hideLoading();
                        swal("Atenção", "Ocorreu um erro ao efetuar seu cadastro! Tente novamente", "error");
                    }
                }
            });
        }
    };

</script>