﻿@model Presentation.Helpers.ResponseJson
@{
    ViewBag.Title = "Index";
    string localPathIIS = System.Web.Configuration.WebConfigurationManager.AppSettings["localPathIIS"];
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Áreas</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Administrativo</a>
            </li>
            <li class="active">
                <strong>Áreas</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


@if (Model.statusRetorno != "success")
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem de Áreas do Sistema</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">

                        <span> @Model.statusRetorno</span>

                    </div>
                </div>
            </div>
        </div>
    </div>



}
else
{

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem de Áreas do Sistema</h5>
                        <div class="ibox-tools">
                            <button class="btn btn-success  dim" id="btnNovo" onclick="btnNovo()" type="button"><i class="fa fa-plus"> Novo</i></button>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nome</th>
                                        <th>Data Inclusão</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.objetoRetorno)
                                    {
                                        <tr class="gradeX">

                                            <td>@item.Id</td>
                                            <td>@item.Nome</td>
                                            <td>@item.DtInclusao.ToString("MM/dd/yyyy")</td>
                                            <td>
                                                <button class="btn btn-info " onclick="btnEdit('@item.Id')" type="button"><i class="fa fa-paste"></i> Editar</button>
                                                @if (item.FlgAtivo == true)
                                                {
                                                    <button class="btn btn-danger " onclick="btnDeletar('@item.Id')" type="button" idarea="@item.Id"><i class="fa fa-wrench"></i> Deletar</button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-success " onclick="btnAtivar('@item.Id')" type="button" idarea="@item.Id"><i class="fa fa-check"></i> Ativar</button>
                                                }
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>




    function btnEdit(idArea) {
        showLoading('Acessando...');
        window.location = '../Areas/Area?idArea='+idArea
    }


    function btnNovo() {
        showLoading('Acessando...');
        window.location = '../Areas/Area'
    }

    function btnAtivar(idArea) {

        showLoading('Processando...');
        $.ajax({
            url: '../Areas/Ativar',
            type: 'POST',
            data: { idArea: idArea },
            beforeSend: function () {

            },
            onsuccess: function () { },
            success: function (result) {
                if (result.statusRetorno == 'success') {
                    hideLoading();
                    swal("Perfeito", "Item ativado com sucesso!", "success");

                    setTimeout(function () {
                        window.location = "../Areas";
                    }, 2000);

                }
                else {
                    hideLoading();
                    swal("Atenção", result.statusRetorno, "error");
                }
            }
        });

    }

    function btnDeletar(idArea) {

        showLoading('Processando...');
        $.ajax({
            url: '../Areas/Desativar',
            type: 'POST',
            data: { idArea: idArea },
            beforeSend: function () {

            },
            onsuccess: function () { },
            success: function (result) {
                if (result.statusRetorno == 'success') {
                    hideLoading();
                    swal("Perfeito", "Item deletado com sucesso!", "success");

                    setTimeout(function () {
                        window.location = "../Areas";
                    }, 2000);

                }
                else {
                    hideLoading();
                    swal("Atenção", result.statusRetorno, "error");
                }
            }
        });

    }

</script>