﻿@model Presentation.Models._2BTrustModel.BensModel
@{
    ViewBag.Title = "Controles";
    if (Model._Imagens == null)
    {
        Model._Imagens = new List<Presentation.Models._2BTrustModel.BensImagensModel>
();
    }
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Imóvel</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Financeiro ADM</a>
            </li>
            <li>
                <a href="../Bens">Imóveis</a>
            </li>
            <li class="active">
                <strong>Cadastro Imóvel</strong>
            </li>
        </ol>
    </div>
</div>
<link href="~/assets/fine-uploader/fine-uploader-gallery.css" rel="stylesheet" />
<link href="~/assets/fine-uploader/fine-uploader.css" rel="stylesheet" />
<script src="~/assets/fine-uploader/fine-uploader.core.js"></script>
<script src="~/assets/fine-uploader/fine-uploader.js"></script>
<script src="~/assets/fine-uploader/jquery.fine-uploader.js"></script>
<link href="~/assets/css/plugins/slick/slick.css" rel="stylesheet">
<link href="~/assets/css/plugins/slick/slick-theme.css" rel="stylesheet">
<script src="../assets/js/jquery-3.1.1.min.js"></script>
<script src="~/assets/js/plugins/validate/jquery.validate.min.js"></script>
<script src="~/assets/js/bens.js"></script>
<script src="~/Scripts/jquery.maskMoney.min.js"></script>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Imóvel do Sistema</h5>
                    <div class="ibox-tools">
                        <button class="btn btn-success " type="button" id="btnSalvar" onclick="btnSalvar()">  Salvar</button>
                    </div>
                </div>
                <div class="ibox-content">
                    @{Html.RenderPartial("_loading");}
                    @using (Html.BeginForm("Bem", "Bens", FormMethod.Post, new { id = "fmBem", @autocomplete = "off", @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(c => c.IdUsuarioInclusao)
                        @Html.HiddenFor(c => c.Id)
                        @Html.HiddenFor(c => c.IdUsuarioAlteracao)
                        @Html.HiddenFor(c => c.IdStatus)
                        @Html.HiddenFor(c => c._Endereco.Id)
                        @Html.HiddenFor(c => c._Lucratividade.Id)
                        @Html.HiddenFor(c => c._Rentabilidade.Id)
                        @Html.HiddenFor(c => c._BensAcao.Id)
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="tabs-container">
                                    <ul class="nav nav-tabs" id="myTab">
                                        <li class="active">
                                            <a data-toggle="tab" data-target="#tab-1"> Dados Cadastrais</a>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" data-target="#tab-1_2">Compra/Venda</a>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" data-target="#tab-1_3">Lucro/Prejuízo</a>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" data-target="#tab-2">Lucro</a>
                                        </li>
                                        @*
                                            <li class="">
                                                <a data-toggle="tab" data-target="#tab-3">Rentabilidade</a>
                                            </li>
                                        *@
                                        <li class="">
                                            <a data-toggle="tab" data-target="#tab-4" onclick="loadImage()">Imagens</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="tab-1" class="tab-pane active">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-1">
                                                        <label>#</label>
                                                        <br />
                                                        <label>@Model.Id</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Informe o Contrato *</label>
                                                            @Html.DropDownListFor(m => m.IdPool, new SelectList(ViewBag.Pools, "Id", "Nome", 0), "", new { @class = "form-control select2 ", @style = "width:100%;" })
                                                            @Html.ValidationMessageFor(c => c.IdPool)
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <div class="form-group">
                                                            <label>Selecione o Tipo *</label>
                                                            @Html.DropDownListFor(m => m.TipoBem, EnumHelper.GetSelectList(typeof(Domain.Enuns.EnumTipoBem)), "Selecione o Tipo", new { id = "ddlTipoBem", @class = "form-control select2 ", @style = "width:100%;" })
                                                            @Html.ValidationMessageFor(c => c.TipoBem)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="divDescricao" class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label>Descrição *</label>
                                                            @Html.TextAreaFor(m => m.Descritivo, new { @class = "form-control required", @placeholder = " " })
                                                            @Html.ValidationMessageFor(c => c.Descritivo)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="divCapital" class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label>Capital Investido *</label>
                                                            @Html.TextBoxFor(m => m.CapitalInvestido, new { @class = "form-control required money", id = "capitalInv", @placeholder = " " })
                                                            @Html.ValidationMessageFor(c => c.CapitalInvestido)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="divAcao" class="row" style="display: none;">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Código da Ação *</label>
                                                            @Html.TextBoxFor(m => m._BensAcao.CodigoAcao, new { @class = "form-control required", id = "codigoAcao", @placeholder = "Código da ação" })
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Cotação Atual *</label>
                                                            @Html.TextBoxFor(m => m._BensAcao.CotacaoAtual, new { @class = "form-control required money", id = "cotacaoAtual", @placeholder = "Valor da cotação atual" })
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Quantidade de Cotas *</label>
                                                            @Html.TextBoxFor(m => m._BensAcao.QtdeCotas, new { @class = "form-control required", id = "qtdeCotas", @placeholder = "Quantidade de cotas" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="divEndereco" style="display: none;">
                                                    <div id="divDadosEndereco1" class="row">
                                                        <div class="col-lg-3">
                                                            <div class="form-group">
                                                                <label>ZIP Code *</label>
                                                                @Html.TextBoxFor(m => m._Endereco.Cep, new { @onChange = "getEndereco()", @maxlength = 7, @class = "form-control required ", @placeholder = "Digite seu ZIP Code", @id = "_Endereco.Cep" })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Endereço *</label>
                                                                @Html.TextBoxFor(m => m._Endereco.Logradouro, new { @class = "form-control required", @placeholder = "Digite seu endereço", @id = "_Endereco.Endereco" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="divDadosEndereco2" class="row">
                                                        <div class="col-lg-3">
                                                            <div class="form-group">
                                                                <label>Número *</label>
                                                                <br />
                                                                @Html.TextBoxFor(m => m._Endereco.Numero, new { @class = "form-control required", @placeholder = "Digite o número", @MaxLength = 8, @id = "_Endereco.Numero" })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <div class="form-group">
                                                                <label>Bairro *</label>
                                                                @Html.TextBoxFor(m => m._Endereco.Bairro, new { @class = "form-control required", @placeholder = "Digite seu bairro", @id = "_Endereco.Bairro" })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <div class="form-group">
                                                                <label>Estado *</label>
                                                                <br />
                                                                @* @Html.DropDownListFor(m => m._Endereco.IdEstado, new SelectList(ViewBag.Estados, "Id", "Nome", 0), "", new { @class = "form-control", @style="width:100%;" })*@
                                                                @Html.TextBoxFor(m => m._Endereco.Estado, new { @class = "form-control required", @placeholder = "Digite sua UF", @MaxLength = 2, @id = "_Endereco.UF" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="divDadosEndereco3" class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label>Complemento</label>
                                                                @* @Html.DropDownListFor(m => m._Endereco.IdEstado, new SelectList(ViewBag.Estados, "Id", "Nome", 0), "", new { @class = "form-control", @style="width:100%;" })*@
                                                                @Html.TextBoxFor(m => m._Endereco.Complemento, new { @class = "form-control", @placeholder = "Digite o complemento do endereço" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="divDadosEndereco4" class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label>Cidade *</label>
                                                                @* @Html.DropDownListFor(m => m._Endereco.IdEstado, new SelectList(ViewBag.Estados, "Id", "Nome", 0), "", new { @class = "form-control", @style="width:100%;" })*@
                                                                @Html.TextBoxFor(m => m._Endereco.Cidade, new { @class = "form-control required", @placeholder = "Digite sua cidade", @id = "_Endereco.Cidade" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tab-1_2" class="tab-pane">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Data Operação *</label>
                                                            @Html.TextBoxFor(m => m.DtReferenciaCusto, "{0:MM/dd/yyyy}", new { @class = "form-control date", @placeholder = " " })
                                                            @Html.ValidationMessageFor(c => c.DtReferenciaCusto)
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Valores *</label>
                                                            @Html.TextBoxFor(m => m.Custos, new { @class = "form-control money", @placeholder = " " })
                                                            @Html.ValidationMessageFor(c => c.Custos)
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Descrição *</label>
                                                            @Html.TextBoxFor(m => m.DescricaoGasto, new { @class = "form-control", @placeholder = " " })
                                                            @Html.ValidationMessageFor(c => c.DescricaoGasto)
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group" style="margin-top: 30px;">
                                                            <div class="i-checks">
                                                                <label>
                                                                    @Html.CheckBoxFor(m => m.fComprovante)
                                                                    <i></i> Existe comprovante?
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12" id="dvAddComprovanteGastos" style="text-align:center; display:none">
                                                        <script type="text/template" id="qq-template-gastos">
                                                            <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
                                                                <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                                                                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
                                                                </div>
                                                                <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                                                                    <span class="qq-upload-drop-area-text-selector"></span>
                                                                </div>
                                                                <div class="qq-upload-button-selector qq-upload-button">
                                                                    <div>Selecione</div>
                                                                </div>
                                                                <span class="qq-drop-processing-selector qq-drop-processing">
                                                                    <span>Processing dropped files...</span>
                                                                    <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                                                                </span>
                                                                <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                                                                    <li>
                                                                        <div class="qq-progress-bar-container-selector">
                                                                            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                                                                        </div>
                                                                        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                                                                        <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                                                                        <span class="qq-upload-file-selector qq-upload-file"></span>
                                                                        <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                                                                        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                                                                        <span class="qq-upload-size-selector qq-upload-size"></span>
                                                                        <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                                                                        <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                                                                        <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                                                                        <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                                                                    </li>
                                                                </ul>
                                                                <dialog class="qq-alert-dialog-selector">
                                                                    <div class="qq-dialog-message-selector"></div>
                                                                    <div class="qq-dialog-buttons">
                                                                        <button type="button" class="qq-cancel-button-selector">Close</button>
                                                                    </div>
                                                                </dialog>
                                                                <dialog class="qq-confirm-dialog-selector">
                                                                    <div class="qq-dialog-message-selector"></div>
                                                                    <div class="qq-dialog-buttons">
                                                                        <button type="button" class="qq-cancel-button-selector">No</button>
                                                                        <button type="button" class="qq-ok-button-selector">Yes</button>
                                                                    </div>
                                                                </dialog>
                                                                <dialog class="qq-prompt-dialog-selector">
                                                                    <div class="qq-dialog-message-selector"></div>
                                                                    <input type="text">
                                                                    <div class="qq-dialog-buttons">
                                                                        <button type="button" class="qq-cancel-button-selector">Cancel</button>
                                                                        <button type="button" class="qq-ok-button-selector">Ok</button>
                                                                    </div>
                                                                </dialog>
                                                            </div>

                                                        </script>
                                                        <div id="uploader-gastos"></div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group" style=" padding: 20px;">
                                                            <button type="button" class="btn btn-outline btn-primary" id="btnAddGastos">Adicionar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top:20px">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-bordered table-hover dataTables-example" id="table-documentos">
                                                            <thead>
                                                                <tr>
                                                                    <th>Data</th>
                                                                    <th>Descrição</th>
                                                                    <th>Valor</th>
                                                                    <th>Comprovante</th>
                                                                    <th>Deletar</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @{
                                                                    if (Model._BensGastos != null)
                                                                    {
                                                                        foreach (var item in Model._BensGastos)
                                                                        {
                                                                            <tr id="tr-@item.Id">
                                                                                <th>@item.DtOcorrencia.ToString("MM/dd/yyyy")</th>
                                                                                <th>@item.Descricao</th>
                                                                                <th>@item.Valor.ToString("c")</th>
                                                                                <th>
                                                                                    @if (string.IsNullOrEmpty(item.PathLocationIIS))
                                                                                    {
                                                                                        <span>-</span>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <a href="@item.PathLocationIIS" target="_blank">Open</a>
                                                                                    }
                                                                                </th>
                                                                                <th>
                                                                                    <a onclick="dellBemGastos('@item.Id')" idgastosbem="'@item.Id'" href="javascript:;" class="btn btn-danger btn-xs dellTelefone" style="color:white">
                                                                                        Deletar
                                                                                        <i class="fa  fa-trash-o"></i>
                                                                                    </a>
                                                                                </th>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tab-1_3" class="tab-pane">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Mês/Ano Ref. *</label>
                                                            @Html.TextBoxFor(m => m.sMesAno, new { @class = "form-control required", @placeholder = "Mês/Ano Ref.", @Maxlength = 7 })
                                                            @Html.ValidationMessageFor(c => c.sMesAno)
                                                        </div>
                                                    </div>
                                                    @*
                                                        <div class="col-lg-3">
                                                            <div class="form-group">
                                                                <label>Ano Ref *</label>
                                                                @Html.TextBoxFor(m => m.iAno, new { @class = "form-control required int", @placeholder = "Ano Ref.", @Maxlength = 4 })
                                                                @Html.ValidationMessageFor(c => c.iAno)
                                                            </div>
                                                        </div>
                                                    *@
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Rent por mês*</label>
                                                            @Html.TextBoxFor(m => m.Rent, new { @class = "form-control required money", @placeholder = "Insira o Valor" })
                                                            @Html.ValidationMessageFor(c => c.Rent)
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Hoa por mês*</label>
                                                            @Html.TextBoxFor(m => m.Hoa, new { @class = "form-control required money", @placeholder = "Insira o Valor" })
                                                            @Html.ValidationMessageFor(c => c.Hoa)
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Property Tax Provision por mês*</label>
                                                            @Html.TextBoxFor(m => m.PropertyTaxProvision, new { @class = "form-control required money", @placeholder = "Insira o Valor Total (x12)" })
                                                            @Html.ValidationMessageFor(c => c.PropertyTaxProvision)
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Property Management *</label>
                                                            @Html.TextBoxFor(m => m.PropertyManagement, new { @class = "form-control required money", @placeholder = "Insira o Valor Total (x12) " })
                                                            @Html.ValidationMessageFor(c => c.PropertyManagement)
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Administration Fee *</label>
                                                            @Html.TextBoxFor(m => m.AdministrationFee, new { @class = "form-control required money", @placeholder = "Insira o Valor (x12)" })
                                                            @Html.ValidationMessageFor(c => c.AdministrationFee)
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Outras despesas</label>
                                                            @Html.TextBoxFor(m => m.OutrasDespesas, new { @class = "form-control money", @placeholder = "Outras despesas" })
                                                            @Html.ValidationMessageFor(c => c.OutrasDespesas)
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Dividend Yeld *</label>
                                                            @Html.TextBoxFor(m => m.DividendYeld, new { @class = "form-control required money", @placeholder = "Insira o Valor" })
                                                            @Html.ValidationMessageFor(c => c.DividendYeld)
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3" style="display:none">
                                                        <div class="form-group">
                                                            <label>Rentabilidade % *</label>
                                                            @Html.TextBoxFor(m => m.percentRentabilidade, new { @style = "background: #f7ff84c2;    border: 1px solid #777952c2;", @class = "form-control required percent", @placeholder = "Insira o Valor" })
                                                            @Html.ValidationMessageFor(c => c.percentRentabilidade)
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3" style="display:none">
                                                        <div class="form-group">
                                                            <label>Performance % *</label>
                                                            @Html.TextBoxFor(m => m.performance, new { @style = "background: #f7ff84c2;    border: 1px solid #777952c2;", @class = "form-control required percent", @placeholder = "Insira o Valor" })
                                                            @Html.ValidationMessageFor(c => c.performance)
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Observação despesas</label>
                                                            @Html.TextBoxFor(m => m.ObservacaoOutras, new { @class = "form-control", @placeholder = "Descrição" })
                                                            @Html.ValidationMessageFor(c => c.ObservacaoOutras)
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class=" row" style="margin-top:35px">
                                                    <div class="col-lg-12" style="text-align:center">
                                                        <span style="font-size: 25px;">Histórico</span>
                                                    </div>
                                                </div>
                                                <div class=" row" style="margin-top:10px">
                                                    @if (Model._BensBaseCalculoHistorico != null && Model._BensBaseCalculoHistorico.Count() > 0)
                                                    {
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-bordered table-hover  dataTables-example" id="table-historico">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Mes/Ano</th>
                                                                        <th>Rent</th>
                                                                        <th>Hoa</th>
                                                                        <th>Property Tax Provision</th>
                                                                        <th>Administration Fee</th>
                                                                        <th>Outras Desp.</th>
                                                                        <th>Dividend Yeld</th>
                                                                        @*
                                                                            <th>Rentabilidade %</th>
                                                                            <th>Performance %</th>
                                                                        *@
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model._BensBaseCalculoHistorico)
                                                                    {
                                                                        <tr>
                                                                            <th>@item.iMes/@item.iAno</th>
                                                                            <th>@Convert.ToDecimal(item.Rent).ToString("c")</th>
                                                                            <th>@Convert.ToDecimal(item.Hoa).ToString("c")</th>
                                                                            <th>@Convert.ToDecimal(item.PropertyTaxProvision).ToString("c")</th>
                                                                            <th>@Convert.ToDecimal(item.AdministrationFee).ToString("c")</th>
                                                                            <th>@Convert.ToDecimal(item.OutrasDespesas).ToString("c")</th>
                                                                            <th>@Convert.ToDecimal(item.DividendYeld).ToString("c")</th>
                                                                            @*
                                                                                <th>@Convert.ToDecimal(item.percentRentabilidade).ToString("c")</th>
                                                                                <th>%@Convert.ToDecimal(item.performance)</th>
                                                                            *@
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tab-2" class="tab-pane">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Dia da aquisição*</label>
                                                            @Html.TextBoxFor(m => m._Lucratividade.DtInicio, "{0:MM/dd/yyyy}", new { @class = "form-control  date", @placeholder = " " })
                                                            @Html.ValidationMessageFor(c => c._Lucratividade.DtInicio)
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Dia de venda *</label>
                                                            @Html.TextBoxFor(m => m._Lucratividade.DtFim, "{0:MM/dd/yyyy}", new { @class = "form-control  date", @placeholder = " " })
                                                            @Html.ValidationMessageFor(c => c._Lucratividade.DtFim)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Lucro Liquido *</label>
                                                            @Html.TextBoxFor(m => m._Lucratividade.LucroLiquido, new { @class = "form-control money", @placeholder = " " })
                                                            @Html.ValidationMessageFor(c => c._Lucratividade.LucroLiquido)
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>Valor venda liquido *</label>
                                                            @Html.TextBoxFor(m => m._Lucratividade.ReceitaBruta, new { @class = "form-control money", @placeholder = " " })
                                                            @Html.ValidationMessageFor(c => c._Lucratividade.ReceitaBruta)
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3" style="display:none">
                                                        <div class="form-group">
                                                            <label>Valor *</label>
                                                            @Html.TextBoxFor(m => m._Lucratividade.Valor, new { @class = "form-control  money", @placeholder = " ", @value = "0" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*
                                            <div id="tab-3" class="tab-pane">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-lg-3">
                                                            <div class="form-group">
                                                                <label>Data Início *</label>
                                                                @Html.TextBoxFor(m => m._Rentabilidade.DtInicio, new { @class = "form-control required date", @placeholder = " " })
                                                                @Html.ValidationMessageFor(c => c._Rentabilidade.DtInicio)
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="form-group">
                                                                <label>Data Fim *</label>
                                                                @Html.TextBoxFor(m => m._Rentabilidade.DtFim, new { @class = "form-control required date", @placeholder = " " })
                                                                @Html.ValidationMessageFor(c => c._Rentabilidade.DtFim)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-3">
                                                            <div class="form-group">
                                                                <label>Lucro Liquido *</label>
                                                                @Html.TextBoxFor(m => m._Rentabilidade.LucroLiquido, new { @class = "form-control required money", @placeholder = " " })
                                                                @Html.ValidationMessageFor(c => c._Rentabilidade.LucroLiquido)
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="form-group">
                                                                <label>Capital Investido *</label>
                                                                @Html.TextBoxFor(m => m._Rentabilidade.CapitalInvestido, new { @class = "form-control required money", @placeholder = " " })
                                                                @Html.ValidationMessageFor(c => c._Rentabilidade.CapitalInvestido)
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="form-group">
                                                                <label>Valor *</label>
                                                                @Html.TextBoxFor(m => m._Rentabilidade.Valor, new { @class = "form-control required money", @placeholder = " " })
                                                                @Html.ValidationMessageFor(c => c._Rentabilidade.Valor)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        *@
                                        <div id="tab-4" class="tab-pane">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-12" style="text-align:center">
                                                        <script type="text/template" id="qq-template">
                                                            <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
                                                                <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                                                                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
                                                                </div>
                                                                <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                                                                    <span class="qq-upload-drop-area-text-selector"></span>
                                                                </div>
                                                                <div class="qq-upload-button-selector qq-upload-button">
                                                                    <div>Selecione</div>
                                                                </div>
                                                                <span class="qq-drop-processing-selector qq-drop-processing">
                                                                    <span>Processing dropped files...</span>
                                                                    <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                                                                </span>
                                                                <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                                                                    <li>
                                                                        <div class="qq-progress-bar-container-selector">
                                                                            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                                                                        </div>
                                                                        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                                                                        <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                                                                        <span class="qq-upload-file-selector qq-upload-file"></span>
                                                                        <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                                                                        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                                                                        <span class="qq-upload-size-selector qq-upload-size"></span>
                                                                        <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                                                                        <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                                                                        <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                                                                        <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                                                                    </li>
                                                                </ul>
                                                                <dialog class="qq-alert-dialog-selector">
                                                                    <div class="qq-dialog-message-selector"></div>
                                                                    <div class="qq-dialog-buttons">
                                                                        <button type="button" class="qq-cancel-button-selector">Close</button>
                                                                    </div>
                                                                </dialog>
                                                                <dialog class="qq-confirm-dialog-selector">
                                                                    <div class="qq-dialog-message-selector"></div>
                                                                    <div class="qq-dialog-buttons">
                                                                        <button type="button" class="qq-cancel-button-selector">No</button>
                                                                        <button type="button" class="qq-ok-button-selector">Yes</button>
                                                                    </div>
                                                                </dialog>
                                                                <dialog class="qq-prompt-dialog-selector">
                                                                    <div class="qq-dialog-message-selector"></div>
                                                                    <input type="text">
                                                                    <div class="qq-dialog-buttons">
                                                                        <button type="button" class="qq-cancel-button-selector">Cancel</button>
                                                                        <button type="button" class="qq-ok-button-selector">Ok</button>
                                                                    </div>
                                                                </dialog>
                                                            </div>

                                                        </script>
                                                        <div id="uploader"></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-10 col-lg-offset-1">
                                                        <div class="ibox">
                                                            <h4 class="text-center m">
                                                                Imagens do Bem
                                                            </h4>
                                                            <div class="slick_demo_1">
                                                                @{
                                                                    var iContador = 0;
                                                                    foreach (var item in Model._Imagens)
                                                                    {
                                                                        iContador = iContador + 1;
                                                                        <div>
                                                                            <div class="ibox-content">
                                                                                <h2>#@iContador</h2>
                                                                                <span onclick="fnRemoveImagem(@item.Id)" class="btn btn-danger">Remover</span>
                                                                                <p>
                                                                                    <center>
                                                                                        <img src="@item.PathLocationIIS" style="width:300px; height:300px" />
                                                                                    </center>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
