﻿@model Presentation.Helpers.ResponseJson
@{
    ViewBag.Title = "Index";

    IEnumerable<Presentation.Models._2BTrustModel.BensModel> listModel = (IEnumerable<Presentation.Models._2BTrustModel.BensModel>)Model.objetoRetorno;


    var grpOrderedYr = listModel.GroupBy(
   bens => bens._Pool.Nome).OrderBy(areas => areas.Key);




}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <div class="col-lg-6">
            <h2>Bens</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="../Home">Home</a>
                </li>
                <li>
                    <a>Financeiro ADM</a>
                </li>
                <li class="active">
                    <strong>Imóveis</strong>
                </li>
            </ol>
        </div>
    </div>
</div>


@if (Model.statusRetorno != "success")
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem de Imóveis  </h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">

                        <span> @Model.statusRetorno</span>

                    </div>
                </div>
            </div>
        </div>
    </div>



}
else
{

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem de Imóveis  </h5>
                        <div class="ibox-tools">
                            @*<button class="btn btn-primary" type="button" id="btnVisaoGeralAdm" onclick="btnVisaoGeralAdm()"> Visão Geral</button>*@
                            <button class="btn btn-success " type="button" id="btnNovo" onclick="btnNovo()">  Novo</button>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">

                            @foreach (var bens in grpOrderedYr)
                            {
                                <div class="row">
                                    <div class="col-lg-12" style=" padding: 20px; ">
                                        <span style="    font-size: 20px;    text-decoration: underline">@bens.Key</span><br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <table class="table table-striped table-bordered table-hover dataTables-example">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Nome</th>
                                                    <th>Capital Investido</th>
                                                    <th>Tipo</th>
                                                    <th>Reformas</th>
                                                    <th>Ação</th>
                                                    <th>Data Inclusão</th>
                                                    <th>Opções</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in bens)
                                                {

                                                    var sTyle = "";
                                                    if(item.IdStatus!=1)
                                                    { sTyle = "text-decoration: line-through;color: #ca6b6b;"; }

                                                <tr class="gradeX" style="@sTyle">

                                                    <td>@item.Id</td>
                                                    <td>@item.Nome</td>
                                                    <td>
                                                        @{

                                                            <span>  US$ @Convert.ToDecimal(item.CapitalInvestido).ToString("#,##0.00")   </span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @{

                                                            <span> @item.TipoBem </span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @{

                                                            <span>  US$ @Convert.ToDecimal(item.Custos).ToString("#,##0.00")   </span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @{

                                                             <span>  @(item._BensAcao != null ? item._BensAcao.CodigoAcao : string.Empty)   </span>
                                                        }
                                                    </td>
                                                    <td>@item.DtInclusao.ToString("MM/dd/yyyy")</td>
                                                    <td>
                                                        <button class="btn btn-info " type="button" onclick="btnEdit('@item.Id')"> Editar</button>
                                                        @if (item.IdStatus == 1)
                                                        {
                                                            <button class="btn btn-danger " onclick="btnDeletar('@item.Id')" type="button" idbem="@item.Id"> Deletar</button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-success " onclick="btnAtivar('@item.Id')" type="button" idbem="@item.Id">  Ativar</button>
                                                        }
                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                                <hr />
                            }

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>

    function btnVisaoGeralAdm() {
        showLoading('Acessando...');
        window.location = '../BensVisaoGeral/Index'
    }

    function btnEdit(idBEm) {
        showLoading('Acessando...');
        window.location = '../Bens/Bem?idBem=' + idBEm
    }

    function btnNovo() {
        showLoading('Acessando...');
        window.location = '../Bens/Bem'
    }

    function btnAtivar(idBem) {

        showLoading('Processando...');
        $.ajax({
            url: '../Bens/Ativar',
            type: 'POST',
            data: { idBem: idBem },
            beforeSend: function () {

            },
            onsuccess: function () { },
            success: function (result) {
                if (result.statusRetorno == 'success') {
                    hideLoading();
                    swal("Perfeito", "Item ativado com sucesso!", "success");

                    setTimeout(function () {
                        window.location = "../Bens";
                    }, 2000);

                }
                else {
                    hideLoading();
                    swal("Atenção", result.statusRetorno, "error");
                }
            }
        });

    }

    function btnDeletar(idBem) {

        showLoading('Processando...');
        $.ajax({
            url: '../Bens/Desativar',
            type: 'POST',
            data: { idBem: idBem },
            beforeSend: function () {

            },
            onsuccess: function () { },
            success: function (result) {
                if (result.statusRetorno == 'success') {
                    hideLoading();
                    swal("Perfeito", "Item deletado com sucesso!", "success");

                    setTimeout(function () {
                        window.location = "../Bens";
                    }, 2000);

                }
                else {
                    hideLoading();
                    swal("Atenção", result.statusRetorno, "error");
                }
            }
        });

    }

</script>