﻿@model Presentation.Helpers.ResponseJson
@{
    ViewBag.Title = "Index";


}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Áreas</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Administrativo</a>
            </li>
            <li class="active">
                <strong>Grupos x Ações</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

@if (Model.statusRetorno != "success")
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem de Áreas do Sistema</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">

                        <span> @Model.statusRetorno</span>

                    </div>
                </div>
            </div>
        </div>
    </div>



}
else
{

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem de Áreas do Sistema</h5>
                        <div class="ibox-tools"> 
                        </div>
                    </div>
                    <div class="ibox-content">

                        @foreach (var item in (IEnumerable<Presentation.Models._2BTrustModel.GruposModel>)Model.objetoRetorno)
                        {
                            IEnumerable<Presentation.Models._2BTrustModel.GrupoXActionsModel> listModel = (IEnumerable<Presentation.Models._2BTrustModel.GrupoXActionsModel>)item._GruposActions;

                            <div class="row">
                                <div class="col-lg-12" style=" padding: 20px; ">
                                    <span style="    font-size: 18px;    text-decoration: underline">@item.Nome</span><br />
                                </div>
                            </div>
                            
                            
                            var grpOrderedYr = listModel.GroupBy(areas => areas.NomeControle).OrderBy(areas => areas.Key);
                            foreach (var areas in grpOrderedYr)
                            {
                                <div class="row">
                                    <div class="col-lg-12" style=" padding: 20px; ">
                                        <span style="    font-size: 18px; color:#267c74">@areas.Key</span><br />
                                    </div>
                                </div>


                                var grpOrderedYr2 = areas.GroupBy(areas2 => areas2.NomeAction).OrderBy(areas2 => areas2.Key);
                                <div class="row">
                                    @foreach (var areas3 in grpOrderedYr2)
                                    {
                                        var fChecked = "";
                                        if (@areas3.FirstOrDefault().Exist > 0)
                                        {
                                            fChecked = "checked";
                                        }
                                        <div class="col-lg-1">
                                            <div class="switch">
                                                <div class="onoffswitch">

                                                    <input type="checkbox" @fChecked class="onoffswitch-checkbox" onchange="fnChangeSwitch(@areas3.FirstOrDefault().IdAcao,@item.Id)" id="chkSw_@item.Nome@areas3.FirstOrDefault().IdAcao">
                                                    <label class="onoffswitch-label" for="chkSw_@item.Nome@areas3.FirstOrDefault().IdAcao">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <span style="font-size: 18px; color:#267c74">@areas3.Key</span> - @areas3.FirstOrDefault().Exist<br />


                                        </div>

                                    }
                                </div>

                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

}

<script>
    var elem = document.querySelector('.js-switch');
    var switchery = new Switchery(elem, { color: '#1AB394' });


    function fnChangeSwitch(idAcao, idGrupo) {


        showLoading('Processando...');
        $.ajax({
            url: '../AcaoxGrupo/SetAcaoGrupo',
            type: 'POST',
            data: { idGrupo: idGrupo, idAcao: idAcao },
            beforeSend: function () {

            },
            onsuccess: function () { },
            success: function (result) {
                if (result.statusRetorno == 'success') {
                    hideLoading();
                    swal("Perfeito", "Ação alterada com sucesso!", "success");
                }
                else {
                    hideLoading();
                    swal("Atenção", result.statusRetorno, "error");
                }
            }
        });
    }

</script>
