﻿@model Presentation.Helpers.ResponseJson
@{
    ViewBag.Title = "Index";
    IEnumerable<Presentation.Models._2BTrustModel.ComprovanteDepositoModel> modelDes = Model.objetoRetorno;
    var totalAprovados = modelDes.Where(c => c.IdStatus == Domain.Enuns.EnumStatusCarteira.Aprovado).AsEnumerable();
    var totalAguardando = modelDes.Where(c => c.IdStatus == Domain.Enuns.EnumStatusCarteira.Aguardando).AsEnumerable();
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Depósitos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Depósitos ADM</a>
            </li>
            <li class="active">
                <strong>Validar</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


@if (Model.statusRetorno != "success")
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem dos depósitos realizados</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">

                        <span> @Model.statusRetorno</span>

                    </div>
                </div>
            </div>
        </div>
    </div>



}
else
{


    <div class="row wrapper border-bottom white-bg page-heading" style="margin-top: 10px; padding: 10px;">

       
        <div class="col-lg-3">
            <span class="label label-info"> </span><span> @totalAguardando.Sum(c => c.Valor).ToString("c").Replace("R$", "US$") aguardando</span>
        </div>
        <div class="col-lg-3">

        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        <div id="dvContent">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Listagem dos depósitos à serem validados</h5>
                            
                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Cliente</th>
                                            <th>Data</th>
                                            <th>Status</th>
                                            <th>Valor</th>
                                            <th>Opções</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.objetoRetorno)
                                        {
                                            <tr class="gradeX">

                                                <td>@item.Id</td>
                                                <td>@item.NomeCliente</td>
                                                <td style="text-align:center">@item.DtInclusao.ToString("MM/dd/yyyy")</td>
                                                <td style="text-align:center; font-size:13px!important">
                                                    @{
                                            if (item.IdStatus == Domain.Enuns.EnumStatusCarteira.Aguardando)
                                            {
                                                <span style="text-align:center; font-size:13px!important" class="label label-info">Aguardando</span>
                                            }
                                            else if (item.IdStatus == Domain.Enuns.EnumStatusCarteira.Processando)
                                            {
                                                <span style="text-align:center; font-size:13px!important" class="label label-warning">Processando</span>
                                            }
                                            else if (item.IdStatus == Domain.Enuns.EnumStatusCarteira.Aprovado)
                                            {
                                                <span style="text-align:center; font-size:13px!important" class="label label-success">Aprovado</span>
                                            }
                                            else if (item.IdStatus == Domain.Enuns.EnumStatusCarteira.Recusado)
                                            {
                                                <span style="text-align:center; font-size:13px!important" class="label label-danger">Recusado/Cancelado</span>
                                            }
                                                    }
                                                </td>

                                                <td>@item.Valor.ToString("c").Replace("R$", "US$")</td>
                                                <td>
                                                    @{
        if (string.IsNullOrEmpty(item.ComprovantePathLocation))
        {
                                                <button type="button" class="btn btn-outline btn-primary" disabled style="color:#ffffff" onclick="fnAnexar(@item.Id)">Pendente de Envio</button>
}
else
{
                                                <button type="button" class="btn btn-outline btn-success" onclick="fnValidar(@item.Id)">Validar</button>

}
                                                <button type="button" class="btn btn-outline btn-danger" onclick="fnDeletar(@item.Id)">x</button>
                                                    }
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div id="dvAderir" style="display:none">
            @{Html.RenderPartial("_loading");}
            @using (Html.BeginForm("Depositar", "Caretira", FormMethod.Post, new { id = "fmDepositar", @autocomplete = "off", @enctype = "multipart/form-data" }))
            {
                <div class="col-md-3">

                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Depositar</h5>
                        </div>
                        <div class="ibox-content">
                            <span>
                                Saldo na Carteira
                            </span>
                            <h2 class="font-bold">
                                @Presentation.Helpers.SessionManager.usuarioLogado._Carteira.Saldo.ToString("c").Replace("R$", "US$")
                            </h2>
                            <span>
                                Valor Depósito
                            </span>
                            <h2 class="font-bold">
                                <input type="hidden" name="idCarteira" id="idCarteira" value="@Presentation.Helpers.SessionManager.usuarioLogado._Carteira.Id">
                                <div class="input-group m-b"><span class="input-group-addon">US$</span> <input type="text" name="mValorLancamento" id="mValorLancamento" class="money form-control"> </div>
                            </h2>

                            <hr>
                            <span class="text-muted small">
                                *Atenção. Efetue o lançamento do depósito no valor exato de sua transferência. Assim que efetuar a transferência, nos envie o comprovante da transação.
                            </span>
                            <div class="m-t-sm">
                                <div class="btn-group">
                                    <a href="#" onclick="fnDepositar()" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Depositar</a>
                                    <a href="#" class="btn btn-white btn-sm"> Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Support</h5>
                        </div>
                        <div class="ibox-content text-center">



                            <h3><i class="fa fa-phone"></i> +43 100 783 001</h3>
                            <span class="small">
                                Please contact with us if you have any questions. We are avalible 24h.
                            </span>


                        </div>
                    </div>


                </div>

            }
        </div>
    </div>

}

    <script>

    function fnValidar(idComprovante) {

        showLoading("One Moment Please",'Loading...');
        window.location = '../Depositos/ValidarComprovante?id=' + idComprovante;
    }


    function fnDeletar(idComprovante) {

        swal({
            title: "Deletar Comprovante?",
            text: "Deseja realmente deletar esse comprovante!",
            type: "error",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Sim, Deletar!",
            closeOnConfirm: false
        }).then((result) => {

                showLoading('Processando...');
                $.ajax({
                    url: '../Depositos/DeletarComprovante',
                    type: 'POST',
                    data: { idComprovante: idComprovante },
                    beforeSend: function () {

                    },
                    onsuccess: function () { },
                    success: function (result) {
                        hideLoading();
                        if (result.statusRetorno == 'success') {
                          
                            swal("Perfeito", "Item deletado com sucesso!", "success");

                            setTimeout(function () {
                                window.location = "../Depositos/Validar";
                            }, 2000);

                        }
                        else {
                            hideLoading();
                            swal("Atenção", result.statusRetorno, "error");
                        }
                    }
                });

            });


    }

    </script>
