﻿@model Presentation.Helpers.ResponseJson
@{
    ViewBag.Title = "Index";
    Domain.Entities._2BTrust.ComprovanteDeposito dto = Model.objetoRetorno;

    string localPathIIS = System.Web.Configuration.WebConfigurationManager.AppSettings["localPathIIS"];

}
<link href="~/assets/fine-uploader/fine-uploader-gallery.css" rel="stylesheet" />
<link href="~/assets/fine-uploader/fine-uploader.css" rel="stylesheet" />
<script src="~/assets/fine-uploader/fine-uploader.core.js"></script>
<script src="~/assets/fine-uploader/fine-uploader.js"></script>
<script src="~/assets/fine-uploader/jquery.fine-uploader.js"></script>

<link href="~/assets/css/plugins/slick/slick.css" rel="stylesheet">
<link href="~/assets/css/plugins/slick/slick-theme.css" rel="stylesheet">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Carteira</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Carteira</a>
            </li>
            <li>
                <a href="../Carteira/Depositos">Depósitos</a>
            </li>
            <li class="active">
                <strong>Comprovante</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


@if (Model.statusRetorno != "success")
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Anexar comprovante de trasnferência/depósito</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">

                        <span> @Model.statusRetorno</span>

                    </div>
                </div>
            </div>
        </div>
    </div>



}
else
{
    <div class="wrapper wrapper-content animated fadeInRight">


        <div id="dvAnexos" class="animated pulse">
            @using (Html.BeginForm("AnexarComprovante", "Caretira", FormMethod.Post, new { id = "fmDepositar", @autocomplete = "off", @enctype = "multipart/form-data" }))
            {
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-9"><h2>Transação #@dto.Id</h2> </div>
                            <div class="col-lg-3" style=" margin-top: 20px;">
                                <button class="btn btn-danger " style="float:right" type="button" id="btnCancelar" onclick="btnVoltar()"> Voltar </button>
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <h3>Cliente</h3>
                                    <h4 style="color:#9a1b1b">@dto.NomeCliente</h4>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <h3>Data Transação</h3>
                                    <h4 style="color:#9a1b1b">@dto.DtInclusao.ToString("MM/dd/yyyy - HH:mm:ss")</h4>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <h3>Valor Transação</h3>
                                    <h4 style="color:#9a1b1b">@dto.Valor.ToString("c").Replace("R$", "US$")</h4>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <h3>Data Aprovação</h3>
                                    <input type="text" name="DtInclusaoAdm" id="DtInclusaoAdm" class="date form-control">
                                </div>
                            </div>
                            <div class="col-lg-1" style="padding: 30px;">
                                <div class="form-group">
                                    <button class="btn btn-primary" type="button" onclick="valida(@dto.Id)"><i class="fa fa-check"></i></button>
                                </div>
                            </div>
                            <div class="col-lg-1" style="padding: 30px;">
                                <div class="form-group">
                                    <button class="btn btn-danger" type="button" onclick="reprova(@dto.Id)"><i class="fa fa-close"></i></button>
                                </div>
                            </div>

                        </div>
                    </div>

                    @{

                        if (!string.IsNullOrEmpty(dto.ComprovantePathLocation))
                        {

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <hr />
                                        <h3>Comprovante de transferência/depósito!</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <img src="@localPathIIS@dto.ComprovantePathLocationIIS" />
                                </div>
                            </div>
                        }
                        else
                        {


                        }

                    }

                </div>


            }

        </div>

    </div>

}

<script>

    function btnVoltar() {
        window.location = '../Carteira/Depositos'
    }

    function valida(id) {

        var dt = $("#DtInclusaoAdm").val();

        if (dt == "") {

            hideLoading();
            swal("Atenção", "Preencha o campo data!", "error");
        }
        else {


            showLoading("Efetuando aprovação do comprovante...");
            $.ajax({
                url: '../Depositos/AprovaReprovaComprovante',
                type: 'POST',
                data: { idComprovante: id, fReprovado: false, dtAdm: dt },
                beforeSend: function () {

                },
                onsuccess: function () { },
                success: function (result) {
                    hideLoading();
                    if (result.statusRetorno == 'success') {

               
                        swal({
                            title: "Sucesso",
                            text: "Sua aprovação foi realizada com sucesso!",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "OK",
                            closeOnConfirm: false
                        }).then((result) => {

                                window.location = '../Depositos/Validar'
                            });

                    }
                    else {
                        hideLoading();
                        swal("Atenção", result.statusRetorno, "error");
                    }
                }
            });

        }
    }


    function reprova(id) {
        var dt = $("#DtInclusaoAdm").val();

        if (dt == "") {

            hideLoading();
            swal("Atenção", "Preencha o campo data!", "error");
        }
        else {
            showLoading("Efetuando reprovação do comprovante...");
            $.ajax({
                url: '../Depositos/AprovaReprovaComprovante',
                type: 'POST',
                data: { idComprovante: id, fReprovado: true, dtAdm: dt},
                beforeSend: function () {

                },
                onsuccess: function () { },
                success: function (result) {
                    hideLoading();
                    if (result.statusRetorno == 'success') {

                        swal({
                            title: "Sucesso",
                            text: "Sua reprovação foi realizada com sucesso!",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "OK",
                            closeOnConfirm: false
                        }).then((result) => {

                                window.location = '../Depositos/Validar'
                            });

                    }
                    else {
                        hideLoading();
                        swal("Atenção", result.statusRetorno, "error");
                    }
                }
            });
        }
    }

</script>
