﻿@model IEnumerable<Presentation.Models._2BTrustModel.PessoaInvestimentoPoolsValoresModel>
@{
    Layout = null;
}


<div class="" id="dvDados">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Listagem de Clientes <small> com seus Investimentos</small></h3>

                </div>
                <div class="ibox-content" style="border:none!important;">

                    <div class="row" style="margin-top:20px">
                        <div class="col-md-3">
                            <span class="label label-info"> </span><span><b>Total em carteira:</b> @Model.Sum(c => c.SaldoCarteira).ToString("c")</span>
                        </div>
                        <div class="col-md-3">
                            <span class="label label-info" style="background-color: #4e62ef;"> </span><span><b>Total investido:</b> @Model.Sum(c => c.ValorInvestido).ToString("c")</span>
                        </div>
                        <div class="col-md-3">
                            <span class="label label-info"  style="background-color: #84c33e;"> </span><span><b>Total cotas:</b> @Model.Sum(c => (int)c.Cotas)</span>
                        </div>
                        <div class="col-md-3">
                            <span class="label label-info"> </span><span><b>Total dividendYield:</b> @Model.Sum(c => c.DividendYeld).ToString("c")</span>
                        </div>
                    </div>

                    <div class="row" style="margin-top:20px">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example-NoSort dataTables-example">
                                <thead>
                                    <tr>
                                        <th style="background:#dddede; color:#635858">Cliente</th>
                                        <th style="background:#dddede; color:#635858">Investimento</th>
                                        <th style="background:#dddede; color:#635858">Saldo em carteira</th>
                                        <th style="background:#dddede; color:#635858">Valor investido</th>
                                        <th style="background:#dddede; color:#635858">Quantidade de cotas</th>
                                        <th style="background:#dddede; color:#635858">Dividend Yield</th>
                                        <th style="background:#dddede; color:#635858"> Statement</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <th>@item.NomeCliente</th>
                                        <th>@item.NomePool</th>
                                        <th>@item.SaldoCarteira.ToString("c")</th>
                                        <th>@item.ValorInvestido.ToString("c")</th>
                                        <th>@item.Cotas</th>
                                        <th>@item.DividendYeld.ToString("c")</th>
                                        <th>

                                            <input type="button" value="Statement" style="
                                                                    z-index: 9999;  height: 32px;    padding: 0.5em 1em;    border: 1px solid #509090;   cursor: pointer;
                                                                 font-size: 0.88em;   line-height: 1.6em;   color: #3c3c3c;  padding: 0.5em 1em;  border: 1px solid #509090;
                                                                 border-radius: 2px;  cursor: pointer;  font-size: 0.88em;  color: #3c3c3c;  background: #fff;"
                                                   onclick="window.location='../Reports/CreatePdfStatementNow?idPEssoa=@item.idPessoa&type=Full'; swal('Success','Statement in proccess. One Moment Please','success')" />



                                        </th>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#btnCloseInvestidores").on("click", function () {

        $("#dvDados").remove()
    });



</script>