﻿@model Presentation.Helpers.ResponseJson
@{

    var sTyleBarMes = "";
    var percent = 0;
    if (Presentation.Helpers.SessionManager.usuarioLogado._InformacoesAdminHome.SaldoTotalClienteEmCarteira > 0)
    {
        percent = (int)((Presentation.Helpers.SessionManager.usuarioLogado._InformacoesAdminHome.SaldoTotalClienteEmInvestimentos * 100) / Presentation.Helpers.SessionManager.usuarioLogado._InformacoesAdminHome.SaldoTotalClienteEmInvestimentos_e_Carteira);
    }

    var listaOrdenaAno = (IEnumerable<Presentation.Models._2BTrustModel.LancamentosModel>)ViewBag.modelLancamento;
    listaOrdenaAno = listaOrdenaAno.OrderBy(c => c.DtLancamento);
}



<style>
    .iboxclick:hover {
        box-shadow: 1px -1px 5px 0px #bfb0b0;
    }
</style>

<div class="container">
    <div class="row">

        <div class="row" style="border: 1px solid #d4d4d4;  margin-bottom:50px;    background: #fbfbfb;">
            <div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#dash" aria-controls="home" role="tab" data-toggle="tab">Dashboard</a></li>
                    <li role="presentation"><a href="#clinvest" aria-controls="profile" onclick="openInvest()" role="tab" data-toggle="tab">Clientes Investindo</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" style="padding-top:15px" class="tab-pane active" id="dash">

                        <div class="col-md-4">
                            <div class="ibox float-e-margins" style="    box-shadow: 1px 4px 13px 0px #c1c1c1;">
                                <div class="ibox-title" style="background:#fbfbfb!important;background:#fbfbfb!important;     border-bottom: 2px solid #0073aa;">
                                    @*<span class="label label-success pull-right">Current</span>*@
                                    <h3 style="font-size:18px!important">Total saldo disponível</h3>
                                </div>
                                <div class="ibox-content" style="border:none!important; background:#fbfbfb!important    ; height: 150px;    padding-top: 40px;">
                                    <h1 style="font-weight: 600;  color: #3a3939; height:50px" class="no-margins">@Presentation.Helpers.SessionManager.usuarioLogado._InformacoesAdminHome.SaldoTotalClienteEmCarteira.ToString("c").Replace("R$", "US$")</h1>
                                    @*  <div class="stat-percent font-bold text-success"> <i class="fa fa-bolt"></i></div>*@

                                    <small style="color:#13b537; font-weight:600; font-size:14px">Livre para Investimento</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 hover">

                            <div class="ibox float-e-margins" style="    box-shadow: 1px 4px 13px 0px #c1c1c1;">
                                <div class="ibox-title" style="background:#fbfbfb!important;      border-bottom: 2px solid #0073aa;">
                                    @*<span class="label label-success pull-right">Current</span>*@
                                    <h3 style="font-size:18px!important">Saldo Total</h3>
                                </div>
                                <div class="ibox-content" style="border:none!important; background:#fbfbfb!important;     height: 150px;    padding-top: 40px;">
                                    <h1 style="font-weight: 600;  color: #3a3939; height:50px" class="no-margins">@Presentation.Helpers.SessionManager.usuarioLogado._InformacoesAdminHome.SaldoTotalClienteEmInvestimentos_e_Carteira.ToString("c").Replace("R$", "US$")</h1>
                                    @*<div class="stat-percent font-bold text-success">@percent% investido <i class="fa fa-bolt"></i></div>*@
                                    <small style="color:#13b537; font-weight:600;  font-size:14px">Livre para movimentação + Investments</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="ibox float-e-margins" style="    box-shadow: 1px 4px 13px 0px #c1c1c1;">
                                <div class="ibox-title" style="background:#fbfbfb!important;      border-bottom: 2px solid #0073aa;">
                                    @*<span class="label label-success pull-right">Current</span>*@
                                    <h3 style="font-size:18px!important">Saldo em Investimentos</h3>
                                </div>
                                <div class="ibox-content" style="border:none!important; background:#fbfbfb!important;     height: 150px;    padding-top: 40px;">
                                    <h1 style="font-weight: 600;  color: #3a3939; height:50px" class="no-margins">@Presentation.Helpers.SessionManager.usuarioLogado._InformacoesAdminHome.SaldoTotalClienteEmInvestimentos.ToString("c").Replace("R$", "US$")</h1>
                                    @*<div class="stat-percent font-bold text-success">  <i class="fa fa-bolt"></i></div>*@
                                <small style="color:#13b537; font-weight:600;  font-size:14px">Total em Investimentos</small>
                                </div>
                            </div>
                        </div>

                        @if (Presentation.Helpers.SessionManager.usuarioLogado._ListaRentabilidade.Count() > 0)
                        {



                            foreach (var item in (IEnumerable<Presentation.Models._2BTrustModel.PoolBensModel>)ViewBag.poolBensInvestimentoAtivo)
                            {

                                <div class="col-md-4" style="; z-index: 1000;  margin-top:40px">
                                    <div class="ibox float-e-margins" style="    box-shadow: 1px 4px 13px 0px #c1c1c1;">
                                        <div class="ibox-title" style="background:#fbfbfb!important;      border-bottom: 2px solid #0073aa;">
                                            <span class="label label-success pull-right">Fundo</span>
                                            <h3 style="font-size:18px!important">@item.Nome</h3>
                                        </div>
                                        <div class="ibox-content" style="border:none!important;background:#fbfbfb!important;      height: 150px;    padding-top: 40px;">
                                            <div class="row" style="text-align:left;  text-align:center;    margin-bottom: 20px;    padding-left: 15px;">

                                                <center><span style="font-size:30px">@item._Bens.Sum(c => Convert.ToDecimal(c.CapitalInvestido)).ToString("c")</span></center>
                                                <center><span style="font-size:14px">Valor do fundo</span></center>
                                                <center><span style="font-size:14px">Cotas disponíveis: @item.CotasDisponiveis</span></center>

                                            </div>

                                        </div>
                                    </div>
                                </div>


                                var listaRentabilidadeIndividual = item._PoolsBensRentabilidadePerformance;




                                <div class="modal fade" id="modalHitorical-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static">
                                    <div class="modal-dialog" role="document" style="    margin-left: 36%;    margin-top: 7%;">
                                        <div class="modal-content" style="width:520px">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h2 class="modal-title text-center">Historical Performance</h2>
                                            </div>
                                            <div class="modal-body">

                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="card">
                                                            <div class="row">

                                                                <div class="col-lg-12" style="text-align:center">
                                                                    <h3 style="color:#0073aa"> @item.Nome</h3>



                                                                    @foreach (var iteRenm in listaRentabilidadeIndividual.Where(c => c.flgAtivo).OrderBy(c => c.iMes).OrderBy(c => c.iAno).AsEnumerable())
                                                                    {

                                                                        var intPercentGrafic1 = iteRenm.mRentabilidade * 100;

                                                                        <div class="row" style=" margin-top:15px;">
                                                                            <div class="col-md-8" style="margin-bottom:-25px">
                                                                                <div class="progress" style="background-color:#fff!important">
                                                                                    <div style="backgroud:#eee!important; width: @intPercentGrafic1%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="@intPercentGrafic1" role="progressbar" class="progress-bar progress-bar-success">
                                                                                        <span class="sr-only">35% Complete(success)</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <span style="font-size: 14px;  font-weight: 600;">@iteRenm.iMes.ToString().PadLeft(2, '0')-@iteRenm.iAno - @iteRenm.mRentabilidade.ToString("#0.00")%</span>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                </div>




                                                            </div>
                                                            <hr />
                                                            <div class="row">
                                                                <div class="col-lg-12">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <style>
                                                    .disabled {
                                                        pointer-events: none;
                                                        cursor: default;
                                                    }
                                                </style>


                                            </div>
                                        </div>
                                    </div>
                                </div>





                                <div class="col-md-4" style=" margin-top:40px">
                                    <div class="ibox float-e-margins" style="    box-shadow: 1px 4px 13px 0px #c1c1c1;">
                                        <div class="ibox-title" style="background:#fbfbfb!important;     border-bottom: 2px solid #0073aa;">
                                            @{
                                                var dateCurrentNowMes = DateTime.Now.AddMonths(-1);

                                                decimal percenteMEsNowMes = 0;

                                                int iMesA = 0;
                                                var listaPercorre = listaRentabilidadeIndividual.Where(c => c.mRentabilidade != null && c.mRentabilidade > 0 && c.flgAtivo && c.flgAtivo).AsEnumerable();

                                                // var listaPercorre = Presentation.Helpers.SessionManager.usuarioLogado._ListaRentabilidade.Where(c => c.percentRentabilidade != null && c.percentRentabilidade > 0).AsEnumerable();
                                                foreach (var ITEM2 in listaPercorre)
                                                {
                                                    if (ITEM2.iMes != iMesA)
                                                    {
                                                        iMesA = ITEM2.iMes;
                                                        percenteMEsNowMes += ITEM2.mRentabilidade;
                                                    }
                                                }


                                                if (percenteMEsNowMes == 0)
                                                {
                                                    <h5>0,00% Historical Performance</h5>
                                                }
                                                else
                                                {
                                                    <span class="label label-success pull-right">@percenteMEsNowMes.ToString("#0.00")%</span>
                                                    <h3 style="font-size:18px!important"> Historical Performance</h3>

                                                }
                                            }

                                        </div>
                                        <div class="ibox-content" style="border:none!important; height:135px; background:#fbfbfb!important;      height: 150px;    padding-top: 25px;">
                                            <div class="row" style="margin-top:-15px">
                                                <h3 style="color:#0073aa">
                                                    <i class="fa fa-angle-down"
                                                       onclick="$('#modalHitorical-@item.Id').modal('show')"
                                                       style="float: right;  margin-top: 20px; cursor: pointer;margin-right: 10px;  font-size: 25px;"></i>
                                                </h3>
                                                @{
                                                    for (int i = 1; i < 6; i++)
                                                    {


                                                        sTyleBarMes = "text-align:center;   height:90px; float:left; background-color:#2fc2c2; margin:5px; padding: 2%; padding-top:10px; color:#fff;     border-top-right-radius: 5px;     border-top-left-radius: 5px;";

                                                        if (i == 1)
                                                        {
                                                            sTyleBarMes = "text-align:center;  height:90px; float:left; background-color:#2fc2c2; margin:5px; margin-left: 20px; padding: 2%; padding-top:10px; color:#fff;    border: 1px solid #bfbfbf;  border-top-right-radius: 5px;     border-top-left-radius: 5px;";

                                                        }

                                                        var dateCurrent = DateTime.Now.AddMonths(-i);

                                                        var percenteMEs = listaRentabilidadeIndividual.Where(c => c.iMes == dateCurrent.Month && c.iAno == dateCurrent.Year).AsEnumerable();

                                                        if (percenteMEs == null || percenteMEs.Count() == 0)
                                                        {
                                                            <div style="@sTyleBarMes; widith:40px!imporant" class=" animated fadeInUp">
                                                                <span>0,00%</span><br /><br /><br /> <br /> <br />
                                                                <span style="color:#2e2e2e">@dateCurrent.ToString("MMM")</span>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div style="@sTyleBarMes" class=" animated fadeInLeft">
                                                                @{

                                                                    var percen1 = (percenteMEs.Where(c => c.mRentabilidade != null && c.mRentabilidade > 0).FirstOrDefault());
                                                                    if (percen1 == null)
                                                                    {

                                                                        <span>0.00%</span><br /><br /><br /> <br /> <br />
                                                                        <span style="color:#2e2e2e">@dateCurrent.ToString("MMM")</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span>@percen1.mRentabilidade.ToString("#0.00")%</span><br /><br /><br /> <br /> <br />
                                                                        <span style="color:#2e2e2e">@dateCurrent.ToString("MMM")</span>
                                                                    }

                                                                }


                                                            </div>
                                                        }
                                                    }
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-md-4" style="; z-index: 1000;  margin-top:40px">
                                    <div class="ibox float-e-margins" style="    box-shadow: 1px 4px 13px 0px #c1c1c1;">
                                        <div class="ibox-title" style="background:#fbfbfb!important;     border-bottom: 2px solid #0073aa;">
                                            @*<span class="label label-success pull-right" style="    background: #fbfbfb;    color: #5e5e5e;    border-bottom: 1px solid #5e5e5e;    font-size: 14px!important;">Year</span>*@
                                            @{
                                                var dateCurrentNowYear = DateTime.Now;

                                                decimal diviDent_ = 0;
                                                decimal capitalTotalInvestido_ = 0;
                                                decimal somaTotalDVCap = 0;
                                                decimal somaPercentagem = 0;
                                                var listAno = listaRentabilidadeIndividual.Where(c => c.iAno == dateCurrentNowYear.Year && c.iMes < dateCurrentNowYear.Month).OrderBy(c => c.iMes).AsEnumerable();

                                                for (int iu = 1; iu <= 12; iu++)
                                                {
                                                    var percentMes = listAno.Where(c => c.iAno == dateCurrentNowYear.Year && c.iMes == iu && c.mRentabilidade != null && c.mRentabilidade > 0 && c.flgAtivo).FirstOrDefault();
                                                    if (percentMes == null)
                                                    { somaPercentagem += 0; }
                                                    else { somaPercentagem += percentMes.mRentabilidade; }
                                                }

                                                if (somaPercentagem == 0)
                                                {

                                                    <h5>0.00% Projected @DateTime.Now.Year</h5>
                                                }
                                                else
                                                {

                                                    somaPercentagem = (somaPercentagem / (dateCurrentNowYear.Month - 1)) * 12;
                                                    <span class="label label-success pull-right">@somaPercentagem.ToString("#0.00")%</span>
                                                    <h3 style="font-size:18px!important"> Projected @DateTime.Now.Year</h3>


                                                }

                                            }
                                        </div>
                                        <div class="ibox-content" style="border:none!important;background:#fbfbfb!important;     margin-top: 2px;      height: 150px;    padding-top: 20px;">

                                            @{
                                                for (int i = 0; i < 3; i++)
                                                {

                                                    var dateCurrent = DateTime.Now.AddYears(-i);

                                                    diviDent_ = 0;
                                                    capitalTotalInvestido_ = 0;
                                                    somaTotalDVCap = 0;

                                                    somaPercentagem = 0;
                                                    int somaMesContado = 0;
                                                    //verifica primeiro ano
                                                    if (i == 0)
                                                    {
                                                        listAno = listaRentabilidadeIndividual.Where(c => c.iAno == dateCurrent.Year && c.iMes < dateCurrent.Month).OrderBy(c => c.iMes).AsEnumerable();
                                                    }
                                                    else
                                                    {
                                                        listAno = listaRentabilidadeIndividual.Where(c => c.iAno == dateCurrent.Year).OrderBy(c => c.iMes).AsEnumerable();
                                                    }
                                                    for (int iu = 1; iu <= 12; iu++)
                                                    {
                                                        var percentMes = listAno.Where(c => c.iAno == dateCurrent.Year && c.iMes == iu && c.mRentabilidade != null && c.mRentabilidade > 0 && c.flgAtivo).FirstOrDefault();
                                                        if (percentMes == null)
                                                        { somaPercentagem += 0; }
                                                        else
                                                        {
                                                            somaMesContado += 1;
                                                            somaPercentagem += percentMes.mRentabilidade;
                                                        }
                                                    }

                                                    if (somaPercentagem == 0)
                                                    {


                                                        <div class="row" style=" margin-top:15px;">

                                                            <div class="col-md-8" style="margin-bottom:-25px">
                                                                <div class="progress">
                                                                    <div style="width: 0%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="35" role="progressbar" class="progress-bar progress-bar-success">
                                                                        <span class="sr-only">35% Complete (success)</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <span>@dateCurrent.Year - 0.00%</span>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        if (i == 0)
                                                        {
                                                            somaPercentagem = (somaPercentagem / (dateCurrentNowYear.Month - 1)) * 12;
                                                        }
                                                        else
                                                        {
                                                            somaPercentagem = (somaPercentagem / (somaMesContado)) * 12;
                                                        }
                                                        var intPercent = somaPercentagem;
                                                        var intPercentGrafic = somaPercentagem * 10;
                                                        <div class="row" style=" margin-top:15px;">
                                                            <div class="col-md-8" style="margin-bottom:-25px">
                                                                <div class="progress" style="background-color:#fbfbfb!important">
                                                                    <div style="backgroud:#eee!important; width: @intPercentGrafic%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="@intPercentGrafic" role="progressbar" class="progress-bar progress-bar-success">
                                                                        <span class="sr-only">35% Complete(success)</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <span>@dateCurrent.Year - @intPercent.ToString("#0.00")%</span>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }


                                        </div>
                                    </div>
                                </div>



                            }


                            <div class="col-md-4" style="; z-index: 1000;  margin-top:40px">
                                <div class="ibox float-e-margins" style="    box-shadow: 1px 4px 13px 0px #c1c1c1;">
                                    <div class="ibox-title" style="background:#fbfbfb!important;      border-bottom: 2px solid #0073aa;">
                                        @*<span class="label label-success pull-right">Payment</span>*@
                                        <h3 style="font-size:18px!important">Accumulated Payment</h3>
                                    </div>
                                    <div class="ibox-content" style="border:none!important;background:#fbfbfb!important;      height: 152px;    padding-top: 40px;">
                                        <div class="row" style="text-align:left;     margin-top: 15px;    margin-bottom: 20px;    padding-left: 15px;">
                                            <center><span style="font-size:30px">@listaOrdenaAno.Sum(c => c.Valor).ToString("c")</span></center>
                                            <center><span style="font-size:14px">Since @listaOrdenaAno.LastOrDefault().DtInclusao.ToString("MM/dd/yyyy")</span></center>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            if (ViewBag.modelLancamento != null)
                            {

                                <div class="col-md-4" style="; z-index: 1000;  margin-top:40px">
                                    <div class="ibox float-e-margins" style="    box-shadow: 1px 4px 13px 0px #c1c1c1;">
                                        <div class="ibox-title" style="background:#fbfbfb!important;      border-bottom: 2px solid #0073aa;">
                                            <span class="label label-success pull-right">Anual</span>
                                            <h3 style="font-size:18px!important">Dividend Yield</h3>
                                        </div>
                                        <div class="ibox-content" style="border:none!important;background:#fbfbfb!important;      height: 152px;    padding-top: 40px;">


                                            @{



                                                var anoCurrent = listaOrdenaAno.FirstOrDefault().DtLancamento.Year;
                                                decimal soma = 0;
                                                foreach (var item in listaOrdenaAno)
                                                {

                                                    if (anoCurrent != item.DtLancamento.Year)
                                                    {


                                                        <div class="row" style="">

                                                            <div class="col-md-12">
                                                                <span>@soma.ToString("c") - <b>@anoCurrent</b></span>
                                                            </div>
                                                        </div>


                                                        anoCurrent = item.DtLancamento.Year;
                                                        soma = 0;
                                                    }

                                                    else
                                                    {
                                                        soma = soma + item.Valor;
                                                    }
                                                }
                                                <div class="row" style=" margin-top: 25px;">
                                                    <span style="margin-left: 10px; font-size: 14px;"><b>Ano Ref: @anoCurrent</b>  -  Dividend Yield: @soma.ToString("c")</span>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>

                            }

                            <div class="col-md-4" style=";margin-left: -1px;   margin-top:40px">
                                <div class="ibox float-e-margins" style="    box-shadow: 1px 4px 13px 0px #c1c1c1;">
                                    <div class="ibox-title" style="background:#fbfbfb!important;     border-bottom: 2px solid #0073aa;">
                                        <span class="label label-success pull-right">Fundos</span>
                                        <h3 style="font-size:18px!important">Profitability</h3>
                                    </div>
                                    <div class="ibox-content" style="border:none!important;background:#fbfbfb!important;      height: 275px;    padding-top: 40px;">
                                        <div class="row" style="text-align:left; text-align:center;     margin-top: 15px;    margin-bottom: 20px;    padding-left: 15px;">
                                            <center> <div id="morris-donut-chart" style="width:200px; height:200px;"></div></center>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }

                    </div>



                    <div role="tabpanel" class="tab-pane" id="clinvest">

                        <div class="row">
                            <div id="dvInserListInvestidores" style="padding-left: 20px; padding-right: 20px;">

                            </div>
                        </div>






                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

<script>

    function openInvest() {
        showLoading("One Moment Please", 'Loading...');
        $.ajax({
            url: '../Home/GetInvestidoresSaldosInvestimentos',
            type: 'POST',
            beforeSend: function () {

            },
            onsuccess: function () { },
            success: function (result) {

                $("#dvInserListInvestidores").html(result);
                hideLoading();
            }
        });
    }


    window.onload = function (event) {

        function goToByScroll(id) {
            // Remove "link" from the ID
            id = id.replace("link", "");
            // Scroll
            $('html,body').animate({
                scrollTop: $("#" + id).offset().top
            },
                'slow');
        }



        $("#btnSaldoInvestCarteira").on("click", function () {

            showLoading("One Moment Please", 'Loading...');
            $.ajax({
                url: '../Home/GetInvestidoresSaldosInvestimentos',
                type: 'POST',
                beforeSend: function () {

                },
                onsuccess: function () { },
                success: function (result) {

                    $("#dvInserListInvestidores").html(result);
                    goToByScroll("dvInserListInvestidores")
                    hideLoading();
                }
            });

        })

        $("#btnSaldoInvest").on("click", function () {
            showLoading("One Moment Please", 'Loading...');
            $.ajax({
                url: '../Home/GetInvestidoresSaldosInvestimentos',
                type: 'POST',
                beforeSend: function () {

                },
                onsuccess: function () { },
                success: function (result) {

                    $("#dvInserListInvestidores").html(result);
                    goToByScroll("dvInserListInvestidores")
                    hideLoading();
                }
            });
        })




        Morris.Donut({
            element: 'morris-donut-chart',
            data: [{ label: "2B Real Estate Long Term", value: 100 }],
            resize: true,
            colors: ['#87d6c6', '#54cdb4', '#1ab394'],
        });

    }

</script>
