﻿
@model Presentation.Helpers.ResponseJson
@{
    ViewBag.Title = "Index";

    var objModel = (Presentation.Models._2BTrustModel.PessoaPoolsInvestidosModel)Model.objetoRetorno;

}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Dividendo para cliente</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Administrativo</a>
            </li>
            <li>
                <a href="../Dividendo">Dividendos</a>
            </li>
            <li class="active">
                <strong>Adicionar Dividendo</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

@if (Model.statusRetorno != "success")
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Inclusão de dividendos para o cliente</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">

                        <span> @Model.statusRetorno</span>

                    </div>
                </div>
            </div>
        </div>
    </div>



}
else
{
    <div class="wrapper wrapper-content animated fadeInRight">

        <div id="dvAnexos" class="animated pulse">

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-9"><h2>Número da conta: #@objModel.IdPessoa.ToString().PadLeft(6, '0')</h2> </div>
                        <div class="col-lg-3" style=" margin-top: 20px;">
                            <button class="btn btn-danger " style="float:right" type="button" id="btnCancelar" onclick="btnVoltar()">  Voltar </button>
                        </div>
                    </div> 

                    <hr />
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <h3>Cliente</h3>
                                <h4 style="color:#9a1b1b">@objModel.NomeCliente</h4>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <h3>Fundo investido</h3>
                                <h4 style="color:#9a1b1b">@objModel.NomePool</h4>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <h3>Cotas</h3>
                                <h4 style="color:#9a1b1b">@objModel.Cotas</h4>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">

                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Data Referência *</label>
                                @Html.TextBox("txtDataReferencia", "", new { @class = "form-control", @placeholder = " " })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Dividendo *</label>
                                @Html.TextBox("txtDividendo", "", new { @class = "form-control money", @placeholder = " " })
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Descrição</label>
                                @Html.TextBox("txtObs", "", new { @class = "form-control", @placeholder = " " })
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group" style="padding:22px">
                                <button class="btn btn-info " type="button" onclick="btnIncluir()" autocomplete="off"> Incluir</button>

                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">

                        <div class="col-lg-12"><h2>Histórico</h2></div>

                        <div class="ibox-content">

                            <div class="table-responsive">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <table class="table table-striped table-bordered table-hover dataTables-example">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Cotas</th>
                                                    <th>Dividendo</th>
                                                    <th>Descrição</th>
                                                    <th>Mês/Ano Ref.</th>
                                                    <th>Data Incusão</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in objModel._Lancamentos)
                                {

                                    <tr class="gradeX" style=" ">
                                        <th>@item.Id</th>
                                        <th>@item.NumParticao</th>
                                        <th>@item.Valor.ToString("c")</th>
                                        <th>@item.Obs</th>
                                        <th>@item.DtLancamento.ToString("MM/yyyy")</th>
                                        <th>@item.DtInclusao</th>


                                    </tr>
                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>



                </div>

            </div>


        </div>
    </div>

}




    <script>

    function btnVoltar() {
        window.location = '../Dividendo'
    }

    function btnIncluir() {

        var dtReferencia = $('#txtDataReferencia').val();
        var obs = $('#txtObs').val();
        var dividendo = $('#txtDividendo').val();
        if (dtReferencia == '' || obs == '' || dividendo == '') {


            swal("Ops!", "Preencha todos os campos.", "error")

        }
        else {

            showLoading('Aplicando dividendos');

            $.ajax({
                /**/
                url: '@Url.Action("AddDividendo", "Dividendo")',
                /**/
                type: 'POST',
                data: { dtReferencia: dtReferencia, obs: obs, dividendo: dividendo, idPoolPessoaBem: @objModel.Id, cotas: @objModel.Cotas, idPessoa:@objModel.IdPessoa, IdPoolBem: @objModel.IdPoolBem},
                success: function (data) {

                    hideLoading();
                    if (data == true) {

                        swal("Feito!", "Dividendo cadastrado com sucesso!", "success");
                        window.location = '../Dividendo'
                    }
                    else {
                        swal("Ops!", "Ocorreu um erro.", "error")
                    }

                }

            });
        }

    }


    window.onload = function (event) {


        $('#txtDataReferencia').attr("data-mask", "99/9999")


    }
    </script>