﻿
@model Presentation.Helpers.ResponseJson
@{
    ViewBag.Title = "Index";


}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Clientes investindo</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Administrativo</a>
            </li>
            <li class="active">
                <strong>Dividendos</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


@if (Model.statusRetorno != "success")
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem de Investidores</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">

                        <span> @Model.statusRetorno</span>

                    </div>
                </div>
            </div>
        </div>
    </div>



}
else
{

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem Clientes Investidores</h5>
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">

                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nome</th>
                                                <th>Investimento</th>
                                                <th>Cotas</th>
                                                <th>Último Dividendo em:</th>
                                                <th>Opções</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in (IEnumerable<Presentation.Models._2BTrustModel.PessoaPoolsInvestidosModel>)Model.objetoRetorno)
                                            {



                                                var sTyle = "";
                                                if (item.Cotas <50)
                                                { sTyle = ""; }

                                                <tr class="gradeX" style="@sTyle">
                                                    <th>@item.IdPessoa.ToString().PadLeft(6,'0')</th>
                                                    <th>@item.NomeCliente</th>
                                                    <th>@item.NomePool</th>
                                                    <th>@item.Cotas</th>
                                                    <th>@if(item.UltimoLancamento==null)
                                                    { <span> - </span>}
                                                    else
                                                    {  <span> @item.UltimoLancamento.Value.ToString("MM/yyyy") </span>}

                                                    </th>
                                                    <th>
                                                        <button class="btn btn-info " type="button" onclick="btnEdit('@item.Id')" autocomplete="off">  Info</button>
                                                    </th>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    function btnEdit(id) {
        showLoading('Acessando...');
        window.location = '../Dividendo/AddDividendo?id=' + id
    }
    function btnAtivar(idCliente) {

        showLoading('Processando...');
        $.ajax({
            url: '../Clientes/Ativar',
            type: 'POST',
            data: { idCliente: idCliente },
            beforeSend: function () {

            },
            onsuccess: function () { },
            success: function (result) {
                if (result.statusRetorno == 'success') {
                    hideLoading();
                    swal("Perfeito", "Item ativado com sucesso!", "success");

                    setTimeout(function () {
                        window.location = "../Clientes";
                    }, 2000);

                }
                else {
                    hideLoading();
                    swal("Atenção", result.statusRetorno, "error");
                }
            }
        });

    }

    function btnDeletar(idCliente) {

        showLoading('Processando...');
        $.ajax({
            url: '../Clientes/Desativar',
            type: 'POST',
            data: { idCliente: idCliente },
            beforeSend: function () {

            },
            onsuccess: function () { },
            success: function (result) {
                if (result.statusRetorno == 'success') {
                    hideLoading();
                    swal("Perfeito", "Item deletado com sucesso!", "success");

                    setTimeout(function () {
                        window.location = "../Clientes";
                    }, 2000);

                }
                else {
                    hideLoading();
                    swal("Atenção", result.statusRetorno, "error");
                }
            }
        });

    }
</script>