﻿@model Presentation.Helpers.ResponseJson
@{
    Layout = null;
    var sTyleBarMes = "";
    ViewBag.Title = "Index";
    var listaHistorico = (IEnumerable<Presentation.Models._2BTrustModel.CarteiraLogModel>)Model.objetoRetorno;

}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>2bTrust | Investments</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="../assets/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="../assets/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <link href="../assets/css/animate.css" rel="stylesheet">

    <link href="../assets/css/style.css" rel="stylesheet">


    <link href="~/assets/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <!-- FooTable -->
    <link href="../Assets/css/plugins/dataTables/datatables.min.css" rel="stylesheet">

    <link href="../Assets/css/plugins/select2/select2.min.css" rel="stylesheet">


    <link href="../Assets/css/plugins/iCheck/custom.css" rel="stylesheet">

    <link href="../Assets/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="../Assets/css/plugins/switchery/switchery.css" rel="stylesheet">

    <link href="../Assets/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">

    <link href="../Assets/css/animate.css" rel="stylesheet">

    <link href="../Assets/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">

    <script src="~/assets/js/site.js"></script>
</head>


<body>

    @{Html.RenderPartial("_loading");}
    @{ if (listaHistorico.Count() > 0)
        {

            <div class="row" style="    text-align: center;    padding: 20px;    font-size: 17px;">
                <div class="col-sm-12">
                    <span style="font-size:20px; text-decoration:underline">Your extract </span>
                </div>
            </div>
            foreach (var item in listaHistorico)
            {



                var sImage = "";
                var sRowStyle = "";
                if (item.Tipo == "dividendo")
                {
                    sImage = "../assets/img/flags/iconAdd.png";
                    sRowStyle = "color:green";

                }
                else if (item.Tipo == "deposito")
                {
                    sImage = "../assets/img/flags/iconSolicitacao.png";
                    sRowStyle = "color:blue";

                }
                else if (item.Tipo == "deposito aprovado")
                {
                    sImage = "../assets/img/flags/iconAdd.png";
                    sRowStyle = "color:green";


                }
                else if (item.Tipo == "deposito recusado")
                {
                    sImage = "../assets/img/flags/iconRecusado.png";
                    sRowStyle = "color:red";

                }
                else if (item.Tipo == "solicitação compra cota")
                {
                    sImage = "../assets/img/flags/iconSolicitacao.png";
                    sRowStyle = "color:blue";


                }
                else if (item.Tipo == "compra cota aprovado")
                {
                    sImage = "../assets/img/flags/iconRemove.png";
                    sRowStyle = "color:green";


                }
                else if (item.Tipo == "compra cota recusado")
                {
                    sImage = "../assets/img/flags/iconRecusado.png";
                    sRowStyle = "color:red";


                }
                else if (item.Tipo == "solicitação venda cota")
                {
                    sImage = "../assets/img/flags/iconSolicitacao.png";
                    sRowStyle = "color:blue";


                }
                else if (item.Tipo == "venda cota aprovado")
                {
                    sImage = "../assets/img/flags/iconAdd.png";
                    sRowStyle = "color:green";


                }
                else if (item.Tipo == "venda cota recusado")
                {
                    sImage = "../assets/img/flags/iconRecusado.png";
                    sRowStyle = "color:red";


                }
                else if (item.Tipo == "retirada")
                {
                    sImage = "../assets/img/flags/iconSolicitacao.png";
                    sRowStyle = "color:blue";

                }
                else if (item.Tipo == "retirada aprovado")
                {
                    sImage = "../assets/img/flags/iconRemove.png";
                    sRowStyle = "color:green";


                }
                else if (item.Tipo == "retirada reprovado")
                {
                    sImage = "../assets/img/flags/iconRecusado.png";
                    sRowStyle = "color:red";


                }

            <div class="row" style="    margin: 15px;
    margin-bottom: 0;
    border: 1px solid #adadad;
    padding: 10px;
    border-radius: 5px; background:#fbfbfb;     box-shadow: -1px -1px 9px #adadad;">
                <div class="row" style="padding:3px">
                    <div class="col-sm-12">
                        <span style="@sRowStyle">Date: @item.Data.Value.ToString("MM/dd/yyyy HH:mm")</span>
                    </div>
                </div>
                <div class="row" style="padding:3px">
                    <div class="col-sm-12">
                        <span style="@sRowStyle">Description: @item.Descricao</span>
                    </div>
                </div>

                <div class="row" style="padding:3px">
                    <div class="col-sm-6">
                        <span style="color: #565656;    font-weight: 700;    text-decoration-color: azure;    font-style: italic;">Amount: @item.Amount.Value.ToString("c")</span>
                    </div>
                    <div class="col-sm-6">
                        <span style="color: #565656;    font-weight: 700;    text-decoration-color: azure;    font-style: italic;">Avaliable Balance: @item.AvaliableBalance.Value.ToString("c")</span>
                    </div>
                </div>

                <div class="row" style="padding:3px">
                    <div class="col-sm-12">
                        <img src="@sImage" style="width:18px; float:right" />
                    </div>
                </div>
            </div>

            }
        }
        else
        {
            <div class="row" style="    text-align: center;    padding: 20px;    font-size: 17px;">
                <div class="col-sm-12">
                    <span>You do not have an extract available </span>
                </div>
            </div>
        }
    }


</body>




<script>

    //pega a largura da resolução da tela

    var width = screen.width;
    //pega a altura da resolução da tela
    var height = screen.height;
    //verifica se a resolução dará uma boa visão do site
    if (width <= 1300 || height < 768) {

        $("body").animate({ 'zoom': 0.7 }, 600);

    } else {
        $("body").animate({ 'zoom': 1.0 }, 600);
    }


    function fnSetSessionSubs(pai, filho, idMenu) {
        showLoading("One Moment Please",'Loading...');
        $.session.set('menuPai', pai);
        $.session.set('menuFilho', filho);
        $.session.set('idMenu', idMenu);
    }
    function fnSetSession(pai) {
        showLoading("One Moment Please",'Loading...');
        $.session.set('menuPai', pai);
        $.session.set('menuFilho', '');
        $.session.set('idMenu', 0);
    }

    var idMenu = 0;
    $(':input').on('focus', function () {
        $(this).attr('autocomplete', 'off');
    });


    function investOpen() {
        fOpen = true;
    }

    function investClose() {
        fOpen = false;
    }



    $(window).load(function () {

        hideLoading();
    });

    $(document).ready(function () {

        showLoading('Loading...')
        //var tid = setInterval(atualiza, 60000);
        //function atualiza() {
        //    $.ajax({
        //        url: '../MeuCadastro/AtualizaDados',
        //        type: 'POST',
        //        beforeSend: function () {

        //        },
        //        onsuccess: function () { },
        //        success: function (result) {

        //        }
        //    });
        //}
        //function abortTimer() { // to be called when you want to stop the timer
        //    clearInterval(tid);
        //}


        $(".select2").select2({
            placeholder: " ",
            allowClear: true
        });


        $('.date').attr("data-mask", "99/99/9999")
        $('.money').maskMoney({ prefix: 'US$ ', allowNegative: true, thousands: ',', decimal: '.', affixesStay: false });
        $('.percent').maskMoney({ prefix: '% ', allowNegative: true, thousands: ',', decimal: '.', affixesStay: false });
        $(".cep").attr("data-mask", "99999-999")


        $('.date').datepicker({
            startView: 3,
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            format: "mm/dd/yyyy",
            language: "en-US",
            onSelect: function () {
                $(this).change();
            }
        });
        $('.date').on("change", function () {

            if (!validaDataEN($(this).val())) {
                $('.date').val("");
                swal("Atenção", "Data Inválida!", "error");
            }

        })


        $.validator.addMethod('date', function (value) {
            return /^((0?[1-9]|1[012])[- /.](0?[1-9]|[12][0-9]|3[01])[- /.](19|20)?[0-9]{2})*$/.test(value);
        }, 'Please enter a valid US or Canadian postal code.');

        function validaDataEN(dt) {
            var reGoodDate = /^((0?[1-9]|1[012])[- /.](0?[1-9]|[12][0-9]|3[01])[- /.](19|20)?[0-9]{2})*$/;
            return reGoodDate.test(dt);
        }

        //var elem = document.querySelector('.js-switch');
        //var switchery = new Switchery(elem, { color: '#1AB394' });


        var Principal = $.session.get("menuPai")
        var SubMenu = $.session.get("menuFilho")
        var idMenuTable = $.session.get("idMenu")

        if (SubMenu == '' || typeof SubMenu === "undefined") {
            checkSubMenu(Principal);
        }
        else {
            checkMenuPrincipal(Principal);
            checkSubMenu(SubMenu);
        }


        idMenu = idMenuTable;


        $('.dataTables-example').DataTable({
            pageLength: 10,
            responsive: true,

            "sEmptyTable": "Nenhum registro encontrado",
            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "_MENU_ resultados por página",
            "sLoadingRecords": "Carregando...",
            "sProcessing": "Processando...",
            "sZeroRecords": "Nenhum registro encontrado",
            "sSearch": "Pesquisar",
            "oPaginate": {
                "sNext": "Próximo",
                "sPrevious": "Anterior",
                "sFirst": "Primeiro",
                "sLast": "Último"
            },
            "oAria": {
                "sSortAscending": ": Ordenar colunas de forma ascendente",
                "sSortDescending": ": Ordenar colunas de forma descendente"
            }

        });


        var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
        var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

        var data1 = [
            { label: "Data 1", data: d1, color: '#17a084' },
            { label: "Data 2", data: d2, color: '#127e68' }
        ];
        $.plot($("#flot-chart1"), data1, {
            xaxis: {
                tickDecimals: 0
            },
            series: {
                lines: {
                    show: true,
                    fill: true,
                    fillColor: {
                        colors: [{
                            opacity: 1
                        }, {
                            opacity: 1
                        }]
                    },
                },
                points: {
                    width: 0.1,
                    show: false
                },
            },
            grid: {
                show: false,
                borderWidth: 0
            },
            legend: {
                show: false,
            }
        });

        var lineData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
                {
                    label: "Example dataset",
                    backgroundColor: "rgba(26,179,148,0.5)",
                    borderColor: "rgba(26,179,148,0.7)",
                    pointBackgroundColor: "rgba(26,179,148,1)",
                    pointBorderColor: "#fff",
                    data: [48, 48, 60, 39, 56, 37, 30]
                },
                {
                    label: "Example dataset",
                    backgroundColor: "rgba(220,220,220,0.5)",
                    borderColor: "rgba(220,220,220,1)",
                    pointBackgroundColor: "rgba(220,220,220,1)",
                    pointBorderColor: "#fff",
                    data: [65, 59, 40, 51, 36, 25, 40]
                }
            ]
        };

        var lineOptions = {
            responsive: true
        };


        var ctx = document.getElementById("lineChart").getContext("2d");
        new Chart(ctx, { type: 'line', data: lineData, options: lineOptions });

    });


    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

</script>