﻿@{
    Layout = null;

}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>2bTrust | Investments</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="../assets/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="../assets/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <link href="../assets/css/animate.css" rel="stylesheet">

    <link href="../assets/css/style.css" rel="stylesheet">


    <link href="~/assets/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <!-- FooTable -->
    <link href="../Assets/css/plugins/dataTables/datatables.min.css" rel="stylesheet">

    <link href="../Assets/css/plugins/select2/select2.min.css" rel="stylesheet">


    <link href="../Assets/css/plugins/iCheck/custom.css" rel="stylesheet">

    <link href="../Assets/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="../Assets/css/plugins/switchery/switchery.css" rel="stylesheet">

    <link href="../Assets/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">

    <link href="../Assets/css/animate.css" rel="stylesheet">

    <link href="../Assets/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">

    <script src="~/assets/js/site.js"></script>
</head>


<body>
    @{Html.RenderPartial("_loading");}
</body>



<script>

    $(document).ready(function () {

        showLoading('Loading...')

        window.location = "../Mobile/Valores?idUsuario=@ViewBag.IdUsuario&sHash=@ViewBag.sHash";

    })

</script>