﻿@model Presentation.Helpers.ResponseJson
@{
    Layout = null;
    var sTyleBarMes = "";
    ViewBag.Title = "Index";
    var pessoaModel = (Presentation.Models._2BTrustModel.PessoasModel)Model.objetoRetorno;
    var pools = pessoaModel._MeusPools;
    decimal totalInvestido = 0;

    var iCotasInvestidas = 0;
    decimal totalDividendos = 0;
    string Since = "-";
    if (pessoaModel._MeusLancamentos != null && pessoaModel._MeusLancamentos.Count() > 0)
    {
        totalDividendos = pessoaModel._MeusLancamentos.Sum(c => c.Valor);
        Since = "Since " + pessoaModel._MeusLancamentos.FirstOrDefault().DtInclusao.ToString("MM/dd/yyyy");
    }
    foreach (var item2 in pools.GroupBy(c => c.IdPoolBem))
    {


        int cotaInvestida = 0;
        int qntCotas = 0;
        decimal valorCota = 0;
        List<int> ListaIds = new List<int>();
        foreach (var item in item2)
        {
            cotaInvestida += (int)item.Cota;
            qntCotas = item._PoolBens.Cotas;
            foreach (var valores in item._PoolBens._Bens.Where(c => c.IdStatus == 1))
            {

                if (!ListaIds.Contains(valores.Id))
                {
                    ListaIds.Add(valores.Id);
                    valorCota += Convert.ToDecimal(valores.CapitalInvestido);
                }
            }


        }
        totalInvestido += Convert.ToDecimal(100 * cotaInvestida);
    }

    var totalEmDinheiro = totalInvestido + pessoaModel._Carteira.Saldo;

    var percent = 0;
    if (totalEmDinheiro > 0)
    {
        percent = (int)((totalInvestido * 100) / totalEmDinheiro);
    }

}


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>2bTrust | Investments</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="../assets/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="../assets/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <link href="../assets/css/animate.css" rel="stylesheet">

    <link href="../assets/css/style.css" rel="stylesheet">


    <link href="~/assets/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <!-- FooTable -->
    <link href="../Assets/css/plugins/dataTables/datatables.min.css" rel="stylesheet">

    <link href="../Assets/css/plugins/select2/select2.min.css" rel="stylesheet">


    <link href="../Assets/css/plugins/iCheck/custom.css" rel="stylesheet">

    <link href="../Assets/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="../Assets/css/plugins/switchery/switchery.css" rel="stylesheet">

    <link href="../Assets/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">

    <link href="../Assets/css/animate.css" rel="stylesheet">

    <link href="../Assets/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">

    <script src="~/assets/js/site.js"></script>
</head>


<body>
    @{Html.RenderPartial("_loading");}
    <div class="row animate fadeInDown">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">

                <div class="row" style="margin: 5px; margin-bottom: 20px ; box-shadow: 2px -2px 8px 0px #a7a7a7;">
                    <div class="ibox float-e-margins" style="margin-bottom:0px!important">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">Current</span>
                            <h5>My balance</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">@pessoaModel._Carteira.Saldo.ToString("c").Replace("R$", "$")</h1>
                            <div class="stat-percent font-bold text-success"> <i class="fa fa-bolt"></i></div>
                            <small>Avaliable</small>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin: 5px; margin-bottom: 20px;box-shadow: 2px -2px 8px 0px #a7a7a7;">
                    <div class="ibox float-e-margins" style="margin-bottom:0px!important">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">Current</span>
                            <h5>Total balance</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">@totalEmDinheiro.ToString("c").Replace("R$", "US$")</h1>
                            <div class="stat-percent font-bold text-success">@percent% invested <i class="fa fa-bolt"></i></div>
                            <small>My balance + My investment</small>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin: 5px; margin-bottom: 20px;box-shadow: 2px -2px 8px 0px #a7a7a7;">
                    <div class="ibox float-e-margins" style="margin-bottom:0px!important">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">Current</span>
                            <h5>My Investments</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">@totalInvestido.ToString("c").Replace("R$", "US$")</h1>
                            <div class="stat-percent font-bold text-success">  <i class="fa fa-bolt"></i></div>
                            <small>My Funds</small>
                        </div>
                    </div>
                </div>


                @if (pessoaModel._ListaRentabilidade.Count() > 0)
                {
                    <div class="col-md-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-success pull-right">Year</span>
                                @{
                                    var dateCurrentNowYear = DateTime.Now;

                                    decimal diviDent_ = 0;
                                    decimal capitalTotalInvestido_ = 0;
                                    decimal somaTotalDVCap = 0;
                                    decimal somaPercentagem = 0;
                                    var listAno = pessoaModel._ListaRentabilidade.Where(c => c.iAno == dateCurrentNowYear.Year && c.iMes < dateCurrentNowYear.Month).OrderBy(c => c.iMes).AsEnumerable();

                                    for (int iu = 1; iu <= 12; iu++)
                                    {
                                        var percentMes = listAno.Where(c => c.iAno == dateCurrentNowYear.Year && c.iMes == iu && c.percentRentabilidade != null && c.percentRentabilidade > 0).FirstOrDefault();
                                        if (percentMes == null)
                                        { somaPercentagem += 0; }
                                        else { somaPercentagem += percentMes.percentRentabilidade; }
                                    }

                                    if (somaPercentagem == 0)
                                    {

                                        <h5>0.00% Projected @DateTime.Now.Year</h5>
                                    }
                                    else
                                    {

                                        somaPercentagem = (somaPercentagem / (dateCurrentNowYear.Month - 1)) * 12;

                                        <h5>@somaPercentagem.ToString("#0.00")% Projected @DateTime.Now.Year</h5>
                                    }

                                }
                            </div>
                            <div class="ibox-content">

                                @{
                                    for (int i = 0; i < 3; i++)
                                    {

                                        var dateCurrent = DateTime.Now.AddYears(-i);

                                        diviDent_ = 0;
                                        capitalTotalInvestido_ = 0;
                                        somaTotalDVCap = 0;

                                        somaPercentagem = 0;
                                        int somaMesContado = 0;
                                        //verifica primeiro ano
                                        if (i == 0)
                                        {
                                            listAno = pessoaModel._ListaRentabilidade.Where(c => c.iAno == dateCurrent.Year && c.iMes < dateCurrent.Month).OrderBy(c => c.iMes).AsEnumerable();
                                        }
                                        else
                                        {
                                            listAno = pessoaModel._ListaRentabilidade.Where(c => c.iAno == dateCurrent.Year).OrderBy(c => c.iMes).AsEnumerable();
                                        }
                                        for (int iu = 1; iu <= 12; iu++)
                                        {
                                            var percentMes = listAno.Where(c => c.iAno == dateCurrent.Year && c.iMes == iu && c.percentRentabilidade != null && c.percentRentabilidade > 0).FirstOrDefault();
                                            if (percentMes == null)
                                            { somaPercentagem += 0; }
                                            else
                                            {
                                                somaMesContado += 1;
                                                somaPercentagem += percentMes.percentRentabilidade;
                                            }
                                        }

                                        if (somaPercentagem == 0)
                                        {


                                            <div class="row" style=" margin-top: 25px;">
                                                <div class="col-md-8">
                                                    <div class="progress">
                                                        <div style="width: 0%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="35" role="progressbar" class="progress-bar progress-bar-success">
                                                            <span class="sr-only">35% Complete (success)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <span>@dateCurrent.Year - 0.00%</span>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            if (i == 0)
                                            {
                                                somaPercentagem = (somaPercentagem / (dateCurrentNowYear.Month - 1)) * 12;
                                            }
                                            else
                                            {
                                                somaPercentagem = (somaPercentagem / (somaMesContado)) * 12;
                                            }
                                            var intPercent = somaPercentagem;
                                            var intPercentGrafic = somaPercentagem * 10;
                                            <div class="row" style=" margin-top: 30px;">
                                                <div class="col-md-8">
                                                    <div class="progress">
                                                        <div style="width: @intPercentGrafic%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="@intPercentGrafic" role="progressbar" class="progress-bar progress-bar-success">
                                                            <span class="sr-only">35% Complete(success)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <span>@dateCurrent.Year - @intPercent.ToString("#0.00")%</span>
                                                </div>
                                            </div>
                                        }
                                    }
                                }


                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-success pull-right">Month</span>
                                @{
                                    var dateCurrentNowMes = DateTime.Now.AddMonths(-1);

                                    var percenteMEsNowMes = pessoaModel._ListaRentabilidade.Where(c => c.iMes == dateCurrentNowMes.Month && c.iAno == dateCurrentNowMes.Year).AsEnumerable();

                                    if (dateCurrentNowMes == null)
                                    {
                                        <h5>0,00% Historical Performance</h5>
                                    }
                                    else
                                    {
                                        if (percenteMEsNowMes != null && percenteMEsNowMes.Count() > 0)
                                        {

                                            var percen1 = (percenteMEsNowMes.Where(c => c.percentRentabilidade != null && c.percentRentabilidade > 0).FirstOrDefault());
                                            if (percen1 == null)
                                            {

                                                <h5>0.00% Hitorical Performance</h5>
                                            }
                                            else
                                            {
                                                <h5>@percen1.percentRentabilidade.ToString("#0.00")% Hitorical Performance</h5>
                                            }

                                        }
                                        else
                                        {
                                            <h5>0.00% Hitorical Performance</h5>
                                        }
                                    }
                                }

                            </div>
                            <div class="ibox-content" style="height:236px">
                                <div class="row" style="margin-top:35px">

                                    @{
                                        for (int i = 1; i < 5; i++)
                                        {


                                            sTyleBarMes = "text-align:center;   height:90px; float:left; background-color:#75bb81; margin:5px; padding: 2%; padding-top:10px; color:#fff;    box-shadow: 2px -2px 12px 1px #bfbfbf; border: 1px solid #bfbfbf; border-top-right-radius: 5px;     border-top-left-radius: 5px;";

                                            if (i == 1)
                                            {
                                                sTyleBarMes = "text-align:center;  height:90px; float:left; background-color:#75bb81; margin:5px; margin-left: 10%; padding: 2%; padding-top:10px; color:#fff;  box-shadow: 2px -2px 12px 1px #bfbfbf; border: 1px solid #bfbfbf;  border-top-right-radius: 5px;     border-top-left-radius: 5px;";

                                            }


                                            var dateCurrent = DateTime.Now.AddMonths(-i);

                                            var percenteMEs = pessoaModel._ListaRentabilidade.Where(c => c.iMes == dateCurrent.Month && c.iAno == dateCurrent.Year).AsEnumerable();

                                            if (percenteMEs == null || percenteMEs.Count() == 0)
                                            {
                                                <div style="@sTyleBarMes; widith:40px!imporant" class="barBackGroundMouth animated fadeInUp">
                                                    <span>0,00%</span><br /><br /><br /> <br /> <br />
                                                    <span style="color:#2e2e2e">@dateCurrent.ToString("MMM")</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div style="@sTyleBarMes" class="barBackGroundMouth  animated fadeInLeft">
                                                    @{

                                                        var percen1 = (percenteMEs.Where(c => c.percentRentabilidade != null && c.percentRentabilidade > 0).FirstOrDefault());
                                                        if (percen1 == null)
                                                        {

                                                            <span>0.00%</span><br /><br /><br /> <br /> <br />
                                                            <span style="color:#2e2e2e">@dateCurrent.ToString("MMM")</span>
                                                        }
                                                        else
                                                        {
                                                            <span>@percen1.percentRentabilidade.ToString("#0.00")%</span><br /><br /><br /> <br /> <br />
                                                            <span style="color:#2e2e2e">@dateCurrent.ToString("MMM")</span>
                                                        }

                                                    }


                                                </div>
                                            }
                                        }
                                    }

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row" style="margin: 5px; margin-bottom: 20px;box-shadow: 2px -2px 8px 0px #a7a7a7;">
                        <div class="ibox float-e-margins" style="margin-bottom:0px!important">
                            <div class="ibox-title">
                                <span class="label label-success pull-right">Payment</span>
                                <h5>Accumulated Payment</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="row" style="text-align:center;     margin-top: 57px;    margin-bottom: 80px;">
                                    <center><span style="font-size:30px">@totalDividendos.ToString("c")</span></center>
                                    <center><span style="font-size:14px">@Since</span></center>
                                </div>

                            </div>
                        </div>
                    </div>

                }





            </div>
            <div class="footer" style="bottom: 0; position: fixed;">
                <div class="pull-right">
                </div>
                <div>
                    <strong>Copyright</strong>  2020 &copy; 2bTrust
                </div>
            </div>
        </div>
    </div>

</body>

<script>

    //pega a largura da resolução da tela

    var width = screen.width;
    //pega a altura da resolução da tela
    var height = screen.height;
    //verifica se a resolução dará uma boa visão do site
    if (width <= 1300 || height < 768) {

        $("body").animate({ 'zoom': 0.7 }, 600);

    } else {
        $("body").animate({ 'zoom': 1.0 }, 600);
    }


    function fnSetSessionSubs(pai, filho, idMenu) {
        showLoading("One Moment Please",'Loading...');
        $.session.set('menuPai', pai);
        $.session.set('menuFilho', filho);
        $.session.set('idMenu', idMenu);
    }
    function fnSetSession(pai) {
        showLoading("One Moment Please",'Loading...');
        $.session.set('menuPai', pai);
        $.session.set('menuFilho', '');
        $.session.set('idMenu', 0);
    }

    var idMenu = 0;
    $(':input').on('focus', function () {
        $(this).attr('autocomplete', 'off');
    });


    function investOpen() {
        fOpen = true;
    }

    function investClose() {
        fOpen = false;
    }


    $(window).load(function () {

        hideLoading();
    });

    $(document).ready(function () {

        showLoading('Loading...')

        $(".select2").select2({
            placeholder: " ",
            allowClear: true
        });


        $('.date').attr("data-mask", "99/99/9999")
        $('.money').maskMoney({ prefix: 'US$ ', allowNegative: true, thousands: ',', decimal: '.', affixesStay: false });
        $('.percent').maskMoney({ prefix: '% ', allowNegative: true, thousands: ',', decimal: '.', affixesStay: false });
        $(".cep").attr("data-mask", "99999-999")


        $('.date').datepicker({
            startView: 3,
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            format: "mm/dd/yyyy",
            language: "en-US",
            onSelect: function () {
                $(this).change();
            }
        });
        $('.date').on("change", function () {

            if (!validaDataEN($(this).val())) {
                $('.date').val("");
                swal("Atenção", "Data Inválida!", "error");
            }

        })


        $.validator.addMethod('date', function (value) {
            return /^((0?[1-9]|1[012])[- /.](0?[1-9]|[12][0-9]|3[01])[- /.](19|20)?[0-9]{2})*$/.test(value);
        }, 'Please enter a valid US or Canadian postal code.');

        function validaDataEN(dt) {
            var reGoodDate = /^((0?[1-9]|1[012])[- /.](0?[1-9]|[12][0-9]|3[01])[- /.](19|20)?[0-9]{2})*$/;
            return reGoodDate.test(dt);
        }

        //var elem = document.querySelector('.js-switch');
        //var switchery = new Switchery(elem, { color: '#1AB394' });


        var Principal = $.session.get("menuPai")
        var SubMenu = $.session.get("menuFilho")
        var idMenuTable = $.session.get("idMenu")

        if (SubMenu == '' || typeof SubMenu === "undefined") {
            checkSubMenu(Principal);
        }
        else {
            checkMenuPrincipal(Principal);
            checkSubMenu(SubMenu);
        }


        idMenu = idMenuTable;


        $('.dataTables-example').DataTable({
            pageLength: 10,
            responsive: true,

            "sEmptyTable": "Nenhum registro encontrado",
            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "_MENU_ resultados por página",
            "sLoadingRecords": "Carregando...",
            "sProcessing": "Processando...",
            "sZeroRecords": "Nenhum registro encontrado",
            "sSearch": "Pesquisar",
            "oPaginate": {
                "sNext": "Próximo",
                "sPrevious": "Anterior",
                "sFirst": "Primeiro",
                "sLast": "Último"
            },
            "oAria": {
                "sSortAscending": ": Ordenar colunas de forma ascendente",
                "sSortDescending": ": Ordenar colunas de forma descendente"
            }

        });


        var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
        var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

        var data1 = [
            { label: "Data 1", data: d1, color: '#17a084' },
            { label: "Data 2", data: d2, color: '#127e68' }
        ];
        $.plot($("#flot-chart1"), data1, {
            xaxis: {
                tickDecimals: 0
            },
            series: {
                lines: {
                    show: true,
                    fill: true,
                    fillColor: {
                        colors: [{
                            opacity: 1
                        }, {
                            opacity: 1
                        }]
                    },
                },
                points: {
                    width: 0.1,
                    show: false
                },
            },
            grid: {
                show: false,
                borderWidth: 0
            },
            legend: {
                show: false,
            }
        });

        var lineData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
                {
                    label: "Example dataset",
                    backgroundColor: "rgba(26,179,148,0.5)",
                    borderColor: "rgba(26,179,148,0.7)",
                    pointBackgroundColor: "rgba(26,179,148,1)",
                    pointBorderColor: "#fff",
                    data: [48, 48, 60, 39, 56, 37, 30]
                },
                {
                    label: "Example dataset",
                    backgroundColor: "rgba(220,220,220,0.5)",
                    borderColor: "rgba(220,220,220,1)",
                    pointBackgroundColor: "rgba(220,220,220,1)",
                    pointBorderColor: "#fff",
                    data: [65, 59, 40, 51, 36, 25, 40]
                }
            ]
        };

        var lineOptions = {
            responsive: true
        };


        var ctx = document.getElementById("lineChart").getContext("2d");
        new Chart(ctx, { type: 'line', data: lineData, options: lineOptions });

    });


    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

</script>