﻿@model Presentation.Helpers.ResponseJson
@{
    ViewBag.Title = "Index";
    Domain.Entities._2BTrust.ComprovanteDeposito dto = Model.objetoRetorno;

    string localPathIIS = System.Web.Configuration.WebConfigurationManager.AppSettings["localPathIIS"];

}
<link href="~/assets/fine-uploader/fine-uploader-gallery.css" rel="stylesheet" />
<link href="~/assets/fine-uploader/fine-uploader.css" rel="stylesheet" />
<script src="~/assets/fine-uploader/fine-uploader.core.js"></script>
<script src="~/assets/fine-uploader/fine-uploader.js"></script>
<script src="~/assets/fine-uploader/jquery.fine-uploader.js"></script>

<link href="~/assets/css/plugins/slick/slick.css" rel="stylesheet">
<link href="~/assets/css/plugins/slick/slick-theme.css" rel="stylesheet">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Transfer</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li>
                <a>Transfer</a>
            </li>
            <li>
                <a href="../Carteira/Depositos">Deposit</a>
            </li>
            <li class="active">
                <strong>Receipt</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


@if (Model.statusRetorno != "success")
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Transaction</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">

                        <span> @Model.statusRetorno</span>

                    </div>
                </div>
            </div>
        </div>
    </div>



}
else
{
    <div class="wrapper wrapper-content animated fadeInRight">


        <div id="dvAnexos" class="animated pulse">
            @using (Html.BeginForm("AnexarComprovante", "Caretira", FormMethod.Post, new { id = "fmDepositar", @autocomplete = "off", @enctype = "multipart/form-data" }))
            {
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-9"><h2>Transaction #@dto.Id</h2> </div>
                            <div class="col-lg-3" style=" margin-top: 20px;">
                                <button class="btn btn-danger " style="float:right" type="button" id="btnCancelar" onclick="btnVoltar()"> Back </button>
                            </div>
                        </div>                       
                      
                        <hr />
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <h3>Transaction date</h3>
                                    <h4 style="color:#9a1b1b">@dto.DtInclusao.ToString("MM/dd/yyyy - HH:mm:ss")</h4>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <h3>Amount</h3>
                                    <h4 style="color:#9a1b1b">@dto.Valor.ToString("c").Replace("R$", "US$")</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    @{

                if (!string.IsNullOrEmpty(dto.ComprovantePathLocation))
                {

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <hr />
                                <h3>Attached</h3>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="@localPathIIS@dto.ComprovantePathLocationIIS" />
                            </div>
                        </div>
                }
                else
                {

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <hr />
                                <h3>Upload your proof of Bank tranfer!</h3>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-lg-12" style="text-align:center">
                                <script type="text/template" id="qq-template">
                                    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
                                        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                                            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
                                        </div>
                                        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                                            <span class="qq-upload-drop-area-text-selector"></span>
                                        </div>
                                        <div class="qq-upload-button-selector qq-upload-button">
                                            <div>Upload</div>
                                        </div>
                                        <span class="qq-drop-processing-selector qq-drop-processing">
                                            <span>Processing dropped files...</span>
                                            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                                        </span>
                                        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                                            <li>
                                                <div class="qq-progress-bar-container-selector">
                                                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                                                </div>
                                                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                                                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                                                <span class="qq-upload-file-selector qq-upload-file"></span>
                                                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                                                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                                                <span class="qq-upload-size-selector qq-upload-size"></span>
                                                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                                                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                                                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                                                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                                            </li>
                                        </ul>
                                        <dialog class="qq-alert-dialog-selector">
                                            <div class="qq-dialog-message-selector"></div>
                                            <div class="qq-dialog-buttons">
                                                <button type="button" class="qq-cancel-button-selector">Close</button>
                                            </div>
                                        </dialog>
                                        <dialog class="qq-confirm-dialog-selector">
                                            <div class="qq-dialog-message-selector"></div>
                                            <div class="qq-dialog-buttons">
                                                <button type="button" class="qq-cancel-button-selector">No</button>
                                                <button type="button" class="qq-ok-button-selector">Yes</button>
                                            </div>
                                        </dialog>
                                        <dialog class="qq-prompt-dialog-selector">
                                            <div class="qq-dialog-message-selector"></div>
                                            <input type="text">
                                            <div class="qq-dialog-buttons">
                                                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                                                <button type="button" class="qq-ok-button-selector">Ok</button>
                                            </div>
                                        </dialog>
                                    </div>
                                </script>


                                <div id="uploader"></div>

                            </div>
                        </div>

                }

                    }

                </div>


            }

        </div>

    </div>

}

<script>

    function btnVoltar()
    {
        window.location='../Carteira/Depositos'
    }
    window.onload = function (event) {

        var idComp = 0;
        var uploader = new qq.FineUploader({
            debug: true,
            thumbnails: {
                customResizer: !qq.ios() && function (resizeInfo) {
                    return new Promise(function (resolve, reject) {
                        pica.resizeCanvas(resizeInfo.sourceCanvas, resizeInfo.targetCanvas, {}, resolve)
                    })
                }
            },
            validation: {
                allowedExtensions: ['jpg', 'jpeg', 'png', 'pdf']
            },
            element: document.getElementById('uploader'),
            request: {
                endpoint: '../Carteira/UploadFile?idComprovante=@dto.Id'
            },
            deleteFile: {
                enabled: false,
                endpoint: '../Carteira/UploadFile?idComprovante=@dto.Id'
            },
            retry: {
                enableAuto: true
            },
            callbacks: {
                onComplete: function (id, name, responseJSON, maybeXhr) {
                    swal({
                        title: "Sucesso",
                        text: "Comprovante enviado com sucesso!",
                        type: "success",
                        showCancelButton: false,
                        confirmButtonText: "OK",
                        closeOnConfirm: false
                    }).then((result) => {

         window.location = '../Carteira/Depositos'
     });

                },

            }
        }).on('onComplete', function (event, id, fileName, response) { 
            swal({
                title: "Sucesso",
                text: "Comprovante enviado com sucesso!",
                type: "success",
                showCancelButton: false,
                confirmButtonText: "OK",
                closeOnConfirm: false
            }).then((result) => {

      window.location = '../Carteira/Depositos'
  });

        });;
    };

</script>
