﻿@model Presentation.Helpers.ResponseJson
@{
    ViewBag.Title = "Index";
    IEnumerable<Presentation.Models._2BTrustModel.ComprovanteDepositoModel> modelDes = Model.objetoRetorno;
    var totalAprovados = modelDes.Where(c => c.IdStatus == Domain.Enuns.EnumStatusCarteira.Aprovado).AsEnumerable();
    var totalAguardando = modelDes.Where(c => c.IdStatus == Domain.Enuns.EnumStatusCarteira.Aguardando).AsEnumerable();

    var saldoInvestidor = "0"; if (ViewBag.SaldoCarteiraInvestidorManual != null) { saldoInvestidor = ViewBag.SaldoCarteiraInvestidorManual.ToString("c").Replace("R$", "US$"); };
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Transfer</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Home">Home</a>
            </li>
            <li class="active">
                <a>Transfer</a>
            </li>
            @*<li class="active">
                <strong>Deposit</strong>
            </li>*@
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


@if (Model.statusRetorno != "success")
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listagem dos depósitos realizados</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">

                        <span> @Model.statusRetorno</span>

                    </div>
                </div>
            </div>
        </div>
    </div>



}
else
{


    if (Presentation.Helpers.SessionManager.usuarioLogado._Usuario._Grupo.Id == (int)Domain.Enuns.EnumPerfil.Administrador_Super)
    {

        <div class="row wrapper border-bottom white-bg page-heading" style="margin-top: 10px; padding: 10px;">

            <div class="col-lg-12">
                <span class="label label-warning-light"> </span><span> Você é um super admin, escolha um investidor para realizar as operações</span>
            </div>
            <div class="col-lg-5" style="padding:20px">
                @Html.DropDownList("idInvestidorManual", new SelectList(Presentation.Helpers.SessionManager.ListaInvestidoresManuais, "Id", "Nome", ViewBag.IdInvestidorManual), "", new { @class = "form-control", @style = "width:100%;" })

            </div>
            <div class="col-lg-3" style="padding:20px">
                <button class="btn btn-warning " type="button" id="btnSelecionar" onclick="btnSelecionar()" autocomplete="off">  Selecionar </button>
            </div>
            @if (ViewBag.NomeInvestidorManual != null)
            {
                <div class="col-lg-3" style="padding:20px">
                    <div class="row">
                        <div class="col-lg-12">

                            <span style="font-size:16px">Visualizando carteira de: </span>
                        </div>
                        <div class="col-lg-12">

                            <span style="font-style:italic; color:#1bb394">@ViewBag.NomeInvestidorManual </span>
                        </div>
                    </div>
                </div>
            }
        </div>

    }

    <div class="row wrapper border-bottom white-bg page-heading" style="margin-top: 10px; padding: 10px;">

        <div class="col-lg-3">
            <span class="label label-info" style="background-color:#2196f3"> </span><span> @totalAprovados.Sum(c => c.Valor).ToString("c").Replace("R$", "U$") Available Balance</span>
        </div>
        <div class="col-lg-3">
            <span class="label label-info"> </span><span> @totalAguardando.Sum(c => c.Valor).ToString("c").Replace("R$", "U$") Pending</span>
        </div>
        <div class="col-lg-3">

        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        <div id="dvContent">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Deposits</h5>
                            <div class="ibox-tools">
                                <button class="btn btn-primary " type="button" id="btnAderir" onclick="btnNovo()" autocomplete="off">
                                     Make a deposit</button>
                                    @*    <button class="btn btn-danger " style="display:none" type="button" id="btnCancelar" onclick="btnCancelar()"><i class="fa fa-warning"> Cancel</i></button>*@
</div>
                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Amount</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.objetoRetorno)
                                        {
                                            <tr class="gradeX">

                                                <td>@item.Id</td>
                                                <td style="text-align:center">@item.DtInclusao.ToString("MM/dd/yyyy")</td>
                                                <td style="text-align:center; font-size:13px!important; padding-top: 20px;">
                                                    @{
                                            if (item.IdStatus == Domain.Enuns.EnumStatusCarteira.Aguardando)
                                            {
                                                <span style="text-align:center; font-size:13px!important" class="label label-info">Pending</span>
                                            }
                                            else if (item.IdStatus == Domain.Enuns.EnumStatusCarteira.Processando)
                                            {
                                                <span style="text-align:center; font-size:13px!important" class="label label-warning">In process</span>
                                            }
                                            else if (item.IdStatus == Domain.Enuns.EnumStatusCarteira.Aprovado)
                                            {
                                                <span style="text-align:center; font-size:13px!important; background-color:#2196f3 " class="label label-success">Available</span>
                                            }
                                            else if (item.IdStatus == Domain.Enuns.EnumStatusCarteira.Recusado)
                                            {
                                                <span style="text-align:center; font-size:13px!important" class="label label-danger">Refused </span>
                                            }
                                                    }
                                                </td>

                                                <td>@item.Valor.ToString("c").Replace("R$", "U$")</td>
                                                <td>
                                                    @{
                                            if (string.IsNullOrEmpty(item.ComprovantePathLocation))
                                            {
                                                    <button type="button" class="btn btn-outline btn-primary" onclick="fnAnexar(@item.Id)">Upload file</button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-outline btn-success" onclick="fnAnexar(@item.Id)">View</button>

                                            }
                                                    }
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div id="dvAderir" style="display:none">
            @{Html.RenderPartial("_loading");}
            @using (Html.BeginForm("Depositar", "Caretira", FormMethod.Post, new { id = "fmDepositar", @autocomplete = "off", @enctype = "multipart/form-data" }))
            {
                <div class="col-md-3">

                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Deposit</h5>
                        </div>
                        <div class="ibox-content">
                            <span>
                                Available balance
                            </span>
                            <h2 class="font-bold">
                                @if (ViewBag.SaldoCarteiraInvestidorManual != null)
                                {
                                    @saldoInvestidor;
                                }
                                else
                                {
                                    @Presentation.Helpers.SessionManager.usuarioLogado._Carteira.Saldo.ToString("c").Replace("R$", "U$")
                                }
                            </h2>
                            <span>
                                Amount
                            </span>
                            <h2 class="font-bold">
                                @if (ViewBag.IdCarteiraInvestidorManual != null)
                                {
                                    <input type="hidden" name="idCarteira" id="idCarteira" value="@ViewBag.IdCarteiraInvestidorManual">
                                }
                                else
                                {
                                    <input type="hidden" name="idCarteira" id="idCarteira" value="@Presentation.Helpers.SessionManager.usuarioLogado._Carteira.Id">
                                }

                                <div class="input-group m-b"><span class="input-group-addon">U$</span> <input type="text" name="mValorLancamento" id="mValorLancamento" class="money form-control"> </div>
                            </h2>

                            @{

                if (Presentation.Helpers.SessionManager.usuarioLogado._Usuario._Grupo.Id == (int)Domain.Enuns.EnumPerfil.Administrador_Super)
                {

                    <span>
                        Data Depósito
                    </span>
                                <h2 class="font-bold">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" name="DtInclusaoAdm" id="DtInclusaoAdm" class="date form-control">
                                    </div>
                                </h2>

                }

                            }

                            <hr>
                            <span class="text-muted small">
                                How much would you lake to transfer?
                            </span>
                            <div class="m-t-sm">
                                <div class="btn-group">
                                    <a href="#" onclick="fnDepositar()" class="btn btn-primary btn-sm">  Transfer</a>
                                    <a href="#" class="btn btn-white btn-sm"  onclick="btnCancelar()"> Back</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Support</h5>
                        </div>
                        <div class="ibox-content text-center">



                            <h3><i class="fa fa-phone"></i> @System.Configuration.ConfigurationManager.AppSettings["telefoneContato"]</h3>
                            <span class="small">
                                Please contact with us if you have any questions.
                            </span>


                        </div>
                    </div>


                </div>

            }
        </div>
    </div>

}

<script>
    window.onload = function (event) {

        setTimeout(function(){
        
            $("[Name='idInvestidorManual']").select2({
                placeholder: " ",
                allowClear: true
            });
        
        }, 3000);
     
        location.href.replace(/\?.*/gi, "");

    };



    function fnAnexar(idComprovante) {

        showLoading("Wait a moment...");
        window.location = '../Carteira/AnexarComprovante?id=' + idComprovante;
    }

    function fnDepositar() {
        var valorSolicitado = $("#mValorLancamento").val();


        swal({
            title: "Attention",
            text: "Please confirm  U$ " + valorSolicitado + " transfer.",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: false
        }).then((result) => {
            if (result.value == true) {
                var form = $("#fmDepositar");
                showLoading("Wait a moment...");
                $.ajax({
                    url: '../Carteira/Depositar',
                    type: 'POST',
                    data: form.serialize(),
                    beforeSend: function () {

                    },
                    onsuccess: function () { },
                    success: function (result) {
                        if (result.statusRetorno == 'success') {

                            hideLoading();
                            swal({
                                title: "Successful",
                                text: "Your request was successful our team will contact you to set up the withdrawal. Best regards. 2BTrust",
                                type: "success",
                                showCancelButton: false,
                                confirmButtonText: "Your",
                                closeOnConfirm: false
                            }).then((result) => {

                                window.location = '../Carteira/Depositos'
                            });

                        }
                        else {
                            hideLoading();
                            swal("Atenção", result.statusRetorno, "error");
                        }
                    }
                });
            }
});




    }



    function btnSelecionar() {

        var idInvestidorManual = $("#idInvestidorManual").val();
        if (idInvestidorManual == '' || idInvestidorManual == 0) {
            swal("Atenção", "É necessário selecionar um investidor para esta opção!", "error");
        }
        else {

            showLoading("One Moment Please",'Loading...');
            window.location = '../Carteira/Depositos?m=' + idInvestidorManual;
        }


    }
    function btnCancelar() {
        $("#dvContent").removeClass('col-lg-9');
        $("#dvContent").addClass('col-lg-12');
        $("#btnAderir").fadeIn();
        $("#btnCancelar").fadeOut();

        $("#dvAderir").fadeOut();
    }

    function btnNovo() {

        $("#dvContent").removeClass('col-lg-12');
        $("#dvContent").addClass('col-lg-9');

        $("#btnAderir").fadeOut();
        $("#btnCancelar").fadeIn();

        $("#dvAderir").fadeIn();

    }

</script>
